<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <style></style>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="left" valign="top">
                    <table border="0" cellpadding="10" cellspacing="0" width="600" id="emailContainer">
                        <tr>
                            <td align="left" valign="top">
								<div th:text="#{email.ourref}"> Our Ref:</div>
                            </td>
                            <td align="left" valign="top" th:text="${recallDetail.recall.recallNo}">
								Recall Number
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">
								<div th:text="#{email.company.label}"> Company: </div>
                            </td>
                            <td align="left" valign="top" th:text="${recallDetail.contact.sub.comp.coname}">
								Sample company name
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">
								<div th:text="#{email.subdivision.label}">  Subdivision: </div>
                            </td>
                            <td align="left" valign="top" th:text="${recallDetail.contact.sub.subname}">
								Sample subdivision name 
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">
								<div th:text="#{email.contact.label}"> Contact: </div>
                            </td>
                            <td align="left" valign="top" th:text="${recallDetail.contact.name}">
								Sample contact name
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">
								<div th:text="#{email.recall.reporttype}"> Recall Type </div>
                            </td>
                            <td align="left" valign="top" th:text="${recallDetail.recallType}">>
								Recall type
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="2">
								<div th:text="#{recall.iberia.email.msg1}"> The EQUIPMENT listed in the attached file must be CALIBRATED or REVISED during the current month. </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="2">
								<div th:text="#{recall.iberia.email.msg2}"> NOTICE: Remember that equipment whose calibration has expired must be identified with a red out-of-service label. </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="2">
								<div th:text="#{recall.iberia.email.msg3}"> This email is for your information only.  Please do not respond to this address. </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" colspan="2">
								<strong th:text="${businessCompanyName}">Trescal business company name</strong><br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>