<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html" />
	<title
		th:text="#{email.genericreversetraceability.title}">
	</title>
</head>

<body class="document">

	<!-- page div -->
	<div style="height: 25cm; position: relative;">
		<span th:text="#{email.genericbackgroundtaskcompletion.hi}">Hi</span>,<br/>
		<span th:text="#{email.genericreversetraceability.title(${date})}"> A failure has occurred and a new analysis has been initiated : </span>
		<br/>
		<br/>
		<table>
			<thead>
				<tr>
					<th>Plant Id</th>
					<th>Instrument Model Name</th>
					<th>Atlas Certificate Number</th>
					<th>External Certificate Number</th>
					<th>Calibration Date</th>
					<th>Calibration Verification Status</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="i : ${dtos}">
					<tr>
					   	<td><span th:text="${i.instId}"></span></td>
					   	<td><span th:text="${i.instrumentModelName}"></span></td>
					   	<td><span th:text="${i.certno}"></span></td>
					   	<td><span th:text="${i.certExternalno}"></span></td>
					   	<td><span th:text="${i.calDate}"></span></td>
					   	<td><span th:text="${i.calibrationVerificationstatus}"></span></td>
					</tr>
				</th:block>
			
			</tbody>
			
		</table>
		
		<br/>
		<br/>

	</div>

</body>

</html>