<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
 
	<head>
		
		<meta http-equiv="Content-Type" content="text/html" />

		<title>#msg("email.instrumentvaliditycheck.title")</title>
		
		#documentStyles()

	</head>
	
	<body class="document">
	
		<!-- page div -->
		<div style=" position: relative; ">
		
			<!-- emailBusinessHeader($businessDetails) -->
			
			<h4>#msgText("email.instrumentvaliditycheck.summary" [$total])</h4>
	
			#if($mismatchInsts.size() > 0)
				<div>
					<h4>#msgText("email.instrumentvaliditycheck.detailmismatch" [$mismatchInsts.size()])</h4>
					
					<table style=" width: 100%; padding-top: 6px; font-family: arial, helvetica, sans-serif; font-size: 12px; border: 1px solid #999; " cellpadding="4" cellspacing="0" summary="This table displays instruments with mismatching contacts and addresses">
													
						<col width="10%" />
						<col width="20%" />
						<col width="10%" />
						<col width="15%" />
						<col width="15%" />
						<col width="15%" />
						<col width="15%" />
						
						<tr valign="middle">			
							<td style=" padding-bottom: 2px; "><strong>#msg("email.barcode")</strong></td>
							<td style=" padding-bottom: 2px; "><strong>#msg("email.desc")</strong></td>
							<td style=" padding-bottom: 2px; "><strong>#msg("email.serialno")</strong></td>
							<td style=" padding-bottom: 2px; "><strong>#msg("email.contact")</strong></td>
							<td style=" padding-bottom: 2px; "><strong>#msg("email.contactsubdiv")</strong></td>
							<td style=" padding-bottom: 2px; "><strong>#msg("email.address")</strong></td>
							<td style=" padding-bottom: 2px; "><strong>#msg("email.addresssubdiv")</strong></td>
						</tr>
				
						#foreach($inst in $mismatchInsts)
							<tr>
								#set($url = $deployedURL + "viewinstrument.htm?plantid=" + $inst.plantid)
								<td><a href="$url">$inst.plantid</a></td>
								
								<td>$inst.definitiveInstrument</td>
								
								<td>$!inst.serialno</td>
								
								#set($url = $deployedURL + "viewperson.htm?personid=" + $inst.con.personid)
								<td><a href="$url">$inst.con.name</a></td>
								
								#set($url = $deployedURL + "viewsub.htm?subdivid=" + $inst.con.sub.subdivid)
								<td><a href="$url">$inst.con.sub.subname</a></td>
								
								#set($url = $deployedURL + "viewaddress.htm?addrid=" + $inst.add.addrid)
								<td><a href="$url">$inst.add.addr1 , $!inst.add.town</a></td>
								
								#set($url = $deployedURL + "viewsub.htm?subdivid=" + $inst.add.sub.subdivid)
								<td><a href="$url">$inst.add.sub.subname</a></td>
							</tr>
						#end
						
					</table>
				</div>
			#end
			
			#if($stdsWithoutRecallDate.size() > 0)
				
				<div class="clear">&nbsp;</div>
				
				<div>
					<h4>#msgText("email.instrumentvaliditycheck.detailwithoutrecalldate" [$stdsWithoutRecallDate.size()])</h4>
					
					<table style=" width: 100%; padding-top: 6px; font-family: arial, helvetica, sans-serif; font-size: 12px; border: 1px solid #999; " cellpadding="4" cellspacing="0" summary="This table displays instrument standards without recall dates">
													
						<col width="10%" />
						<col width="50%" />
						<col width="20%" />
						<col width="20%" />
						
						<tr valign="middle">			
							<td style=" padding-bottom: 2px; "><strong>#msg("email.barcode")</strong></td>
							<td style=" padding-bottom: 2px; "><strong>#msg("email.desc")</strong></td>
							<td style=" padding-bottom: 2px; "><strong>#msg("email.serialno")</strong></td>
							<td style=" padding-bottom: 2px; "><strong>#msg("email.contact")</strong></td>
						</tr>
				
						#foreach($inst in $stdsWithoutRecallDate)
							<tr>
								#set($url = $deployedURL + "viewinstrument.htm?plantid=" + $inst.plantid)
								<td><a href="$url">$inst.plantid</a></td>
								
								<td>$inst.definitiveInstrument</td>
								
								<td>$!inst.serialno</td>
								
								#set($url = $deployedURL + "viewperson.htm?personid=" + $inst.con.personid)
								<td><a href="$url">$inst.con.name</a></td>
							</tr>
						#end
						
					</table>
				</div>
			#end
			
		</div>
	
	</body>
	
</html>