/*
Add dialog-no-close class to jquery dialogs to overide jquery theme and get theme
that matches rest of app.
class can be added when initializing dialog by adding
dialogClass: "dialog-no-close" to the initialization object
 */

.dialog-no-close .ui-dialog-titlebar-close {
    display: none;
}

.dialog-no-close .ui-widget-header {
    height: 20px;
    background-image: none;
}

.dialog-no-close .ui-dialog-title {
    font-size: 1.6em;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    text-align: left;
    font-style: italic;
    color: #FFFFFF;

}

.dialog-no-close.ui-dialog {
    font-family: arial, helvetica, sans-serif;
    font-size: 76%;
}

.dialog-no-close .ui-corner-all {
    border-radius: 0px;
}

.dialog-no-close .ui-widget-content input, .dialog-no-close .ui-widget-content select, .dialog-no-close .ui-widget-content textarea, .dialog-no-close .ui-widget-content button {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

.dialog-no-close .ui-widget-content option {
    padding: 6px;
}

.dialog-no-close .ui-dialog-content fieldset {
    padding-top: 10px;
}

