/*****************************************************************************************************************************************************
'									CWMS (Calibration Workflow Management System)
'										
'									Copyright 2006, Antech Calibration Services
'											www.antech.org.uk
'							
'											All rights reserved
'				
'										Document author: 	Stuart Harrold
'
'	FILENAME			:	form.css
'	DESCRIPTION			: 	Cascading Style Sheets file.
'	DEPENDENCIES		: 	-
'
'	TO-DO				: 	-
'	KNOWN ISSUES		: 	-
'	HISTORY				: 	29/08/2008 - SH - Created file.
'
****************************************************************************************************************************************************/

/********************************************************************************************************************************
*
*	form styles
*
*********************************************************************************************************************************
*/

/* keeps long select box in line */
.ajaxlabel
{
	height: 90px;
}

.twolabel
{
	height: 40px;
}

.threelabel
{
	height: 60px;
}

.searchItemOptions
{
	clear: both;
}

.titleval
{
	clear: left;
	width: 150px;
	float: left;
	padding: 16px 20px 0 0;
}

.value
{
	clear: right;
	width: auto;
	padding-top: 16px;
}

.thirdquotelink
{
	width: 60%;
	margin: 0 auto 10px auto;
}

.thirdquotelink a
{
	width: 100%;
	text-align: right;
	display: block;
}

.symbolbox
{
	width: 50px;
	padding: 2px;
	float: left;
	/* Text alignment is not set here, and should not be, because it affects instruction edits using symbols */
}

.symbolbox2
{
	position: absolute;
	left: 110px;
	width: 600px;
}

.valuebox
{
	display: block;
	float: left;
	width: 102px !important; width: 100px;
	position: relative;
}

.valuetext
{
	right: 0;
	position: absolute;
}

.hasDatepicker
{

}

/*
********************************************************************
*
*	specific form styles
*
********************************************************************
*/

/* sets form text to align center which is needed for ie to align fieldset in center of page */
#searchquoteform, #tpquotesearchform, #goodsinform, #addjobform, #compsearch, #contactsearch,
#jobsearchform, #deliverynotesearch, #cdsearch, #searchmodelform, #searchmodelcomponent,
#calibrationpointsform, #searchinvoiceform, #searchemail, #searchproceduresform, #searchwiform,
#createpricelistform, #searchpricelistform
{
	text-align: center;
}

/* sets width of search fieldsets and the margin style aligns in center of page (firefox) */
#deliverynotesearch fieldset, #cdsearch fieldset, #searchemail fieldset, #searchwiform fieldset,
#searchquoteform fieldset
{
	width: 60%;
	margin: 0 auto 0 auto;
}

/* sets width of search fieldsets and the margin style aligns in center of page (firefox) */
#goodsinform fieldset, #searchmodelform fieldset,
#searchmodelcomponent fieldset#componentbrowser, #tpquotesearchform fieldset,
#searchinvoiceform fieldset, #searchproceduresform fieldset,
#createpricelistform fieldset, #searchpricelistform fieldset
{
	width: 80%;
	margin: 0 auto 0 auto;
}

/* sets width of search fieldsets and the margin style aligns in center of page (firefox) */
#compsearch fieldset, #contactsearch fieldset, #calibrationpointsform fieldset
{
	width: 90%;
	margin: 0 auto 0 auto;
}

#subdivfield label, #instrumentSearch .displaycolumn-35 label, #addinstrums .displaycolumn-35 label,
 #noteWindow fieldset label, #formulaeOptions label, #createEmail label,
#picklistOptions label, #viewInstrumentImage label, #searchpricelistitemform label, #searchquoteitemform label
{
	width: 100px;
}

#viewPOInfo label, #calibrationpointsform label
{
	width: 110px;
}

#newquoteversionform #newversioninfo label, #instrumentSearch .displaycolumn-65 label, #jobsearchform label,
#contactedit .displaycolumn-40 label, .searchCompanyInstruments .instSearchColumn label, #addmodeltoquote label,
#procedureSearch label
{
	width: 130px;
}

#tpquotesearchform label, #qtcform label, #editquotationitem label, #viewprocedure label, #threadform label,
fieldset.quoteReqToQuote label.contact, #createhireenquiryform label, .editHireForm label
{
	width: 160px;
}

#editprocedureform label, #viewprocedure label, #editcontprocaccredform label, #newcalibration label, 
#editjobcostingitem label, fieldset.quoteReqToQuote label, #chaseJIBoxy label, .userPreferences label,
.contactUserPrefs label, #jiHeader label.calreqinstruct, #jiThirdParty label.instruction, .companySupplierForm label,
.editCaltypeForm label
{
	width: 200px;
}

#newquoteversionform #questions label, #viewcompanyinstrument label, .addEditAssetForm select
{
	width: 250px;
}

#tpquoterequestform #quotationitems label, #viewquotationpage #quotationitems label, #addcompany .supplier label
{
	width: 260px;
}

#editquotationitem #costs label, #editcompany label
{
  	width: 300px;
}

#jifaultreport label
{
	width: 380px;
}

#jifaultreport label.frdetails, #completecalibration label
{
	width: 220px;
}

input.date, #searchquoteform input.date, .addEditAssetForm input.date
{
	width: 140px;
}

#jicreatePO input
{
	width: 80px;	
}

#jicreatePO select
{
	width: 190px;	
}

#jicreatePO textarea
{
	width: 250px;
	height: 60px;	
}

#jicreatePO select#po_retaddressid, #addcompany .supplier .checkbox

{
	width: auto;
}

/* sets width of input fields */
#goodsinform input, #addjobform input, #editcompany #coname,
#contactadd input:not([type=radio]), #addcompany input, #searchmodelcomponent input, #scanItemsInOut input
{
	width: 240px;
}

#searchquoteform input, #tpquotesearchform input, #jobsearchform input,
#searchinstrumentform input#manufacturer, #searchinstrumentform input#desc, #searchinstrumentform input#family, 
#searchinstrumentform input#model,#searchinstrumentform input#mfr,#searchinstrumentform input#customerDescription,
#certsearchform input#certNo, #certsearchform input#desc, #certsearchform input#model, #certsearchform input#mfr,  
#certsearchform input#tpCertNo, #certsearchform input#jobNo,  
#addinstrums #manufacturer input, #addinstrums #descrip input, #addinstrums #model, 
#freehandContactConversionUtility input, #certsearchform input#procedureReferenceAndName,
#searchcompanylistform input#name, #searchcompanylistform input#nameList

{
	width: 300px;
}

#searchmodelform input, #newWorkRequirementOverlay input#procedureReferenceAndName
{
	width: 500px;
}

#jobsearchform input.date, #addcompany .supplier input.date
{
	width: 80px;
}

/* GB changed to preface with #editmodel as this was previously causing all input#desc to expand to 500 px, too wide per DBD 2016-04-28 */
#editmodel input#modelname, #editmodel input#descname, #editmodel input#salesCategoryText , #editmodelsalescategory input#salesCategoryId
{
	width: 500px;
}

#addWebResource input, .newAccessory input
{
	width: 380px;
}

#compsearch input
{
	width: 99%;
}

#feedbackform input, #feedbackform textarea
{
	width: 70%;
}

#compSearchPlugin input, #cascadeSearchPlugin input, .extendPluginInput .compSearchJQPlugin input, 
#newjobitemsearchform .displaycolumn input:not([type=checkbox]), 
#searchtpquoteitemform .displaycolumn-60 input, .contentbody .mfrSearchJQPlugin input, .contentbody .instDescSearchJQPlugin input,
.compDescSearchJQPlugin input, .addEditAssetForm input, #searchpricelistitemform .displaycolumn-60 input
{
	width: 260px;
}

/* For use where possible on company names as some are really long */
.widePluginInput .compSearchJQPlugin input
{
	width: 500px;
}

.newjobmodels .mfrSearchJQPlugin input
{
	width: 140px;
}

#createEmail input#subject, #addEditCreditNoteItemOverlay input#newItemDesc,
#searchquoteitemform .displaycolumn input#domainNm, 
#searchquoteitemform .displaycolumn input#familyNm, 
#searchquoteitemform .displaycolumn input#descNm, 
#searchquoteitemform .displaycolumn input#mfrtext, 
#searchquoteitemform .displaycolumn input#modeltext,
#searchquoteitemform .displaycolumn input#salesCat,
#viewCompanyInstrumentsForm input:not([type=submit]):not([type=button]):not([type=checkbox]),
#contactedit input#email
{
	width: 300px;
}

#editquotationitem #quoteiteminfo input, #viewquotationeditform input, .companyAccountForm input
{
	width: 200px;
}

#jobsearchform .displaycolumn-40 input, #contactedit input:not([type=radio]):not([type=checkbox])
{
	width: 180px;
}

#editquotationitem #costs input, #editjobcostingitem #costs input, .editinvoiceitem input, .companyAccountForm input.small
{
	width: 100px;
}

#editjobcostingitem #costs input.widthAuto, .addEditAssetForm input.widthAuto, .companyAccountForm input.widthAuto,
.newAccessory input.widthAuto, #searchmodelform input.widthAuto, #newjobitemsearchform .displaycolumn .widthAuto
{
	width: auto;
}

#changeUserAccreditationOverlay select
{
	width: 94px !important; width: 90px;
}

#editjobcostingitem #costs select
{
	width: 154px !important; width: 150px;
}

#contactsearch input
{
	width: 150px;
	vertical-align: middle;
}

#contSearchPlugin input
{
	width: 91px;
}

#modelcalprices input
{
	width: 91px;
	vertical-align: middle;
}

#editquotationitem #quoteiteminfo select#headingId, #viewquotationeditform select, #newquoteversionform #newversioninfo select,
#editmodel select, #editcontprocaccredform select
{
	width: 204px !important; width: 200px;
}

#editquotationitem #quoteiteminfo select, #editquotationitem #availablebaseunits select, #contactedit #title, #contactadd #title,
#searchmodelcomponent #stock, #searchquoteitemform #showmodeltypes, #addjobform select#bookedInAddrId,
#addjobform select#bookedInLocId, #searchpricelistitemform #showmodeltypes
{
	width: auto;
}

#addjobform select, #editcompany #businessareaid, #editcompany #countryid,
#contactadd select, #addinstruction select
{
	width: 246px;
}

#freehandContactConversionUtility select
{
	width: 264px !important; width: 260px;
}

#tpquotesearchform select
{
	width: 264px !important; width: 260px;
	display: block;
}

#newcalibration select#procSelect
{
	width: 72%;
}

#tpquotesearchform #statusid
{
	display: inline;
}

#compsearch ol li, #contactsearch ol li
{
	width: 90%;
	margin: 0 auto 0 auto;
	text-align: center;
}

ol.editinvoiceitem, ol.editinvoiceitem li
{
	padding: 5px 0px 5px 0px;
}

#compsearch div, #contactsearch div
{
	width: 100%;
	margin: 0 auto 0;
	position: relative;
}

#compsearch div div
{
	width: 630px;
	margin: 0 auto 0;
}

div#mfr-container, div#instdesc-container, div#comp-container, div#cont-container, div#compdesc-container,
div#subdiv-container, div#addr-container
{
	position: relative;
	margin-top: 2px;
	width: 260px;
}

div.pluginHead
{
	position: absolute;
	text-align: center;
	font-size: 90%;
	width: 100%;
	height: 20px;
	line-height: 20px;
	left: 1px;
	top: 0;
	z-index: -1;
	display: none;
}

div.pluginFoot
{
	position: absolute;
	text-align: right;
	font-size: 90%;
	width: 100%;
	height: 18px;
	line-height: 18px;
	left: 1px;
	top: 122px;
	z-index: -1;
	display: none;
}

div#mfrPlugResults, div#descPlugResults, div#compPlugResults, div#contPlugResults, div#subdivPlugResults,
div#addrPlugResults, div#locPlugResults
{
	position: absolute;
	left: 1px;
	top: 20px;
	z-index: -1;
	display: none;
}

#compSearchPlugin
{
	float: left;
}

#compSearchPlugin img, #contSearchPlugin img,
#manufacturerInputOnly img.searchimage,
#instdescriptionTextOnly img.searchimage
{
	padding: 0;
	margin-bottom: -2px;
}

/* Widened from 310 to 350 to fix Spanish wrapping issues GB 2015-05-20 */
div#compSearchPlugin, div#subdivSearchPlugin, div#addrSearchPlugin, div#contSearchPlugin
{
	width: 350px;
}

div#locSearchPlugin
{
	width: 640px;
}

#cascadeSearchPlugin
{
	float: left;
	width: 300px;
}

#contactsearch div div
{
	width: 570px;
	margin: 0 auto 0;
	padding-top: 2px;
}

#contSearchPlugin
{
	float: left;
}

#contactsearch div.searchfields
{
	margin-bottom: 6px;
}

#contSearchPlugin div.searchfields
{
	width: 260px;
	display: inline;
}

#compsearch div span#loading, #contactsearch span#loading
{
	position: absolute;
	right: 4px;
	top: 2px;
}

#searchquoteform #submit, #tpquotesearchform #submit, #addjobform #submit,
#jobsearchform #submit, #jobsearchform #clear, #viewquotationeditform #submit, #editaddress #submit,
#searchmodelform #submit, #searchmodelcomponent #submit, #addWebResource #submit,
#editprocedureform #submit, #searchquoteitemform #submit, #searchquoteitemform #clear,
#newjobitemsearchform .submit, #searchtpquoteitemform #submit, #searchtpquoteitemform #clear,
.addEditAssetForm .button, .companyAccountForm input.submit, #freehandContactConversionUtility input.submit,
#addEditCreditNoteItemOverlay input.submit, #searchpricelistitemform #submit, #searchpricelistitemform #clear
{
	width: 80px;
}

#editcompany #submit, #contactadd #submit, #addcompany #submit,
#contactedit #submit, #feedbackform #submit
{
	width: 120px;
}

#compsearch #newcompany
{
	width: 160px;
}

#searchquoteitemform .defaultmodules, #searchpricelistitemform .defaultmodules
{
	height: 64px;
}

#searchquoteitemform fieldset, #tpquoterequestform fieldset, #searchpricelistitemform fieldset
{
	margin: 10px auto 10px;
}

#newquoteversionform .radiobutton, #contactadd .radiobutton, #contactedit .radiobutton
{
	width: 14px;
	margin-left: 4px;
	margin-right: 4px;
}

#jobsearchform .checkbox, #viewquotationeditform .checkbox, #editaddress .checkbox,
#contactsearch .checkbox, #compsearch .checkbox, #editcompany .checkbox, #contactedit .checkbox,
#createjob .checkbox, #editprocedureform .checkbox
{
	width: 14px;
	vertical-align: middle;
	margin: 0 4px 2px;
}

#searchquoteitemform .result_text, #searchtpquoteitemform .result_text, #searchpricelistitemform .result_text
{
	border: 0;
	float: left;
	width: 80%;
}

#usergroups .usergroupproperties
{
	width: 28%;
	float: right;
}

#usergroups .usergrouptext
{
	width: 68%;
 	float: left;
 	padding: 10px;
}

#quoteheadingform .headingtext, #viewinstructions .instructiontext,
#tpquoteitemresults .headingtext
{
	float: left;
	width: 73%;
}

#searchquoteitemform .add_default, #searchtpquoteitemform .add_default, #searchpricelistitemform .add_default
{
	float: right;
	width: 19%;
}

#quoteheadingform .headingoptions, #viewinstructions .instructionoptions, #tpquoteitemresults .headingoptions
{
	float: right;
	width: 25%;
	margin-right: 10px;
}

#quoteheadingform .headingoptions div, #viewinstructions .instructionoptions div, #tpquoteitemresults .headingoptions div
{
	display: block;
	padding: 5px 5px 5px 0;
	padding-left: 15%;
}

#searchquoteitemform .result_text a, #searchtpquoteitemform .result_text a, #searchpricelistitemform .result_text a
{
	display: block;
	padding: 5px;
}

#searchquoteitemform .add_default span, 
#searchquoteitemform .add_default a, #searchtpquoteitemform .add_default a, #searchpricelistitemform .add_default a
{ 
	display: block;
	padding: 5px 5px 5px 0;
	padding-left: 15%;
}

#tpquoterequestform .modulebox
{
	margin: 0;
}

#tpquoterequestform #modeltypeqty
{
	width: 10px;
	text-align: center;
	position: absolute;
	left: 500px;
	top: 0px;
}

#tpquoterequestform #linktoquote fieldset, #tpquoterequestform #contactinfo fieldset
{
	margin: 10px 0 10px 0;
}

#tpquoterequestform .moduleoption
{
	margin-left: 10px;
}

#editaddress .labelhead, #contactadd .labelhead, #despatchsummary .labelhead, #dwrProcedureDetails .labelhead,
#completecalibration .labelhead, #newcalibration .labelhead, #jifaultreport .labelhead, .tpInstructions .labelhead
{
	width: 90%;
}

#newquoteversionform fieldset li
{
	min-height: 24px;	
}

#newquoteversionform #duration
{
	width: 100px;
}

#quoteheadingform #itemoptions
{
	height: 50px;
}

#tpquoteitemresults ul li span
{
	margin: 0 10px 0;
}

#tpquoteitemresults .tpitemqty
{
	width: 20px;
	text-align: center;
}

#deliverynotesearch select#coroleselect, #createschedule select#coroleselect, #searchschedules select#coroleselect
{
	margin-bottom: 10px;
}

#creategendelnote #cdOptions, #createdelnote #cdOptions
{
	margin-top: 0;
	padding-top: 0;
}

#manufacturerInputOnly, #instdescriptionTextOnly
{
	width: 310px;
	float: left;
}

.accountbox
{
	float: left;	
	height: 150px;
	overflow: scroll;
	overflow-x: hidden;
	padding: 5px;
}

#createUpcomingWorkBoxy .compSearchJQPlugin input, #createUpcomingWorkBoxy input#title,
#createUpcomingWorkBoxy textarea#desc
{
	width: 260px;
}

#createUpcomingWorkBoxy textarea#desc
{
	height: 60px;
}

body.iframed #calibrationpointsform fieldset
{
	padding-bottom: 0;
}

/* hire accessories */

.activeHireInstAccessories .hireAccItem, .activeHireInstAccessories .hireAccItemHead, .inactiveHireInstAccessories .hireAccItem, .inactiveHireInstAccessories .hireAccItemHead
{
	float: left;
	min-height: 22px;
	width: 460px;
	line-height: 2.0;
}

.activeHireInstAccessories .hireAccItemHead, .inactiveHireInstAccessories .hireAccItemHead
{
	line-height: normal;
}

.activeHireInstAccessories .hireAccStatus, .inactiveHireInstAccessories .hireAccStatus
{
	float: left;
	min-height: 22px;
	width: 130px;
}

#completecalibrationform select#existingCertId
{
	width: 600px;
}

#editinstrument input#customerDescription, input#customerSpecification, input#modelName,
  input#defaultClientRef, input#freeTextLocation, input#clientBarcode, input#serialNo,
  input#plantNo, input#firmwareAccessCode
{
	width: 260px;
}

.flexibleFieldDefinition .libraryValue
{
	width: 500px;
}

input.width300
{
	width: 300px;
}
