/*****************************************************************************************************************************************************
'									CWMS (Calibration Workflow Management System)
'										
'									Copyright 2006, Antech Calibration Services
'											www.antech.org.uk
'							
'											All rights reserved
'				
'										Document author: 	Stuart Harrold
'
'	FILENAME			:	plugin.css
'	DESCRIPTION			: 	Cascading Style Sheets file.
'	DEPENDENCIES		: 	-
'
'	TO-DO				: 	-
'	KNOWN ISSUES		: 	-
'	HISTORY				: 	29/08/2008 - SH - Created file.
'
****************************************************************************************************************************************************/

/*
*********************************************************************************************************************************
*
*	JQuery search plugin styles - multiple page occurences allowed
*	Procedure builder formulae text search styles
*
*********************************************************************************************************************************
*/

div.emailContainer, div.instDescContainerJQPlugin
{
	position: relative;
	margin-top: 0px;
	width: 300px;
}

div.procContainerJQPlugin, div.workinstContainerJQPlugin
{
	position: relative;
	margin-top: 0px;
	width: 250px;
}

div.mfrContainerJQPlugin, div.poContainerJQPlugin, 
div.threadContainerJQPlugin, div.compContainerJQPlugin,
div.compDescContainerJQPlugin, div.certTempContainerJQPlugin
{
	position: relative;
	margin-top: 0px;
	width: 170px;
}

div.emailResults, div.mfrResultsJQPlugin, div.poResultsJQPlugin,
div.procResultsJQPlugin, div.workinstResultsJQPlugin, div.threadResultsJQPlugin,
div.compResultsJQPlugin, div.instDescResultsJQPlugin, div.compDescResultsJQPlugin,
div.certTempResultsJQPlugin
{
	width: 350px;
	height: 120px; 
	overflow: auto;
	overflow-x: hidden;
	font-size: 90%;
	text-align: left;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	display: none;
}

div.emailFoot, div.mfrFootJQPlugin, div.poFootJQPlugin,
div.procFootJQPlugin, div.workinstFootJQPlugin, div.threadFootJQPlugin,
div.compFootJQPlugin, div.instDescFootJQPlugin, div.compDescFootJQPlugin,
div.certTempFootJQPlugin
{
	position: absolute;
	text-align: right;
	font-size: 90%;
	width: 206%;
	height: 18px;
	line-height: 18px;
	left: 0px;
	top: 122px;
	z-index: -1;
	display: none;
}


/* po search plugin anchor style */
div.poContainerJQPlugin a:link, div.poContainerJQPlugin a:visited
{
	display: block;
	position: relative;
	width: 100%;
	height: 24px;
}

/* po search plugin styles */
div.poContainerJQPlugin a .number, div.poContainerJQPlugin a .type
{
	display: block;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding-left: 4px;
}

/* po search plugin styles */
div.poContainerJQPlugin a .number
{
	width: 164px;
	left: 0;
}

/* po search plugin styles */
div.poContainerJQPlugin a .type
{
	width: 50px;
	left: 170px;
}

#formulaeTextOptions
{
	width: 401px;
	height: 100px; 
	overflow: auto;
	overflow-x: hidden;
	font-size: 90%;
	text-align: left;
	z-index: 1000;
}

div.emailResults a:link, div.emailResults a:visited,
div.mfrResultsJQPlugin a:link, div.mfrResultsJQPlugin a:visited,
div.certTempResultsJQPlugin a:link, div.certTempResultsJQPlugin a:visited,
div.poResultsJQPlugin a:link, div.poResultsJQPlugin a:visited,
div.procResultsJQPlugin a:link, div.procResultsJQPlugin a:visited,
div.threadResultsJQPlugin a:link, div.threadResultsJQPlugin a:visited,
div.workinstResultsJQPlugin a:link, div.workinstResultsJQPlugin a:visited,
div.compResultsJQPlugin a:link, div.compResultsJQPlugin a:visited,
div.instDescResultsJQPlugin a:link, div.instDescResultsJQPlugin a:visited,
div.compDescResultsJQPlugin a:link, div.compDescResultsJQPlugin a:visited,
#formulaeTextOptions a:link, #formulaeTextOptions a:visited
{
	display: block;
	width: 100%;
	height: 18px;
	line-height: 1.8;
	text-decoration: none;
	padding-left: 4px;
	overflow: hidden;
	white-space: nowrap;
}

/*
*********************************************************************************************************************************
*
*	Search plugin styles
*
*********************************************************************************************************************************
*/

.pluginResults, .generalResults
{
	width: 100%;
	height: 120px; 
	overflow: auto;
	overflow-x: hidden;
	font-size: 90%;
}

#cascadeSearchPlugin #comp-container, #cascadeSearchPlugin #subdiv-container,
#cascadeSearchPlugin #cont-container, #cascadeSearchPlugin #addr-container
{
	position: static;
}

#cascadeSearchPlugin
{
	position: relative;
	z-index: 500;
}

#cascadeSearchPlugin #addrSearchPlugin .pluginResults, #cascadeSearchPlugin #contSearchPlugin .pluginResults,
#cascadeSearchPlugin #subdivSearchPlugin .pluginResults, #cascadeSearchPlugin #locSearchPlugin .pluginResults,
#editinstrument .pluginResults, #cascadeSearchPlugin #compSearchPlugin .pluginResults
{
	height: 80px; 
}

#cascadeSearchPlugin #compSearchPlugin div.pluginHead
{
	top: 24px;	
	width: 400px;
}

#cascadeSearchPlugin #subdivSearchPlugin div.pluginHead
{
	top: 128px;	
	width: 400px;
}

#cascadeSearchPlugin #locSearchPlugin div.pluginHead
{
	top: 232px;
	left: 400px;
	width: 400px;
}

#cascadeSearchPlugin #contSearchPlugin div.pluginHead
{
	top: 24px;
	left: 400px;
    width: 400px;	
}

#recordTPQuoteOverlay #cascadeSearchPlugin, #createUpcomingWorkBoxy #cascadeSearchPlugin,
.editquotationrequest #existingcompany li, .editquotationrequest #cascadeSearchPlugin,
#requestTPQuoteOverlay #cascadeSearchPlugin
{
	height: 340px;
}

#recordTPQuoteOverlay #cascadeSearchPlugin #contSearchPlugin div.pluginHead,
#createUpcomingWorkBoxy #cascadeSearchPlugin #contSearchPlugin div.pluginHead,
.editquotationrequest #cascadeSearchPlugin #contSearchPlugin div.pluginHead,
#requestTPQuoteOverlay #cascadeSearchPlugin #contSearchPlugin div.pluginHead
{
	top: 232px;
	left: 1px;
}

#cascadeSearchPlugin #addrSearchPlugin div.pluginHead
{
	top: 128px;
	left: 400px;	
	width: 400px;
}

#cascadeSearchPlugin #compSearchPlugin div#compPlugResults
{
	top: 44px;	
	width: 400px;
}

#cascadeSearchPlugin #subdivSearchPlugin div#subdivPlugResults
{
	top: 148px;	
	width: 400px;
}

#cascadeSearchPlugin #locSearchPlugin div#locPlugResults
{
	top: 253px;
	left: 400px;
	width: 400px;
}

#cascadeSearchPlugin #contSearchPlugin div#contPlugResults
{
	top: 44px;
	left: 400px;
    width: 400px;	
}

#recordTPQuoteOverlay #cascadeSearchPlugin #contSearchPlugin div#contPlugResults,
#createUpcomingWorkBoxy #cascadeSearchPlugin #contSearchPlugin div#contPlugResults,
.editquotationrequest #cascadeSearchPlugin #contSearchPlugin div#contPlugResults,
#requestTPQuoteOverlay #cascadeSearchPlugin #contSearchPlugin div#contPlugResults
{
	top: 252px;
	left: 1px;
}

#cascadeSearchPlugin #addrSearchPlugin div#addrPlugResults
{
	top: 148px;
	left: 400px;	
	width: 400px;
}

fieldset#instrumentSearch .pluginResults
{
	height: 80px;
}

.generalResults
{
	height: 80px;
}

.pluginResults a:link, .pluginResults a:visited, .generalResults a:link, .generalResults a:visited
{
	display: block;
	whitespace: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	height: 18px;
}

.pluginHeader span, .generalHeader span
{
	height: 18px;
	line-height: 18px;
}

.pluginHeader, .generalHeader
{
	width: 100%;
	height: 18px;
	font-size: 90%;
}

#multiContSearchPlugin .pluginHeader
{
	position: relative;
	margin-top: 10px;
}

#multiContSearchPlugin .pluginResults
{
	position: relative;
}

/* multi contact search plugin ajax headings */
#multiContSearchPlugin .multiContHead
{
	width: 181px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
}

/* multi contact search plugin ajax headings */
#multiContSearchPlugin .multiSubHead
{
	width: 400px;
	display: block;
	position: absolute;
	left: 182px;
	top: 0px;
}

/* multi contact search plugin ajax headings */
#multiContSearchPlugin .multiCompHead
{
	width: 650px;
	display: block;
	position: absolute;
	left: 423px;
	top: 0px;
}

#multiContSearchPlugin .multiContSpan, #multiContSearchPlugin .multiSubSpan,
#multiContSearchPlugin .multiCompSpan
{
	position: absolute;
	display: block;
	padding-left: 5px;
	line-height: 1.8;
}

/* multi contact search plugin ajax result span */
#multiContSearchPlugin .multiContSpan
{
	width: 176px;
	left: 0px;
	top: 0px;
}

/* multi contact search plugin ajax result span */
#multiContSearchPlugin .multiSubSpan
{
	width: 400px;
	left: 180px;
	top: 0px;
}

#multiContPlugResults a.selected, #multiContPlugResults a:hover, .pluginResults a:hover, 
.pluginResults a.selected
{
	/*font-weight: bold;*/
	/*font-size: 106%;*/
}

/* multi contact search plugin ajax result span */
#multiContSearchPlugin .multiCompSpan
{
	width: 300px;
	left: 582px;
	top: 0px;
}

#contDivHeadPlugin span
{
	height: 18px;
	line-height: 18px;
}

ol#multiContact
{
	width: 440px; 
	margin: 0 auto 0;
}

ol#multiContact li
{
	line-height: 2.0;
}

div#multimod-list ol label
{
	width: 100px;
}

#multiContSearchPlugin
{
	text-align: center;
}

#multiContSearchPlugin fieldset
{
	width: 700px;
	margin: 0 auto 0 auto;
	padding-bottom: 10px;
}

#multiContSearchPlugin fieldset div
{
	width: 950px;
	margin: 0 auto 0;
}
