/*****************************************************************************************************************************************************
'									CWMS (Calibration Workflow Management System)
'										
'									Copyright 2006, Antech Calibration Services
'											www.antech.org.uk
'							
'											All rights reserved
'				
'										Document author: 	Stuart Harrold
'
'	FILENAME			:	subnavtabs.css
'	DESCRIPTION			: 	Cascading Style Sheets file. Supplies custom widths for subnavtab navigation tabs.
						:	Overrides default width set in structure stylesheet.
'	DEPENDENCIES		: 	-
'
'	TO-DO				: 	-
'	KNOWN ISSUES		: 	-
'	HISTORY				: 	13/11/2008 - SH - Created file.
'                           2015-11-20 - GB - Removed width overrides for company page
'                           2016-06-20 - GB - Removed width overrides for quotation/invoice pages
****************************************************************************************************************************************************/

ul.subnavtab a#existingBaseunits-link,
ul.subnavtab a#newBaseunits-link, ul.subnavtab a#existingModules-link, ul.subnavtab a#newModules-link,
ul.subnavtab a#existingComponents-link, ul.subnavtab a#newComponents-link, a.subnavtab
{
	width: 230px;
}

ul.subnavtab a#accountsvarification-link
{
	width: 260px;
}

ul.subnavtab a#existcustnewmodelsales-link
{
	width: 240px;
}

ul.subnavtab a {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

