.filters tbody tr:nth-child(odd) {
    background-color: var(--cwms-table-odd-background, #F0F0F6);
}
table.capabilitytable .filters tbody tr:nth-child(odd) td {
    border-left: 1px solid var(--cwms-main-light-font-color,#F2F2F2);
}

table.capabilitytable .child-table.filters thead .filterServiceType {
    width: 5%;
}
table.capabilitytable .child-table.filters thead .filterServiceTypeLong {
    width: 5%;
}
table.capabilitytable .child-table.filters thead .filterCapability {
    width: 5%;
}
table.capabilitytable .child-table.filters thead .filterActive {
    width: 5%;
}
table.capabilitytable .child-table.filters thead .filterWorkRequirement {
    width: 5%;
}
table.capabilitytable .child-table.filters thead .filterCalibrationProcess {
    width: 5;
}
table.capabilitytable .child-table.filters thead .filterWorkInstruction {
    width: 5%;
}
table.capabilitytable .child-table.filters thead .filterEstimatedTime {
    width: 4%;
}
table.capabilitytable .child-table.filters thead .filterBestLab {
    width: 4%;
}
table.capabilitytable .child-table.filters thead .filterComments {
    width: 20%;
}
table.capabilitytable .child-table.filters thead .filterCategory {
    width: 15%;
}

table.capabilitytable .child-table.filters thead .filterDescription {
    width: 20%;
}

table.capabilitytable .child-table.filters td {
    border-left: 1px solid var(--cwms-infobox-gray-background,#F2F2F2);
}