<%@ tag language="java" display-name="businessSubdivisionSpecific" pageEncoding="UTF-8" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<img src="img/icons/house.png" width="24" height="16" alt="<spring:message code="businesssubdivisionsetting"/>" title="<spring:message code="businesssubdivisionsetting"/>"/>