<%@ tag language="java" display-name="globalSetting" pageEncoding="UTF-8" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<img src="img/icons/global.png" width="24" height="16" alt="<spring:message code="globalsetting"/>" title="<spring:message code="globalsetting"/>"/>