<%@ tag language="java" display-name="showRolloverMouseIcon" pageEncoding="UTF-8" trimDirectiveWhitespaces="true" %>

<img src="img/icons/mouse.png" width="12" height="12" class="image_inl" alt="" title="" />