/*****************************************************************************************************************************************************
'									CWMS (Calibration Workflow Management System)
'										
'									Copyright 2006, Antech Calibration Services
'											www.antech.org.uk
'							
'											All rights reserved
'				
'										Document author: 	Stuart Harrold
'
'	FILENAME			:	structure_web.css
'	DESCRIPTION			: 	cascading stylesheet file for website.
'	DEPENDENCIES		: 	-
'
'	TO-DO				: 	-
'	KNOWN ISSUES		: 	-
'	HISTORY				: 	19/03/2009 - SH - Created file.
'
****************************************************************************************************************************************************/

div.tooltip
{
	display: none; 
    padding: 2px;
    width: 200px;
	background-color: #ff9900;
	border: 1px solid #999;
}

div.tooltip > div
{
	padding: 10px;
	color: #666;
	border: 1px solid #999;
	background-color: #FFEFD7;
}

.range
{
	height: 24px;
}

#instrumentRanges .rstart, #instrumentRanges .rend, #instrumentRanges .ruom
{
	width: 100px;
	margin: 0 10px 0 0;
	padding-left: 4px;
	height: 18px;
	float: left;
	line-height: 20px;
	background-color: #fff;
	border: 1px solid #999;
}

#instrumentRanges .rend, #instrumentRanges .ruom
{
	margin: 0 10px;
}

/*
**********************************************************************************************************************************
*
*	global classes
*
**********************************************************************************************************************************
*/
 
.clear, .clear_border	{ clear:both; }
.clear-0				{ clear: both; height: 0; padding: 0; margin: 0; visibility: hidden; }
.float-left,
.float-left-margin    	{ float:left; }
.float-right   			{ float:right; }


.marg					{ margin: 10px; }
.marg-top				{ margin-top: 10px; }
.marg-bot				{ margin-bottom: 10px; }
.center                 { margin-left: auto; margin-right: auto; text-align: center; }

.marg-top-small			{ margin-top: 2px; }
.marg-bot-small			{ margin-bottom: 2px; }
.marg-left-md			{ margin-left: 5px; }
.marg-right-md			{ margin-right: 5px; }

.marg-topminus2			{ margin-top: -2px; }
.marg-botminus2			{ margin-bottom: -2px; }
.error > img			{ margin-bottom: -4px; }
 
.img-left      			{ float:left;margin:4px 10px 4px 0; }
.img-right     			{ float:right;margin:4px 0 4px 10px; }
 
.pad-5					{ padding: 5px; }
.pad-10					{ padding: 10px; }
.pad-left				{ padding-left: 10px; }
.pad-right				{ padding-right: 10px; }
.pad-top				{ padding-top: 10px; }
.padtop					{ padding-top: 4px; }

.nopadding     			{ padding:0; }
.nomargin				{ margin: 0; }
.overflow				{ overflow: auto; overflow-x: hidden; }

.vis					{ visibility: visible; }
.hid					{ display: none; }

.inline					{ display: inline; }
.relative				{ position: relative; }

.width80				{ width: 80%; }
.width60				{ width: 60%; }
.width50				{ width: 50%; }
.searchingImage			{ display: block; padding-top: 3px; padding-bottom: 1px; }

/*
**********************************************************************************************************************************
*
*	global element styles
*
**********************************************************************************************************************************
*/

span
{
	border: 0;
}

a > img
{
	margin-bottom: -4px;
}

a > img.inline
{
	margin-bottom: -8px;
}

/* applies this style to IE only */
a img
{
	margin-bottom: 0 !ie;
	border: 0;
}

body
{
	padding: 0;
	margin: 0;
}

form
{
	padding: 0;
	margin: 0;
}

select
{
	margin: 1px;
	padding: 0;
}

fieldset 
{
	margin: 0;
	padding: 4px 0 10px;
}

label
{
  	vertical-align: top;
    display: block;
  	float: left;
}

input, select
{
  	margin-right: 4px;
}

input.text
{
	width: 160px;
}

input.textlong
{
	width: 320px;
}

input.button
{
	width: auto;
}

fieldset ol
{
  	margin: 0;
  	padding: 5px;
}

fieldset p
{
	padding-left: 10px;
}

fieldset ol li
{
	padding: 5px;	
}

/* 
   Added variation of "clearfix" class to position labels inside <li> elements without needing autoflow
   as autoflow was unfortunately hiding dynamic plug in content inside <li> scrollbars
   See http://www.impressivewebs.com/clearing-floats-why-necessary/
   Replaced .clearif with li - so that we don't have to put clearfix everywhere.
   GB 2016-04-20
*/
li:before,
li:after {
    content: " ";
    display: table;
}
li:after {
    clear: both;
}
/* For IE 6/7 only */
li {
    *zoom: 1;
}

fieldset ol li ul li
{
	padding: 2px;
}

fieldset fieldset 
{
	margin: 3px 0 0;
	padding: 0;
}

fieldset fieldset legend
{
	padding: 0 0 5px;
	margin: 0;
}

fieldset fieldset label
{
	clear: left;
	width: auto;
	display: block;
	white-space: nowrap;
}

label
{
  	width: 140px; /* Width of labels */
}

fieldset fieldset label
{
  	margin-left: 153px; /* Width plus 3 (html space) */
}

.termsandconditionsform label
{
	width: 200px;
}

/*
**********************************************************************************************************************************
*
*	general element styles
*
**********************************************************************************************************************************
*/

tr.hoverrow
{
	background-color: #8FB3ED;
	color: #FFF;
	cursor: pointer;
}



div#defaultEntityImage
{
	position: relative;
	width: 150px;
	height: 113px;
	margin-top: 10px;
}

.image_inl
{
	margin-bottom: -2px;
}

.imgbox
{
	border: 10px solid transparent;
	border-bottom: 0;
}

.imgbox div.imgadd
{
	width: 22px;
	height: 22px;
	position: absolute;
	right: 0;
	top: 0;
	background: #FFF;
}

.imgbox div.imgadd img
{
	padding: 4px 2px 0 0;
}

.downloadFile
{
	float: left;
	text-align: center;
	padding: 8px;
	margin: 14px;
	width: 140px;
	height: 80px;
	border: 1px solid #ddd;
}

.noFiles
{
	text-align: center;
	font-weight: bold;
	padding: 40px;
	margin: 14px;
}

.tpDownload
{
	 border-top: 1px solid #ccc;
}

.expandingAddress, .expandingPOs
{
	height: 17px;
	overflow: hidden;
}

a.email
{
	background: url(../../img/icons/email.png) no-repeat;
	margin-right: 4px;
	padding-left: 30px;
}

a.pdf
{
	background: url(../../img/doctypes/pdf.png) no-repeat top left;
	margin-right: 4px;
	padding: 4px 0 36px 60px;
}

a.gif, a.jpg, a.png
{
	background: url(../../img/doctypes/image.png) no-repeat top left;
	margin-right: 4px;
	padding: 4px 0 36px 60px;
}

a.genReport
{
	background: url(../../img/icons/page_excel.png) no-repeat top left;
	margin-right: 4px;
	padding: 2px 0 2px 20px;
}

a.viewReport
{
	background: url(../../img/doctypes/xls.png) no-repeat bottom left;
	margin-right: 4px;
	padding: 40px 0 2px 54px;
}

a.genEmail
{
	background: url(../../img/icons/email.png) no-repeat top left;
	margin-right: 4px;
	padding-left: 20px;
}

/*
**********************************************************************************************************************************
*
*	template heading styles
*
**********************************************************************************************************************************
*/

.columnLeft-1
{
	float: left;
	padding: 0.4%;
	width: 64%;
}

.login .columnLeft-1 h3
{
	padding-left: 6px;
}

.columnLeft-2
{
	float: left;
	padding: 0.4%;
	width: 44%;
}

.columnLeft-3
{
	float: left;
	padding: 0;
	width: 33%;
}

.columnLeft-4
{
	float: left;
	padding: 0.4%;
	width: 54%;
}

.columnRight-1
{
	float: right;
	padding: 0.4%;
	width: 32%;
}

.columnRight-2
{
	float: right;
	padding: 0.4%;
	width: 54%;
}

.columnRight-3
{
	float: right;
	padding: 0;
	width: 65%;
}

.columnRight-4
{
	float: right;
	padding: 0.4%;
	width: 44%;
}

/*
**********************************************************************************************************************************
*
*	template heading styles
*
**********************************************************************************************************************************
*/

.headLinkBox
{
	width: 1250px;
	margin: 0 auto;
}

.login .headLinkBox, .login .mainBoxHead, .login .mainBoxTabs,
.login .mainBoxTabsContainer, .login .mainBoxBody
{
	width: 680px;
}

.login .mainBoxBodyContentFooter
{
	width: 678px;
}

.login .mainBoxBody, .login .mainBoxBodyContent
{
	min-height: 180px;
}

.loggedInUser
{
	float: left;
	width: 29%;
	padding-top: 6px;	
}

.headLinkList
{
	float: right;
	width: 69%;
	padding-top: 6px;
}
	
.headLinkList a, .loggedInUser a
{
	padding: 0 6px 0;
	font-weight: bold;
}

.loggedInUser a
{
	padding: 0;
}

.mainBox
{
	width: 100%;
	min-height: 600px;
}

.mainBoxHead
{
	width: 1250px;
	height: 50px;
	padding-top: 18px;
	margin: 0 auto;
	position: relative;
}

.laserlogo
{
	position: absolute;
	left: 180px;
	top: 4px;
	width: 500px;
	height: 66px;
}

.mainBoxHeadLinks
{
	position: absolute;
	bottom: 0;
	right: 20px;
}

.loginLinks
{
	bottom: -32px;
}

.mainBoxHeadLinks a, .mainBoxHeadLinks span
{
	margin-right: 4px;
}

.mainBoxHeadLinks img, .loggedInUser img
{
	margin: 0 4px -4px;
}

.mainBoxTabs
{
	width: 1250px;
	margin: 0 auto 0;
}

.mainBoxTabsContainer
{
	width: 1250px;
	height: 31px;
}

.mainBoxTabsContainer ul
{
    margin: 0;
    padding: 0 10px 0;
}

.mainBoxTabsContainer li
{
    float: left;
    margin: 0px 4px 0px 0px;
    padding: 8px 0 0 9px;
}

.mainBoxTabsContainer a
{
    display: block;
    padding: 10px 10px 2px 6px;
}

/*
**********************************************************************************************************************************
*
*	template body styles
*
**********************************************************************************************************************************
*/

.mainBoxBody
{
	width: 1250px;
	min-height: 200px;
	margin: 0 auto 0;
	overflow: auto;
}

.mainBoxBodyContent
{
	min-height: 200px;
	padding: 8px 8px 14px;
}

.mainBoxBodyContentFooter
{
	width: 1248px;
	margin: 0 auto;
	height: 15px;
	padding-top: 4px;
}

/*
*********************************************************************************************************************************
*
*	sub navigation styles
*
*********************************************************************************************************************************
*/


.equipStatusSubnav
{
	margin-top: 40px;
}

#subnav
{
	margin: 10px 0 20px 0;
	z-index: 1;
}

#subnav dl
{
	margin-top: -8px;
	padding: 0;
	position: relative;
	z-index: 2;
}

#subnav dt
{
	display: inline;
	margin: 0 5px;
}

#subnav dt a
{
	padding: 1px 7px;
}

/*
**********************************************************************************************************************************
*
*	link styles
*
**********************************************************************************************************************************
*/

a.mainlink-pad:link, a.mainlink-pad:visited, a.mainlink-float:link, a.mainlink-float:visited
{
	padding: 0 20px 0;
}

a.mainlink-padr:link, a.mainlink-padr:visited, a.mainlink-padr:hover
{
	padding-right: 10px;
}

a.mainlink-pad:hover, a.mainlink-float:hover
{
	padding: 0 20px 0;
}

a.mainlink-float:link, a.mainlink-float:visited, a.mainlink-float:hover
{
	float: right;
}

a.searchagain
{
	float: left;
	padding: 2px 0px 2px 20px;
	background: url(../../img/icons/search.png) no-repeat left top;
}

/*
**********************************************************************************************************************************
*
*	web search plugin - collection/delivery styles
*
**********************************************************************************************************************************
*/

div.box1
{
	
	padding: 5px;
}

div.box2
{
	padding: 10px;
}

input.comment, input.faulty
{
	width: 84%;
}

input[type=text].comment
{
	width: 450px
}

input[type=text],input[type=tel],input[type=email],input[type=number]
{
	width: 250px
}

.webSearchPlugin
{
	margin: 20px 0;
}

.webSearchPlugin div.websearch-list
{
	float: left;
	width: 46%;
}

.webSearchPlugin div.websearch-container
{
	margin-bottom: 10px;
}

.webSearchPlugin div.websearch-results
{
	min-height: 40px;
	max-height: 140px;
}

div.websearch-list ol
{
	margin: 0;
  	padding: 5px;
}

div.websearch-list ol li
{
	padding: 5px;
}

div.websearch-list ol li label
{
	width: 150px;
}

/*
**********************************************************************************************************************************
*
*	jquery search plugin styles
*
**********************************************************************************************************************************
*/

.pluginClose
{
	 position: absolute;
	 top: 4px;
	 right: 4px;
	 cursor: pointer;
}

div.loading-plug
{
	text-align: center;
	margin-top: 10px;
}

div.searchfields
{
	width: 260px;
	display: inline;
}

div.searchfields input, .dateInputs input
{
	width: 110px;
}

div.mfrContainerJQPlugin, div.instDescContainerJQPlugin, div.contactContainerJQPlugin,
div.compDescContainerJQPlugin
{
	position: relative;
	margin-top: 0px;
	width: 170px;
}

div.mfrResultsJQPlugin, div.instDescResultsJQPlugin, div.contactResultsJQPlugin,
div.compDescResultsJQPlugin
{
	width: 150%;
	height: 120px; 
	overflow: auto;
	overflow-x: hidden;
	font-size: 90%;
	text-align: left;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	display: none;
}

div.mfrResultsJQPlugin a:link, div.mfrResultsJQPlugin a:visited,
div.instDescResultsJQPlugin a:link, div.instDescResultsJQPlugin a:visited,
div.compDescResultsJQPlugin a:link, div.compDescResultsJQPlugin a:visited,
div.contactResultsJQPlugin a:link, div.contactResultsJQPlugin a:visited
{
	display: block;
	width: 100%;
	height: 18px;
	line-height: 1.8;
	text-decoration: none;
	padding-left: 4px;
	overflow: hidden;
	white-space: nowrap;
}

div.mfrResultsJQPlugin, div.instDescResultsJQPlugin, div.contactResultsJQPlugin,
div.compDescResultsJQPlugin
{
	border: 1px solid #999;
	background-color: #E0ECFF;
}

div.mfrResultsJQPlugin a:link, div.mfrResultsJQPlugin a:visited,
div.instDescResultsJQPlugin a:link, div.instDescResultsJQPlugin a:visited,
div.compDescResultsJQPlugin a:link, div.compDescResultsJQPlugin a:visited,
div.contactResultsJQPlugin a:link, div.contactResultsJQPlugin a:visited
{
	border-bottom: 1px dotted #999;
	padding-left: 4px;
	color: #444;
}

div.mfrResultsJQPlugin a:hover, div.mfrResultsJQPlugin a.selected,
div.instDescResultsJQPlugin a:hover, div.instDescResultsJQPlugin a.selected,
div.compDescResultsJQPlugin a:hover, div.compDescResultsJQPlugin a.selected,
div.contactResultsJQPlugin a:hover, div.contactResultsJQPlugin a.selected
{
	background-color: #C3D9FF;
}

div.mfrFootJQPlugin, div.instDescFootJQPlugin, div.contactFootJQPlugin,
div.compDescFootJQPlugin
{
	position: absolute;
	text-align: right;
	font-size: 90%;
	width: 150%;
	height: 18px;
	line-height: 18px;
	left: 0px;
	top: 122px;
	z-index: -1;
	display: none;
}

div.mfrFootJQPlugin, div.instDescFootJQPlugin, div.contactFootJQPlugin,
div.compDescFootJQPlugin
{
	background-color: #D6DAE4;
	border: 1px solid #999;
	border-top: 0;
}

/*
**********************************************************************************************************************************
*
*	thickbox message styles
*
**********************************************************************************************************************************
*/

.successBox1
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.successBox3
{
	padding: 10px;
}

.warningBox1
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.warningBox3
{
	padding: 10px;
	text-align: center;
}

/*
*********************************************************************************************************************************
*
*	instrument calibration indicator styles
*
*********************************************************************************************************************************
*/

div.calIndicatorBox
{
	height: 5px;	
}

.inlineCalIndicator div.calIndicatorBox
{
	position: absolute;
	top: 8px;
	left: 150px;
}

div.nextCalDueDate
{
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
}

div.inCalibration
{
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 5px;
	border: 1px solid #000;
	border-top: 0;
	z-index: 1;
}

div.inCalibrationLevel
{
	height: 5px;
	background-color: #33CC00;
}

div.finalMonthOfCalibration
{
	position: absolute;
	left: 41px;
	top: 0;
	width: 12px;
	height: 5px;
	border: 1px solid #000;
	border-top: 0;
	z-index: 1;
}

div.finalMonthOfCalibrationLevel
{
	height: 5px;
	background-color: #FF831F;
}

div.outOfCalibration
{
	position: absolute;
	left: 0;
	top: 0;
	width: 53px;
	height: 5px;
	border: 1px solid #000;
	border-top: 0;
	background-color: #FF0000;
	z-index: 1;
}

/*
**********************************************************************************************************************************
*
*	recall timeline styles
*
**********************************************************************************************************************************
*/

.recall_timeline_container
{
	padding-top: 10px;
}

.timeline_head_company, .timeline_head_subdiv, .timeline_head_addr, .timeline_head_contact
{
	float: left;
	height: 20px;
}

.timeline_select_company, .timeline_select_subdiv, .timeline_select_addr, .timeline_select_contact
{
	float: left;
	height: 24px;
}
	
.timeline_head_subdiv, .timeline_select_subdiv
{
	width: 290px;
}

.timeline_head_addr, .timeline_select_addr
{
	width: 300px;
}

.timeline_head_contact, .timeline_select_contact
{
	width: 290px;
}

.recall_timeline, .recall_timeline_selected
{
	width: 76px;
}

.recall_timeline_pad
{
	float: left;
	width: 12px;
}

.timeline_future, .timeline_current, .timeline_history
{
	height: 0;
	padding: 0;
	margin: 0;
	line-height: 0;
	width: 78px;
}

a.timeline
{
	display: block;
	width: 76px;
	height: 26px;
	padding-bottom: 10px;
}

/*
**********************************************************************************************************************************
*
*	table styles
*
**********************************************************************************************************************************
*/

table.default
{
	margin: 4px 0px 0px;
	width: 100%;
	line-height: normal;
}

table.default .child-table
{
	width: 100%;
	margin: 0;
	padding: 0;
}

table.default tr.good
{
	background-color: #62f442;
}

table.default tr.bad
{
	background-color: #d13838;
}

table.default tr.bad td
{
	color: #fff;
}

table.default .child-table thead th, table.default .child-table thead td
{
	padding: 3px;
	cursor: default;
}

table.default .child-table tbody td
{
	padding: 3px;
	border: 0;
	cursor: default;
}

table.tfirst
{
	margin: 8px 0px 0px;
}

table.tlast
{
	margin: 4px 0px 8px;
}

table.default thead tr th, table.default thead tr td, table.default tfoot tr td, table.default tbody tr th
{
	padding: 4px;
}

table.default tbody td
{
	padding: 7px;
	vertical-align: middle;
}

table.quoteBasket, table.collectBasket, table.collectBasket table.child_table
{
	width: 100%;
	margin-bottom: 4px;
}

table.collectBasket tbody table.child_table
{
	margin: 0;
	padding: 0;
	border: 0;
}

table.webResults
{
	width: 100%;
	/* style for IE only */
	#width: 98%;
}

table.quoteBasket thead th, table.quoteBasket tfoot td,
table.collectBasket thead th, table.collectBasket tfoot td,
table.webResults thead th
{
	height: 16px;
	padding: 4px;
}

table.quoteBasket tbody td, table.collectBasket tbody td, table.webResults tbody td,
table.collectBasket tbody table.child_table tbody td
{
	height: 26px;
	padding: 2px;
}

table.collectBasket tbody table.child_table tbody th
{
	padding: 2px;
}

table.quoteBasket .QBdesc
{
	width: 20%;
}

table.quoteBasket .QBqty
{
	width: 3%;
}

table.quoteBasket .QBplant
{
	width: 12%;
}

table.quoteBasket .QBserial
{
	width: 15%;
}

table.quoteBasket .QBqtype
{
	width: 10%;
}

table.quoteBasket .QBctype
{
	width: 20%;
}

table.quoteBasket .QBcomment
{
 	width: 11%;
}

table.quoteBasket .QBdel
{
	width: 3%;
}

table.collectBasket .CBdesc
{
	width: 46%;
}

table.collectBasket .CBqty
{
	width: 7%;
}

table.collectBasket .CBplant
{
	width: 20%;
}

table.collectBasket .CBserial
{
	width: 20%;
}

table.collectBasket .CBdel
{
	width: 7%;
}

table.collectBasket tbody table.child_table .CBctype_title
{
	text-align: right;
	width: 8%;
}

table.collectBasket tbody table.child_table .CBctype
{
	text-align: left;
	width: 11%;
}

table.collectBasket tbody table.child_table .CBcturn_title
{
	text-align: right;
	width: 11%;
}

table.collectBasket tbody table.child_table .CBcturn
{
	text-align: left;
	width: 16%;
}

table.collectBasket tbody table.child_table .CBfaulty_title
{
	text-align: right;
	width: 9%;
}

table.collectBasket tbody table.child_table .CBfaulty
{
	text-align: left;
	width: 13%;
}

table.collectBasket tbody table.child_table .CBitempo_title
{
	text-align: right;
	width: 9%;
}

table.collectBasket tbody table.child_table .CBitempo
{
	text-align: left;
	width: 19%;	
}

table.collectBasket tbody table.child_table .CBitemcomment
{
	text-align: center;
	width: 4%;	
}

table.webResults .Mdesc
{
	width: 78%;
}

table.webResults .Mqty
{
	width: 10%;
}

table.webResults .Madd
{
	width: 12%;
}

table.webResults .Ibarcode
{
	width: 10%;
}

table.webResults .Idesc
{
	width: 42%;
}

table.webResults .Iplant
{
	width: 18%;
}

table.webResults .Iserial
{
	width: 18%;
}

table.webResults .Iadd
{
	width: 12%;
}

/********** certificate search result table widths **********/

table.certResults .select
{
	text-align: center;
	width: 3%;
}

table.certResults .certfile
{
	text-align: center;
	width: 5%;
}

table.certResults .view
{
	text-align: center;
	width: 5%;
}

table.certResults .inst
{
	width: 17%;
}

table.certResults .inst > div
{
	height: 17%;
}

table.certResults .plantno
{
	width:8%;
}

table.certResults .serial
{
	width: 8%;
}

table.certResults .serial > div
{
	height: 24px;
}

table.certResults .certno
{
	width: 11%;
}

table.certResults .caldate
{
	text-align: center;
	width: 6%;
}

table.certResults .issue
{
	text-align: center;
	width: 6%;
}

table.certResults .status
{
	width: 6%;
}

table.certResults .jobno
{
	width: 11%;
}

table.certResults .validation
{
	text-align: center;
	width: 11%;
}

table.certResults .validationbutton
{
	text-align: center;
	width: 3%;
}

/********** view certificate instrument table widths **********/

table.certificateInstruments tr td
{
	height: 32px;
}

table.certificateInstruments .barcode
{
	width: 8%;
}

table.certificateInstruments .inst
{
	vertical-align: text-top;
	width: 40%;
}

table.certificateInstruments .serial
{
	width: 16%;
}

table.certificateInstruments .plant
{
	width: 16%;
}

table.certificateInstruments .jobno
{
	text-align: center;
	width: 10%;
}

table.certificateInstruments .itemno
{
	text-align: center;
	width: 10%;
}

/********** instrument search result table widths **********/

table.instResults tbody tr.resultrow
{
	height: 38px;
}

table.instResults .barcode
{
	text-align: center;
	width: 6%;
}

table.instResults .inst
{
	width: 20%;
}

table.instResults .serialno
{
	width: 10%;
}

table.instResults .plantno
{
	width: 8%;
}

table.instResults .owner
{
	width: 10%;
}

table.instResults .location
{
	width: 10%;
}

table.instResults .address
{
	width: 10%;
}
table.instResults .subdiv
{
	width: 14%;
}

/********** instrument search result by user table widths **********/

table.instResultsByUser tbody tr.resultrow tr.resultrowdata
{
	height: 38px;
}

table.instResultsByUser .data
{
	background-color:#ffffff
}

table.instResultsByUser .barcode
{
	text-align: center;
	width: 6%;
}

table.instResultsByUser .inst
{
	width: 20%;
}

table.instResultsByUser .serialno
{
	width: 10%;
}

table.instResultsByUser .plantno
{
	width: 10%;
}

table.instResultsByUser .owner
{
	width: 10%;
}

table.instResultsByUser .location
{
	width: 10%;
}

table.instResultsByUser .subdiv
{
	width: 10%;
}

table.instResultsByUser .status
{
	width: 10%;
}

table.instResultsByUser .metrologicalstate
{
	width: 10%;
}

table.instResultsByUser .lastdateofcalibration
{
	width: 10%;
}

table.instResultsByUser .nextdateofcalibration
{
	width: 10%;
}

table.instResultsByUser .lastcalibrationcertificate
{
	width: 10%;
}

table.instResultsByUser .onbehalf
{
	width: 10%;
}

/********** job search result table widths **********/

table.jobResults .jobno
{
	width: 9%;
}

table.jobResults .coname
{
	width: 33%;
}

table.jobResults .contact
{
	width: 20%;
}

table.jobResults .purchord
{
	width: 14%;
}

table.jobResults .clientref
{
	width: 14%;
}

table.jobResults .datein
{
	width: 10%;
}

table.jobResults table.child-table .item
{
	text-align: center;
	width: 5%;
}

table.jobResults table.child-table .instr
{
	width: 30%;
}

table.jobResults table.child-table .serial
{
	width: 15%;
}

table.jobResults table.child-table .plant
{
	width: 13%;
}

table.jobResults table.child-table .caltype
{
	text-align: center;
	width: 6%;
}

table.jobResults table.child-table .itempo
{
	width: 10%;
}

table.jobResults table.child-table .status
{
	width: 21%;
}

/********** view job table widths **********/

table.viewJob .item
{
	text-align: center;
	width: 5%;
}

table.viewJob .instr
{
	width: 25%;
}

table.viewJob .serial
{
	width: 12%;
}

table.viewJob .plant
{
	width: 12%;
}

table.viewJob .caltype
{
	text-align: center;
	width: 6%;
}

table.viewJob .itempo
{
	width: 8%;
}

table.viewJob .status
{
	width: 16%;
}

table.viewJob .delivery
{
	width: 16%;
}


table.viewJob .actions    
{
	width: 10%;
}

table.viewJob button
{
	font-size: 8pt
}

/**********  table widths for the items requiring action table  **********/

table.itemsReqAction .jobno
{
	width: 9%;
}

table.itemsReqAction .itemno
{
	text-align: center;
	width: 6%;
}

table.itemsReqAction .inst
{
	width: 32%;
}

table.itemsReqAction .serial
{
	width: 14%;
}

table.itemsReqAction .plant
{
	width: 14%;
}

table.itemsReqAction .status
{
	width: 25%;
}

/**********  table widths for the items due calibration table  **********/

table.itemsDueToCalAction .lastcaldate
{
	width: 9%;
}

table.itemsDueToCalAction .itemno
{
	text-align: center;
	width: 6%;
}

table.itemsDueToCalAction .inst
{
	width: 32%;
}

table.itemsDueToCalAction .serial
{
	width: 14%;
}

table.itemsDueToCalAction .plant
{
	width: 14%;
}

table.itemsDueToCalAction .status
{
	width: 25%;
}

/**********  table widths for the view collection request table  **********/

table.viewCollections .subdiv
{
	width: 22%;
}

table.viewCollections .contact
{
	width: 14%;
}

table.viewCollections .address
{
	width: 36%;
}

table.viewCollections .reqdate
{
	text-align: center;
	width: 12%;
}

table.viewCollections .items
{
	text-align: center;
	width: 6%;
}

table.viewCollections .status
{
	text-align: center;
	width: 10%;
}

table.viewCollections .child-table .item
{
	width: 30%;
}

table.viewCollections .child-table .serial
{
	width: 13%;
}

table.viewCollections .child-table .plant
{
	width: 13%;
}

table.viewCollections .child-table .qty
{
	text-align: center;
	width: 6%;
}

table.viewCollections .child-table .itempo
{
	width: 8%;
}

table.viewCollections .child-table .caltype
{
	text-align: center;
	width: 8%;
}

table.viewCollections .child-table .turn
{
	text-align: center;
	width: 8%;
}

table.viewCollections .child-table .fault
{
	text-align: center;
	width: 6%;
}

table.viewCollections .child-table .supported
{
	text-align: center;
	width: 8%;
}

/**********  table widths for the view quotation request table  **********/

table.viewQuotations .qno
{
	width: 10%;
}

table.viewQuotations .ver
{
	text-align: center;
	width: 6%;
}

table.viewQuotations .contact
{
	width: 28%;
}

table.viewQuotations .reqon
{
	text-align: center;
	width: 10%;
}

table.viewQuotations .issuedon
{
	text-align: center;
	width: 8%;
}

table.viewQuotations .items
{
	text-align: center;
	width: 8%;
}

table.viewQuotations .status
{
	width: 30%;
}

table.viewQuotations .child-table .barcode
{
	width: 8%;
}

table.viewQuotations .child-table .item
{
	width: 32%;
}

table.viewQuotations .child-table .qty
{
	text-align: center;
	width: 6%;
}

table.viewQuotations .child-table .serial
{
	width: 16%;
}

table.viewQuotations .child-table .plant
{
	width: 16%;
}

table.viewQuotations .child-table .caltype
{
	width: 10%;
}

table.viewQuotations .child-table .caltypetotal
{
	text-align: right;
	width: 10%;
	font-weight: bold;
	border-top: 1px solid #999;
}

table.viewQuotations .child-table .price
{
	text-align: right;
	width: 12%;
}

table.viewQuotations .child-table .pricetotal
{
	text-align: right;
	width: 12%;
	font-weight: bold;
	border-top: 1px solid #999;
}


/**********  table widths for the instrument job history table  **********/

table.instrumentJobHistory .jobno
{
	text-align: center;
	width: 12%;
}

table.instrumentJobHistory .itemno
{
	text-align: center;
	width: 12%;
}

table.instrumentJobHistory .cont
{
	width: 42%;
}

table.instrumentJobHistory .datein
{
	text-align: center;
	width: 12%;
}

table.instrumentJobHistory .datecomp
{
	text-align: center;
	width: 12%;	
}

table.instrumentJobHistory .caltype
{
	text-align: center;
	width: 10%;
}

/**********  table widths for the instrument certificate history table  **********/

table.instrumentCertHistory .jobno
{
	text-align: center;
	width: 15%;
}

table.instrumentCertHistory .itemno
{
	text-align: center;
	width: 7%;
}

table.instrumentCertHistory .caltype
{
	text-align: center;
	width: 8%;
}

table.instrumentCertHistory .caldate
{
	text-align: center;
	width: 10%;
}

table.instrumentCertHistory .certdate
{
	text-align: center;
	width: 10%;
}

table.instrumentCertHistory .duration
{
	text-align: center;
	width: 10%;
}

table.instrumentCertHistory .certno
{
	text-align: center;
	width: 20%;
}

table.instrumentCertHistory .verification
{
	text-align: center;
	width: 10%;
}

table.instrumentCertHistory .validation
{
	text-align: center;
	width: 10%;
}

/**********  table widths for the instrument recall history table  **********/

table.instrumentRecallHistory .recallid
{
	text-align: center;
	width: 20%;
}

table.instrumentRecallHistory .recalldate
{
	text-align: center;
	width: 20%;
}

table.instrumentRecallHistory .recalledto
{
	text-align: center;
	width: 20%;
}

table.instrumentRecallHistory .prevcert
{
	text-align: center;
	width: 20%;
}

table.instrumentRecallHistory .prevcaldate
{
	text-align: center;
	width: 20%;
}

/**********  table widths for the instrument active recall rules table  **********/

table.instrumentActiveRecallRules .interval
{
	width: 22%;
}

table.instrumentActiveRecallRules .scope
{
	width: 22%;
}

table.instrumentActiveRecallRules .setby
{
	width: 12%;
}

table.instrumentActiveRecallRules .seton
{
	width: 10%;	
}

table.instrumentActiveRecallRules .actions
{
	width: 34%;
}

/**********  table widths for the instrument inactive recall rules table  **********/

table.instrumentInactiveRecallRules .interval
{
	width: 22%;
}

table.instrumentInactiveRecallRules .scope
{
	width: 22%;
}

table.instrumentInactiveRecallRules .setby
{
	width: 12%;
}

table.instrumentInactiveRecallRules .seton
{
	width: 10%;
}

table.instrumentInactiveRecallRules .actions
{
	width: 34%;
}

/**********  table widths for the instrument validation issues table  **********/

table.instrumentValidationIssues .issue
{
	width: 42%;
}

table.instrumentValidationIssues .raisedon
{
	width: 12%;
}

table.instrumentValidationIssues .raisedby
{
	width: 12%;
}

table.instrumentValidationIssues .resolvedon
{
	width: 12%;
}

table.instrumentValidationIssues .resolvedby
{
	width: 12%;
}

table.instrumentValidationIssues .status
{
	width: 10%;
}

/**********  table widths for the instrument replacement tables  **********/

table.instrumentReplacement .barcode, table.instrumentReplace .barcode
{
	width: 10%;
}

table.instrumentReplacement .instmod, table.instrumentReplace .instmod
{
	width: 50%;
}

table.instrumentReplacement .repby, table.instrumentReplace .repby
{
	width: 20%;
}

table.instrumentReplacement .repon, table.instrumentReplace .repon
{
	width: 20%;
}

/**********  table widths for the instrument history table  **********/

table.instrumentHistory .field
{
	width: 20%;
}

table.instrumentHistory .changefrom
{
	width: 20%;
}

table.instrumentHistory .changeto
{
	width: 20%;
}

table.instrumentHistory .changeby
{
	width: 20%;
}

table.instrumentHistory .changeon
{
	width: 20%;
}

/**********  table widths for the instrument calibration history table  **********/

table.instCalHistory .all
{
	width: 8%;
}

table.instCalHistory .cal
{
	width: 18%;
}

table.instCalHistory .caldate
{
	width: 20%;
}

table.instCalHistory .type
{
	text-align: center;
	width: 14%;	
}

table.instCalHistory .job
{
	text-align: center;
	width: 14%;	
}

table.instCalHistory .jobitem
{
	text-align: center;
	width: 12%;	
}

table.instCalHistory .outcome
{
	width: 14%;
}

/********** table widths for add instrument duplicate serial/plant number instruments **********/

#checkDuplicateInstsBoxy table .mfr
{
	width: 20%;
}

#checkDuplicateInstsBoxy table .model	
{
	width: 20%;
}

#checkDuplicateInstsBoxy table .desc
{
	width: 24%;
}

#checkDuplicateInstsBoxy table .plant
{
	width: 18%;
}

#checkDuplicateInstsBoxy table .serial
{
	width: 18%;
}

/********** table widths for job item status tooltip popup **********/

table.TTjistatus .activity
{
	width: 30%;
}

table.TTjistatus .status
{
	width: 35%;
}

table.TTjistatus .compby
{
	width: 20%;
}

table.TTjistatus .compon
{
	width: 15%;
}

table.valid {
	width: 60% !important;
}

table.valid tr td {
	border: none !important;
}

table.valid tr td.lab {
	width: auto !important;
	text-align: right;
}
table.valid tr td.val {
	width: auto !important;
	text-align: left;
}

/**********  table widths for recall items **********/

table.recallResults .barcode
{
	width: 6%;
}

table.recallResults .inst
{
	width: 28%;
}

table.recallResults .serialno
{
	width: 13%;
}

table.recallResults .plantno
{
	width: 13%;
}

table.recallResults .owner
{
	width: 12%;
}

table.recallResults .addr
{
	width: 18%;
}

table.recallResults .nextcaldate
{
	width: 10%;
}
