/*****************************************************************************************************************************************************
'									CWMS (Calibration Workflow Management System)
'										
'									Copyright 2006, Antech Calibration Services
'											www.antech.org.uk
'							
'											All rights reserved
'				
'										Document author: 	Stuart Harrold
'
'	FILENAME			:	structure.css
'	DESCRIPTION			: 	Cascading Style Sheets file.
'	DEPENDENCIES		: 	-
'
'	TO-DO				: 	-
'	KNOWN ISSUES		: 	-
'	HISTORY				: 	20/10/2006 - SH - Created file.
'                           2015-11-20 - GB - Removed width for "ul.subnavtab a" replacing with padding 
****************************************************************************************************************************************************/

/* import table structure styles */
@import url("elements/table.css");
/* import plugin structure styles */
@import url("elements/plugin.css");
/* import subnavtabs structure styles */
@import url("elements/subnavtabs.css");
/* import form structure styles */
@import url("elements/form.css");
/* import styles for jquery dialog boxes */
@import url("elements/dialog.css");

/***** Global Classes *****/
 
.clear, .clear_border	{ clear: both; }
.float-left    			{ float: left; }
.float-right   			{ float: right; }
 
.text-left     			{ text-align: left; }
.text-right    			{ text-align: right; }
.text-center   			{ text-align: center; }
.text-justify  			{ text-align: justify; }

.selectHeight			{ height: 24px; }
.imageHeight			{ height: 28px; }

.marg					{ margin: 10px; }
.marg-small				{ margin: 4px; }
.marg-top				{ margin-top: 10px; }
.marg-bot				{ margin-bottom: 10px; }
.marg-left				{ margin-left: 10px; }
.marg-right				{ margin-right: 10px; }
.marg-center			{ margin: 0 auto; }

.marg-top-small			{ margin-top: 2px; }
.marg-bot-small			{ margin-bottom: 2px; }
 
.bold         			{ font-weight:bold; }
.italic        			{ font-style:italic; }
.underline     			{ border-bottom:1px solid; }
 
.img-left      			{ float:left; margin:4px 10px 4px 0; }
.img-right     			{ float:right; margin:4px 0 4px 10px; }
 
.padding				{ padding: 10px; }
.padding2				{ padding: 2px; }
.nopadding     			{ padding: 0; }
.pad-left				{ padding-left: 10px; }
.pad-left-small			{ padding-left: 4px; }
.pad-right				{ padding-right: 6px; }
.pad-top				{ padding-top: 10px; }
.nomargin				{ margin: 0; }
.noboundary				{ padding: 0; margin: 0; }
.overflow				{ overflow: auto; overflow-x: hidden; position: relative; }
.nooverflow				{ overflow: hidden; }

.vis					{ visibility: visible; }
.notvis					{ visibility: hidden; }
.hid					{ display: none; }

.inline					{ display: inline;}
.auto					{ width: auto; }

.border-top				{ border-top: 1px dotted #666; }

.businessCompany 		{ float: right; text-align: center; width: 5%; font-size: 112%; color: #663300; font-weight: bold; border: 2px solid #663300; }

/*
*********************************************************************************************************************************
*
*	instrument calibration indicator styles
*
*********************************************************************************************************************************
*/

div.calIndicatorBox
{
	position: absolute;
	top: 18px;
	left: 0;
	height: 5px;
	z-index: 1;
}

.inlineCalIndicator div.calIndicatorBox
{
	position: absolute;
	top: 8px;
	left: 160px;
}

div.nextCalDueDate
{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
}

div.inCalibration
{
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 5px;
	border: 1px solid #000;
	border-top: 0;
	z-index: 1;
}

div.inCalibrationLevel
{
	height: 5px;
	background-color: #33CC00;
}

div.finalMonthOfCalibration
{
	position: absolute;
	left: 41px;
	top: 0;
	width: 12px;
	height: 5px;
	border: 1px solid #000;
	border-top: 0;
	z-index: 1;
}

div.finalMonthOfCalibrationLevel
{
	height: 5px;
	background-color: #FF831F;
}

div.outOfCalibration
{
	position: absolute;
	left: 0;
	top: 0;
	width: 53px;
	height: 5px;
	border: 1px solid #000;
	border-top: 0;
	background-color: #FF0000;
	z-index: 1;
}

/*
*********************************************************************************************************************************
*
*	site wide styles
*
*********************************************************************************************************************************
*/

body 
{
	margin: 0px 10px 0px 10px;
	padding: 0px;
	min-width: 1000px;
	z-index: 1;
	position: relative;
}

body.iframed
{
	margin: 0;
	padding: 0;
}

a img
{
	margin-bottom: -2px;
}

	
form
{
	padding: 0;
	margin: 0;
}

select
{
	width: auto;
	margin: 1px;
	padding: 0;
}

fieldset 
{
	margin: 10px 0 10px;
	padding-bottom: 10px;
	padding-top: 4px;
}

body.iframed fieldset
{
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

legend
{
	margin-left: 10px;
	padding: 2px 4px 2px 4px;
}

legend a:hover
{
	text-decoration: underline;
}

label
{
  	vertical-align: top;
    display: block;
  	float: left;
}

input, select
{
  	margin-right: 4px;
}

fieldset ol, div#multimod-list ol, div#list ol
{
  	margin: 0;
  	padding: 5px;
}

fieldset p
{
	padding-left: 10px;
}

fieldset li, div#multimod-list li, div#list ol
{
	padding: 5px;
	min-height: 21px;
/*	overflow: auto; */
}

/* 
   Added variation of "clearfix" class to position labels inside <li> elements without needing autoflow
   as autoflow was unfortunately hiding dynamic plug in content inside <li> scrollbars
   See http://www.impressivewebs.com/clearing-floats-why-necessary/
   Replaced .clearif with li - so that we don't have to put clearfix everywhere.
   GB 2016-04-20
*/
li:before,
li:after {
    content: " ";
    display: table;
}
li:after {
    clear: both;
}
/* For IE 6/7 only */ 
li {
    *zoom: 1;
}

fieldset fieldset 
{
	margin: 3px 0 0;
	padding: 0;
}

fieldset fieldset legend
{
	padding: 0 0 5px;
	margin: 0;
}

fieldset fieldset label
{
	clear: left;
	width: auto;
	display: block;
	white-space: nowrap;
}

/*
	Remark: <label> should not really have a default width, a <div> should have been used instead,
 	since this has become the default label style it breaks things that ought to have no label style
 	GB 2016-01-26
*/
label
{ 
  	width: 140px; /* Width of labels */
}

label.usage
{
  	width: 200px; /* Width of labels */
}

fieldset fieldset label
{
  	margin-left: 153px; /* Width plus 3 (html space) */
}
	
/*
*********************************************************************************************************************************
*
*	template styles
*
*********************************************************************************************************************************
*/

.scantext
{
	padding-right: 6px;
}

/*
*********************************************************************************************************************************
*
*	banner styles
*
*********************************************************************************************************************************
*/

.banner-column1
{
	position: absolute;
	height: 71px;
	left: 0px;
	width: 466px;
	text-align: center;
	z-index: 1;
	padding-bottom: 6px;
}
	
.banner-column2
{
	height: 65px;
	margin-left: 466px;
	margin-right: 700px;
	padding-bottom: 6px;
}
	
.banner-column3
{
	position: absolute;
	height: 65px;
	right: 0px;
	width: 700px;
	padding-bottom: 6px;
	z-index: 2;
}

.banner-column3 > div
{
	position: relative;
	width: 100%;
	height: 100%;
}

.banner-column3 > div > div.quickScan
{
	position: absolute;
	left: 6px;
	bottom: 5px;
}

.banner-column3 > div > div#loginBox
{
	position: absolute;
	right: 6px;
	top: 5px;
}

.banner-column3 > div > form > div#subdivBox
{
	position: absolute;
	right: 6px;
	bottom: 5px;
	text-align: left;
}
	
/*
*********************************************************************************************************************************
*
*	main navigation styles
*
*********************************************************************************************************************************
*/
	
.navigation-holder 
{
	display: block;
	position: absolute;
	left: 0px;
	width: 150px;
	height: auto;
	z-index: 600;
}
	
.navtitle 
{
	width: 100%;
	height: 24px;
	padding: 0 0.1em 0 0.1em !important; padding: 0 0.5em 0 0.5em;		
	margin-bottom: 6px;
}
	
.navtitle p
{
	padding-top: 5px;
	margin: 0;
}
	
.menu
{
	width: 152px;
	height: auto;
	margin: 10px 10px 10px 0;
}

.menu ul
{
	margin: 0;
	padding: 0;
}

.menu ul li
{
	margin-bottom: 1px;
	position: relative;
}

.menu ul a, .menu ul a:visited
{	
	display: block;
	height: 24px;
	width: 141px;
	padding-left: 10px;
}

.menu ul ul a, .menu ul ul a:visited
{	
	display: block;
	height: 24px;
	width: 220px;
	padding-left: 10px;
}

.menu ul ul
{
	width: 232px;
	position: absolute;
	visibility: hidden;
	left: 151px;
	top: -1px;
}

.menu .menuoptions
{
	position: absolute;
	left: 130px;
	top: 4px;
	width: 16px;
	height: 16px;
}

.menu ul li:hover ul,
.menu ul a:hover ul 
{
	visibility: visible;
	display: block;
	height: auto;
}

/*
*********************************************************************************************************************************
*
*	file browser styles
*
*********************************************************************************************************************************
*/


.filebrowserinner
{
	padding: 10px; 
}

#fileBrowser-sc .filebrowserinner
{
	padding: 0 4px;
	background: #fff;
}

ul.fileTree
{
	line-height: 18px;
	padding: 0px;
	margin: 0px;
}

ul.legacy
{
	margin-top: 10px;
	border-top: 1px solid #ddd;
}

ul.fileTree li
{
	list-style: none;
	padding: 2px 0px 2px;
	padding-left: 20px;
	margin: 0px;
	white-space: nowrap;
}

ul.fileTree li a.fileutility
{
	text-decoration: none;
}

ul.fileTree li > a.underline
{
	text-decoration: none;
	padding: 2px 2px 2px;
}

/*
*********************************************************************************************************************************
*
*	main content styles
*
*********************************************************************************************************************************
*/
	
.maincontent
{
	margin-left: 161px;
}

.contenthead
{
	position: relative;
	width: 100%;
	height: 25px;
}

.headtext
{
	display: block;
	padding: 2px 0 0 50px;
}

.headsearch
{
	position: absolute;
	left: 8px;
	top: 4px;
}

.headscan
{
	position: absolute;
	right: 8px;
	top: 4px;
}

.contentframe
{
	height: auto;
	min-height: 340px;
	padding: 8px;
}

.contentbody
{
	width: 100%;
}

/*
**********************************************************************************************************************************
*
*	highlight quotation items (calibration requirements, linked third party costs)
*
**********************************************************************************************************************************
*/

.instcalreq_highlight_key
{
	display: inline;
	float: right;
	padding-left: 22px;
	font-weight: normal;
	margin-right: 10px;
}

.compmodelcalreq_highlight_key
{
	display: inline;
	float: right;
	padding-left: 22px;
	font-weight: normal;
	margin-right: 10px;
}

/*
*********************************************************************************************************************************
*
*	general styles
*
*********************************************************************************************************************************
*/

.publishCalReqs
{
	height: 20px;
	padding: 6px 0px;
	width: 34%;
	text-align: center;
	margin: 0 auto;	
}

#editjobcostingitem #calibrationMain ol, #editjobcostingitem #repairMain ol,
#editjobcostingitem #adjustmentMain ol, #editjobcostingitem #purchaseMain ol
{
  	margin: 0;
  	padding: 0px 5px 0px;
}

.width30
{
	width: 30%;
}

.width40
{
	width: 40%;
}

.width50
{
	width: 50%;
}

.width60
{
	width: 60%;
}

.width70
{
	width: 70%;
}

.width80
{
	width: 80%;
}

.width86
{
	width: 86%;
}

.width90
{
	width: 90%;
}

.width96
{
	width: 96%;
}

.marginleft60
{
	margin-left: 60px;
}

.attention-pad
{
	padding-left: 10px;
}

.paginationFiller
{
	height: 4px;
}

.pluginClose
{
	 position: absolute;
	 top: 4px;
	 right: 4px;
	 cursor: pointer;
}

.instructionTooltip
{
	height: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#JT_copy #headreq
{
	padding: 5px;
}

.expandingAddress, .expandingPOs
{
	height: 16px;
	overflow: hidden;
}

.expandingAddress span
{
	line-height: normal;
}

/*.expandingPOs
{
	height: 18px;
}*/

.instScrappedOn, .instScrappedJI
{
	position: absolute;
	left: 30%;
	bottom: 60%;
	font-size: 250%;
	color: #222;
	font-weight: bold;
	z-index: -1;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.instScrappedJI
{
	bottom: 48%;
}
		
/*
*********************************************************************************************************************************
*
*	footer styles
*
*********************************************************************************************************************************
*/
	
.footer
{
	width: 100%;
	height: 20px;
	margin-top: 12px;
	padding-top: 6px;
}

/*
**********************************************************************************************************************************
*
*	link styles
*
**********************************************************************************************************************************
*/

a.mainlink-pad:link, a.mainlink-pad:visited, a.mainlink-float:link, a.mainlink-float:visited, a.mainlink-float[role="button"]
{
	padding: 0 20px 0;
}

a.mainlink-padr:link, a.mainlink-padr:visited, a.mainlink-padr:hover
{
	padding-right: 10px;
}

a.mainlink-pad:hover, a.mainlink-float:hover
{
	padding: 0 20px 0;
}

a.mainlink-float[role="button"], a.mainlink-float:link, a.mainlink-float:visited, a.mainlink-float:hover
{
	float: right;
}

a.viewReport
{
	background: url(../../img/doctypes/xls.png) no-repeat bottom left;
	margin-right: 4px;
	padding: 40px 0 2px 54px;
}
	
/*
*********************************************************************************************************************************
*
*	Login page styles
*
*********************************************************************************************************************************
*/


.login
{
	margin-right: auto;
	margin-left: auto;
	width: 798px;
}

.loginhead 
{
	height: 71px;
	width: 100%;
	margin: 10px 0 4px 0;
}
	
.loginsubhead
{
	position: relative;
	height: 25px;
	width: 100%;
}
	
.loginrequest
{
	position: absolute;
	left: 38px;
	top: 4px;
}

.loginbox
{
	width: 796px !important; width: 798px;
	height: auto;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
}

.loginbox fieldset
{
	width: 90%;
	margin: 0 auto 0 auto;
}


/*
*********************************************************************************************************************************
*
*	Velocity page styles
*
*********************************************************************************************************************************
*/

/*
*********************************************************************************************************************************
*
*	sub navigation styles
*
*********************************************************************************************************************************
*/

#subnav, #subnav2, #subnav3, #subnav4
{
	margin: 10px 0 20px 0;
	z-index: 1;
}

#JT_copy #subnav
{
	margin-top: 14px;
	z-index: 1;
}

#subdivConAdd #subnav
{
	margin: 20px 0 20px 0;
}

div#subnav.tpquotereqnav
{
	margin: 20px 0;
}

#subnav dl, #subnav2 dl, #subnav3 dl, #subnav4 dl
{
	margin-top: -8px;
	padding: 0;
	position: relative;
	z-index: 2;
}

#subnav dt, #subnav2 dt, #subnav3 dt, #subnav4 dt
{
	display: inline;
	margin: 0 5px;
	line-height: 1.4;
}

#subnav dt a, #subnav2 dt a, #subnav3 dt a, #subnav4 dt a
{
	padding: 1px 7px 1px 7px;
}

#JT_copy #subnav dt a
{
	padding: 0px 4px;
}

#companyinstsearchresults #subnav dt a
{
	padding: 3px 5px 3px 5px;
}

.tab-box
{
	clear: both;
	margin: 0;
	padding: 10px;
}

.tab-box dl dd
{
	padding: 4px;
}

div#tabmenu
{
	float: left;
	width: 98%;
}

ul.subnavtab, ul.subnavtab li
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.subnavtab li
{
	float: left;
	margin-right: 5px;
	text-align: center;
}

ul.subnavtab a
{
	float: left;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
}

/*
*********************************************************************************************************************************
*
*	general styles
*
*********************************************************************************************************************************
*/

div.defaultEntityImage
{
	position: absolute;
	right: 10px;
	top: 16px;
	max-width: 150px;
	max-height: 168px;
	text-align: center;
	margin: 0 auto;
	color: #CC0000;
	border: 1px solid #999;
	background: #FFF;
	padding: 0px 2px;
}

div.quickLinkList
{
	position: absolute;
	right: 180px;
	top: 29px;
	line-height: 32px;
	text-align: right;
}

.imgbox div.imgadd
{
	width: 22px;
	height: 22px;
	position: absolute;
	left: 2px;
	top: 2px;
	
}

.imgbox div.imgadd img
{
	padding: 4px 2px 0 0;
}

.dragger
{
	float: left;
	width: 94%;
	height: 20px;
	padding-top: 4px;
	cursor: move;
	text-align: center;
}

.jqmodclose
{
	float: right;
	width: 4%;
	padding-top: 4px;
	height: 20px;
	text-align: center;
}

.buildText
{
	font-size: 78%;
	padding-right: 20px;
}

.padtop
{
	padding-top: 4px;
}

.right20
{
	padding-right: 20px;
}

.clearL
{
	clear: left;
}

.clear-0
{
	clear: both;
	height: 0;
	padding: 0;
	margin: 0;
	visibility: hidden;
}

.clear-height
{
	clear: both;
	height: 20px;
}

.clear-wedge
{
	clear: both;
	height: 10px;
}

margin-0
{
	margin: 0;
}

.center
{
	margin-top: 10px;
}

.center-0
{	
	margin: 0;
	padding: 0;
}

.padding5
{
	padding: 5px;
}

.padding10
{
	padding: 10px;
}

.padding8
{
	padding-top: 8px;
	padding-bottom: 8px;
}

.padright20
{
	padding-right: 20px;
}

.padleft10
{
	padding-left: 10px;
}

.padleft40
{
	padding-left: 40px;
}

.center-pad
{
	padding-top: 20px;
}

.center-padbot
{
	padding-bottom: 20px;
}

.center #personid
{
	width: 400px;
}

.relative
{
	position: relative;
}

.absoluteleft
{
	position: absolute;
	left: 0;
	top: 0;
}

.absoluteright
{
	position: absolute;
	right: 0;
	top: 0;
}
	
.padding
{
	padding: 10px 0 6px 0;
}

.paddbottom
{
	padding: 0 0 20px 0;
}

.paddtop
{
	padding-top: 20px;
}
	
.titleblock
{
	width: 90%;
	margin: 0 auto 0 auto;
	padding: 8px 0 8px 0;
}

.displaycolumn
{
	float: left;
	width: 49%;
	padding: 0.4%;
}

.displaycolumn-100
{
	float: left;
	width: 98.8%;
	padding: 0.4%;
}

#jiHeader .displaycolumn fieldset ol, #viewinstrument .displaycolumn fieldset ol
{
	padding-top: 0;
}

.displaycolumn-60
{
	float: left;
	width: 59%;
	padding: 0.4%;
}

.displaycolumn-40
{
	float: left;
	width: 39%;
	padding: 0.4%;
}

.displaycolumn-65
{
	float: left;
	width: 64%;
	padding: 0.4%;
}

.displaycolumn-70
{
	float: left;
	width: 69%;
	padding: 0.4%;
	padding-bottom: 0;
}

.displaycolumn-75
{
	float: left;
	width: 74%;
	padding: 0.4%;
	padding-bottom: 0;
}

.displaycolumn-35
{
	float: left;
	width: 34%;
	padding: 0.4%;
}

.displaycolumn-30
{
	float: left;
	width: 29%;
	padding: 0.4%;
}

.displaycolumn-25
{
	float: left;
	width: 24%;
	padding: 0.4%;
	padding-bottom: 0;
}

.displaycolumn-15
{
	float: left;
	width: 14%;
	padding: 0.4%;
	padding-bottom: 0;
}

.smallcolumn
{
	width: 20%;
	height: 60px;
	float: right;
}

.largecolumn
{
	width: 76%;
	padding: 10px; 
	float: left;
}

.threecolumn
{
	float: left;
	width: 250px;
}

#instructions a
{
	float: left;
}

.jobitemRequirements span, .jobInstruction span
{
	font-weight: bold;
	line-height: normal;
	font-size: 94%;
}

.jobInstructionType
{
	line-height: normal;
	font-size: 94%;
}

/* box which contains search forms */
.infobox
{
	padding: 10px;
	margin-bottom: 20px;
}

.listbox
{
	padding: 10px;
	margin-bottom: 6px;
}

.infobox h5
{
	margin: 6px 0 6px 0;
}

#selectqitem
{
	margin-top: 10px;
}

.headingitems
{
	padding: 6px;
	padding-top: 0;
	margin-top: 4px;
}

.headingitems fieldset
{
	clear: both;
	margin: 0;
}

.editor_box
{
	width: 82%;
}

#formulaeOptions
{
	width: 500px;
	height: 150px;
 	padding: 0px 10px 0px;
}

#picklistOptions
{
	width: 260px;
	height: 70px;
 	padding: 0px 10px 0px;
}

#formulaeOptions select
{
	width: 350px;	
}

div#calBuildFloatDiv
{
	position: fixed;
	z-index: 50000;
	width: 240px;
	height: 30px;
	right: 0px;
	top: 0px;
	padding: 10px;
}

#instrumentRanges .rstart, #instrumentRanges .rend, #instrumentRanges .ruom,
#modelRanges .rstart, #modelRanges .rend, #modelRanges .ruom
{
	width: 100px;
	margin: 0 10px 0 0;
	padding-left: 4px;
	height: 18px;
	float: left;
	line-height: 20px;
	background-color: #fff;
}

#instrumentRanges .rend, #instrumentRanges .ruom,
#modelRanges .rend, #modelRanges .ruom
{
	margin: 0 10px;
}

.onHireKey
{
	float: right;
	width: 60px;
	border: 1px solid #999;
}
	
/*
*********************************************************************************************************************************
*
*	image styles
*
*********************************************************************************************************************************
*/

.noteimg_padded
{
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: -3px;
}

.noteimg_inline
{
	margin-bottom: -3px;
}

.img_marg_bot
{
	margin-bottom: -4px;
}

.img_marg_bot10
{
	margin-bottom: -10px;
}

.img_inl_margleft
{
	margin-bottom: -4px;
	margin-left: 4px;
}

.img_vertmiddle
{
	padding-bottom: 6px;
	vertical-align: middle;
}

.img_vertmiddle_pad
{
	padding-top: 0;
	padding-bottom: 1px;
	vertical-align: middle;
	padding-left: 10px;
}

.image_inl, .radio_inl
{
	margin-bottom: -2px;
}

.image_inline3
{
	margin-bottom: -3px;
}

.image_inline, .link_inline
{
	margin-bottom: -2px;
	margin-left: 4px;
}

/* styles for image lists */

.imageBox
{
	padding: 10px 5px 6px;
	margin: 0 auto;
	width: 82%;
}

.imageBox ol
{
	margin: 0;
	padding: 0 2px;
}

.imageBox ol li
{
	list-style: none;
	padding: 2px;
	border-bottom: 1px dashed #CCC;	
}

.imageBox ol li label
{
	text-align: left;
	width: 140px;	
}

.imageOptionBox
{
	position: relative;
	width: 400px;
	height: 20px;
	margin-top: 10px;
}

.imageAll
{
	position: absolute;
	top: 0;
	right: -1px;
}

.imageHolder
{
	position: relative;
	background: #FFF;
	text-align: center;
	width: 280px;
	height: 280px;
}

.imageHolder a
{
	margin: 0 auto;
}

.imageSelect
{
	position: absolute;
	bottom: 4px;
	right: 6px;
}

.imageDelete
{
	 position: absolute;
	 top: 4px;
	 right: 4px;
}

.imageTagHolder
{
	width: 180px;
}

.imageTagHolder .comment, .imageTagHolder .tagged
{
	 padding: 2px;
}

.imageTagHolder .commentText
{
	padding: 2px;
}

.imageTagHolder .tagged
{
	 margin-top: 10px;
}

/*
*********************************************************************************************************************************
*
*	error styles
*
*********************************************************************************************************************************
*/

.contentbody #mainerror
{
	padding: 4px;
	margin-bottom: 10px;
}

.successBox1
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.successBox3
{
	padding: 10px;
	text-align: center;
}

.messageBox1
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.messageBox3
{
	padding: 10px;
}

.warningBox1
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.warningBox3
{
	padding: 10px;
	text-align: center;
}

.warningBox3 ul
{
	list-style-type: none;
}

.warningBox3 li
{
	padding-left: 2em;
	line-height: 20px;
}

.thickbox-box
{
	width: 99%;
}

/*
*********************************************************************************************************************************
*
*	note styles
*
*********************************************************************************************************************************
*/

#noteBoxy select#savedNotes option, #noteBoxy select#savedNotes optgroup
{
	width: 10%;
	overflow: hidden;
}

fieldset.showActiveItemNotes
{
	background: #FEFEFE;
	margin: 0;
	padding: 0;
	border: 0;	
}

.notebox
{
	padding: 3px;
}

.noteoption
{
	padding: 3px;
	padding-left: 8px;
}

.notes_note
{
	width: 54%;
	float: left;
	padding-left: 1%;
	min-height: 30px;
}

.notes_editor
{
	width: 22%;
	float: left;
	padding-right: 1%;
}

.notes_edit
{
	width: 21%;
	float: left;
}

.instructions_note
{
	width: 65%;
}

.instructions_edit
{
	width: 10%;
}

.notes_note_edit
{
	width: 73%;
	float: left;
	padding-left: 1%;
	min-height: 30px;
}

.notes_editor_edit
{
	width: 24%;
	float: left;
	padding-right: 1%;
}

.inlinenotes_note
{
	width:69%;
	float: left;
	padding-left: 10px;
}

.inlinenotes_edit
{
	width: 28%;
	float: left;
	padding-right: 1%;
}

#jicertificatetable .inlinenotes_note,
#jithirdcertificatetable .inlinenotes_note
{
	width: 100%;
}

/*
*********************************************************************************************************************************
*
*	result styles
*
*********************************************************************************************************************************
*/

.results
{
	padding-top: 10px;
	margin-top: 16px;
}


.results ul
{
	margin: 0;
	padding: 0;
} 

.results li
{
	clear: both;
	display: block;
}

.results h5
{
	margin: 0;
	padding: 6px;
}

.result_text
{
	width: 100%;
	float: left;
}

.headingtext, .instructiontext
{
	width: 100%;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.headingtext div, .instructiontext div
{
	margin-left: 10px;
}

.result_text .title
{
	padding: 2px;
}
		
.result_text .value
{
	padding: 2px;
}

.result_text a 
{
	display: block;
	padding: 5px;
}

/*
********************************************************************
*
*	module display
*
********************************************************************
*/

.modulebox, .modulebox_selected
{
	padding: 8px;
}

.moduletext
{
	clear: both;
	padding: 5px;
}

.moduleoption
{
	padding: 2px;
	padding-left: 8px;
	position: relative;
}

.moduleoption span
{
	display: block;
	width: 400px;
}

.moduleoption span.modelname
{
	display: inline;
	width: auto;
}

#searchquoteitemform .moduleoption a, #searchpricelistitemform .moduleoption a
{
	position: absolute;
	left: 500px;
	top: 6px;
}

#editquotationitem .moduleoption a
{
	position: absolute;
	left: 400px;
	top: 6px;
}

.modulebase
{
	padding: 2px 0 2px 0;
	position: relative;
}

.modulebase .baseQuantity
{
	position: absolute;
	left: 410px;
	top: 0;
}

.modulebase .baseCalType
{
	position: absolute;
	left: 440px;
	top: 0;
}

.modulebase .basePlant
{
	position: absolute;
	left: 500px;
	top: 0;
}

.moduleoption .moduleQuantity
{
	position: absolute;
	left: 398px;
	top: 0;
}

.moduleoption .moduleCalType
{
	position: absolute;
	left: 428px;
	top: 0;
}

.moduleoption .modulePlant
{
	position: absolute;
	left: 488px;
	top: 0;
}

/*
*********************************************************************************************************************************
*
*	basket styles
*
*********************************************************************************************************************************
*/

/*
********************************************************************
*
*	add quote item basket
*
********************************************************************
*/

.quotebasket
{
	padding: 10px;
	margin-top: 16px;
}

.quotebasket fieldset
{
	clear: both;
	margin: 0;
}

.quotebasket label
{
	width: 260px;
}

.quotebasket h5
{
	margin: 0;
	padding: 6px;
}

.quotebasket #removelink
{
	float: right;
}

.closegif
{
	margin-right: 10px;
}

.successgif
{
	margin-left: 10px;
}

#quotebasketlink
{
	margin-left: 10px;
}

/*
*********************************************************************************************************************************
*
*	floated column styles
*
*********************************************************************************************************************************
*/

#editTPQuoteItem #activecosts .cost, #editTPQuoteItem #activecosts .disc,
#editbulktpquoteitems .cost, #editbulktpquoteitems .disc
{
	width: 140px;
	float: left;
	font-weight: bold;
	text-align: center;
}

#changeUserAccreditationOverlay .accredCaltype
{
	float: left;
	width: 50px;
	padding-top: 2px;
}

#changeUserAccreditationOverlay .accredLevel
{
	float: left;
	width: 120px;
}

#changeUserAccreditationOverlay .accredDate
{
	float: left;
	width: 160px;
}

#changeUserAccreditationOverlay .tab-box
{
	padding-top: 0;
}

#changeUserAccreditationOverlay fieldset
{
	background-color: #ddd;
	margin: 0;
	border: 0;
}


/*
*********************************************************************************************************************************
*
*	list styles
*
*********************************************************************************************************************************
*/

.small-list
{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 20px;
}
	
ul.small-left
{
	float: left;
	width: 36%;
	margin: 0px;
	padding: 10px;
}
	
ul.small-right
{
	float: right;
	width: 20%;
	margin: 0px;
	padding: 10px;
}
	
ul.small-left li, ul.small-right li
{
	padding: 4px; 
}

/*
*********************************************************************************************************************************
*
*	job item work requirement styles
*
*********************************************************************************************************************************
*/

.workReqHeadings
{
	background-color: #ccc;
	margin-bottom: 2px;
}

.workReqHeadings > div
{
	font-weight: bold;
	padding: 1px 0;
}

.workReqHeadings > div.clear
{
	height: 0;
	padding: 0;
}

.workReqHeadings .proc, .workRequirement .proc
{
	float: left;
	width: 25%;
}

.workRequirement .proc
{
	position: relative;
}

.workRequirement .proc .nextWorkReq
{
	background: url(../../img/icons/arrow.png) top left no-repeat;
	position: absolute;
	width: 10px;
	height: 9px;
	top: 2px;
	left: -12px;
	text-decoration: none;
}

.workRequirement .proc .makenextWorkReq
{
	background: url(../../img/icons/arrow-grey.png) top left no-repeat;
	position: absolute;
	width: 10px;
	height: 9px;
	top: 2px;
	left: -12px;
	text-decoration: none;
}

.workRequirement .workReqDelete
{
	background: url(../../img/icons/small_delete.png) center left no-repeat;
	text-decoration: none;
	height: 12px;
	padding: 0 5px;
}

.workRequirement .workReqEdit
{
	background: url(../../img/icons/small_form_edit.png) center left no-repeat;
	text-decoration: none;
	height: 12px;
	padding: 0 5px;
}

.workRequirement .workReqCompleted
{
	background: url(../../img/icons/small-tick.png) center left no-repeat;
	text-decoration: none;
	height: 12px;
	padding: 0 5px;
}

.workRequirement .workReqNotCompleted
{
	background: url(../../img/icons/small-cross.png) center left no-repeat;
	text-decoration: none;
	height: 12px;
	padding: 0 5px;
}

.workRequirement .workReqCancelled
{
	background: url(../../img/icons/cancel.png) center left no-repeat;
	cursor: default;
	opacity: 0.8;
	text-decoration: none;
	height: 2px;
	padding: 0 8px;
}
	
.workReqHeadings .servicetype, .workRequirement .servicetype
{
	float: left;
	width: 20%;
}

.workReqHeadings .type, .workRequirement .type
{
	float: left;
	width: 20%;
}

.workReqHeadings .lab, .workRequirement .lab
{
	float: left;
	width: 20%;
}

.workReqHeadings .actions, .workRequirement .actions
{
	float: left;
	width: 15%;
}

.workRequirement
{	
	padding: 1px 0px;
	background-color: #fff;
}

.workRequirement .workinst .workinstWrap
{
	width: 94%;
	overflow: hidden;
	white-space: nowrap;
}

.workRequirement .workReqSeparator
{
	clear: both;
	height: 2px;
	border-bottom: 1px dotted #ccc;
}

/*
*********************************************************************************************************************************
*
*	company and contact dwr result list styles
*
*********************************************************************************************************************************
*/

#contactlist
{
	height: 200px;
	padding: 10px;
	margin: 5px;
	overflow: auto;
}

a.contactlink, a.contactlink:hover, .selected-contact
{
	width: 90%;
	display: block;
	height: 22px;
	padding-left: 4px;
	padding-top: 6px;
}

.ajaxsubdiv
{
	padding: 2px 2px 2px 8px;
	margin-left: 20px;
}

.ajaxcontact
{
	margin-left: 50px;
	padding: 2px;
	padding-left: 8px;
}

.ajaxcompany
{
	padding: 4px;
}

/* company and contact search page ajax container divs */
/* additionally company and contact plugin styles */
#companyDiv, #contactDiv
{
	width: 100%;
	height: 260px; 
	overflow: scroll;
	overflow-x: hidden;
}

/* company search page anchor style */
#companyDiv a:link, #companyDiv a:visited
{
	display: block;
	position: relative;
	width: 100%;
	height: 24px;
}

/* company search page ajax headings */
#companyDivHead .headcorole, #companyDivHead .headcomp, #companyDivHead .headlegal
{
	display: block;
	position: absolute;
	top: 0;
	padding-left: 4px;
	overflow: hidden;
}

/* company search page heading text */
#companyDivHead .headcomp
{
	width: 350px;
	left: 0;
}

/* company search page heading text */
#companyDivHead .headcorole
{
	width: 100px;
	left: 350px;
}

/* company search page heading text */
#companyDivHead .headlegal
{
	width: 165px;
	left: 448px;
}

/* company search page styles */
#companyDiv a .corolename, #companyDiv a .compname, #companyDiv a .legalidentifier
{
	display: block;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding-left: 4px;
}

/* company search page styles */
#companyDiv a .compname
{
	width: 350px;
	left: 0;
}

/* company search page styles */
#companyDiv a .corolename
{
	width: 96px;
	left: 365px;
}

/* company search page styles */
#companyDiv a .legalidentifier
{
	width: 155px;
	left: 465px;
}

/* contact and company search pages ajax headings */
#contactDivHead, #companyDivHead
{
	width: 100%;
	height: 22px;
}

/* contact search page ajax headings */
#contactDivHead .headname
{
	display: block;
	width: 184px;
	position: absolute;
	left: 0;
	top: 0;
}

/* contact search page ajax headings */
#contactDivHead .headcomp
{
	display: block;
	width: 364px;
	position: absolute;
	left: 186px;
	top: 0;
}

/* contact search page result divs */
#contactDiv div, #contDivPlugin div
{
	display: block;
	position: relative;
	width: 100%;
	height: 22px;
}

/* contact search page result anchors */
#contactDiv a.conname, #contactDiv a.connameSel,
#contactDiv a.compname, #contactDiv a.compnameSel
{
	display: block;
	height: 20px;
	position: absolute;
	top: 0;
	padding: 4px 0 0 4px;
	overflow: hidden;
	line-height: 1.6;
}

/* contact search page result anchors */
#contactDiv a.conname, #contactDiv a.connameSel
{
	width: 180px;
	left: 0;
}

/* contact search page result anchors */
#contactDiv a.compname, #contactDiv a.compnameSel
{
	width: 364px;
	left: 184px;
}

div#loading-plug, div.loading-plug
{
	text-align: center;
	margin-top: 10px;
}

div#loading-search
{
	text-align: center;
	padding-top: 20px;
	border-bottom: 0;
}


/*
*********************************************************************************************************************************
*
*	quotation terms and conditions styles
*
*********************************************************************************************************************************
*/

ul#termsandconditions, ul#termsandconditions li
{
	margin: 0;
	padding: 0;
}

ul#termsandconditions h3
{
    margin: 0px;
	padding: 4px 0 0 20px;
}

#generalconditions h4
{
	margin-bottom: 0;
}

ul#termsandconditions div#termscontainer
{
	margin: 0;
	padding: 0;
}

li#one div#conditiontext
{
	margin: 0;
	padding: 0 18px 18px 18px;
}

#termscontainer p span
{
	padding: 0 20px 0 20px;
}

/*
*********************************************************************************************************************************
*
*	tooltip styles
*
*********************************************************************************************************************************
*/

fieldset.tooltip 
{
	font-size: 86%;
}

fieldset.newtooltip 
{
	margin: 0;
	font-size: 86%;
}

fieldset.tooltip legend, fieldset.newtooltip legend
{
	margin-left: 10px;
	padding: 2px 4px 2px 4px;
	font-size: 94%;
}

fieldset.tooltip label, fieldset.newtooltip label
{
  	vertical-align: top;
    display: block;
  	float: left;
}

fieldset.tooltip ol, fieldset.newtooltip ol
{
  	margin-left: 6px;
  	padding: 0;
}

fieldset.tooltip li, fieldset.newtooltip li
{
	padding: 1px;
}

fieldset.tooltip label, fieldset.newtooltip label
{
  	width: 120px; /* Width of labels */
}

.fleftTooltip
{
	float: left;
	margin-top: 3px;
}

#instrumentTooltip .fleftTooltip
{
	width: 260px;
}

#procedureTooltip .fleftTooltip
{
	width: 300px;
}

.inactiveTT
{
	zoom: 1;
	filter: alpha(opacity=50);
	-moz-opacity: 0.4;
	opacity: 0.4;
}
	
/*
*********************************************************************************************************************************
*
*	file uploader styles
*
*********************************************************************************************************************************
*/

#addImageOverlay
{
	padding-top: 16px;
}

.fileuploadform, .fileuploadform div
{
	width: 99.9%;
	float: left;
}

#addImageOverlay .fileuploadform, #addImageOverlay .fileuploadform div
{
	float: none;
	width: auto;
}

.fileuploadform > div > div span
{
	display: block;
	margin: 10px 0 10px;
}

.fileuploadform > div > div > div
{
    height: 15px;
}
    
.fileuploadform > div > div > div div
{
	height: 100%;
}

/*
*********************************************************************************************************************************
*
*	work around styles
*
*********************************************************************************************************************************
*/

.searchplugindummy
{
	margin-top: 2px;
}

/*
*********************************************************************************************************************************
*
*	password strength meter styles
*
*********************************************************************************************************************************
*/

#passwordDescription
{
	float: left;
	margin-top: 4px;
}

#passwordStrength
{
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	height: 12px;
}

.strength0
{
   	width: 250px;
}

.strength1
{
   	width: 50px;
}

.strength2
{
  	width: 100px;
}

.strength3
{
  	width: 150px;
}

.strength4
{
  	width: 200px;
}

.strength5
{
  	width: 250px;
}

/* styles for the symbol box popup */

.symbolBoxDiv
{
	z-index: 20000;
	position: relative;
	width: 120px;
}

.symbolBoxSpacer
{
	height: 18px;
}

.symbolBoxDiv > div
{
	position: absolute;
	top: 0px;
	/* style for IE only */
	#top: 0;
	right: -17px;
	width: 16px;
	height: 16px;
}

.symbolBoxDiv table.default2
{
	height: 100%;
	margin: 0;
}

.symbolBoxDiv table.default2 tbody td
{
	width: 25%;
}

/* styles for the directory browser on asset register */

.showDirectoryFolderImg
{
	margin-bottom: -6px;
}

.directoryBrowser
{
	border: 1px solid #666;
	background-color: #fff;
}

.directoryBrowser ul
{
	margin: 0;
	padding: 10px 0 10px 20px;
	list-style-type: none;
}

.directoryBrowser ul li input
{
	height: 20px;
	font-size: 10px;
}

.directoryBrowser ul li img
{
	margin-bottom: -9px;
	padding: 5px 0 5px 0;
}

/* add job via web service */

.match_item, .match_model, .match_instlinkstatus
{
	float: left;
	width: 6%;
	padding-top: 4px;
}
	
.match_model
{
	width: 36%;
}	
	
.match_instlinkstatus
{
	width: 36%;
}	

#videoElement
{
	width: 640px;
	height: 480px;
	margin: auto;
	background-color: #666;
}

.ui-front {	z-index: 1000 !important; }
.ui-dialog { z-index: 1001 !important; }

/* grid system  */
.grid-25
{
	float: left;
	width: 24%;
	padding-bottom: 0;
}

#subdivtablebody .action
{
	width: 75px;
	text-align: center;
}

.wideinput
{
	width: 300px
}

.table-wrapper {
	position:relative;
}

.table-scroll {
	height:250px;
	overflow:auto;
	margin-top:20px;
}

.table-wrapper table {
	width:100%;
}

.table-wrapper table thead th .text {
	position:absolute;
	top:-20px;
	z-index:2;
	height:20px;
}

#instsearchresultsdialog th.barcode, #instsearchresultsdialog td.barcode {
	width: 15%;
}

#instsearchresultsdialog th.instrumentname, #instsearchresultsdialog td.instrumentname {
	width: 50%;
}

#instsearchresultsdialog th.serialno, #instsearchresultsdialog td.serialno {
	width: 25%;
}

#instsearchresultsdialog th.action, #instsearchresultsdialog td.action {
	width: 10%;
	text-align: center;
}

#choosebpodialog th.bponumber, #choosebpodialog td.bponumber {
	width: 30%;
}

#choosebpodialog th.date, #choosebpodialog td.date {
	width: 15%;
	text-align: center;
}

#choosebpodialog td.value {
	width: 15%;
	text-align: right;
}

#choosebpodialog th.value {
	width: 15%;
	text-align: center;
} 

#choosebpodialog td.action {
	width: 10%;
	text-align: center;
}

#contractserviceslist th.name, #contractserviceslist td.name {
	width: 60%
}

#contractserviceslist th.code, #contractserviceslist td.code {
	width: 20%;
	text-align: center;
}



/*
	Datatables styles
 */
td.dt-center {
	text-align: center;
}

.dataTables_filter {
	padding-bottom: 10px;
}

.form-item {
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 30px 190px;
		grid-auto-flow:row;
		grid-gap: 5px;
}