<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
	<head>
		
		<meta http-equiv="Content-Type" content="text/html" />
	
		<title th:text="#{email.con_rev_feedback.title(${businessDetails.company})}"> {0} Feedback Request </title>
		
	</head>
	
	<body class="document">
	
 		<div style=" font-family: arial, helvetica, sans-serif; font-size: 12px; ">
		
			<div th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})">
	  			<p>business details in here</p>
	  		</div>
		
			<h4 th:text="#{email.con_rev_feedback.info(${job.jobno})}">
					Information Request For Job No {0}
			</h4>
			<p>
				<strong th:text="${job.con.sub.comp.coname}">abcde</strong>
			</p>
			<p	th:text="#{email.dearclient}">
					Dear Client,
			</p>	
			
			<p th:text="#{email.con_rev_feedback.detail}">
				We require additional information from you regarding the instruments listed below.</p>	
											
			<table style=" width: 100%; padding-top: 6px; font-family: arial, helvetica, sans-serif; font-size: 12px; border: 1px solid #999; " cellpadding="4" cellspacing="0" summary="This table displays job items">
												
				<col width="5%" align="center" />
				<col width="44%" />
				<col width="17%" />
				<col width="17%" />
				<col width="17%" />			
				
				<tr valign="middle">
					<td style=" padding-bottom: 2px; "><strong th:text="#{email.item}"> Item </strong></td>  
					<td style=" padding-bottom: 2px; "><strong th:text="#{email.instrument}"> Instrument </strong></td>  
					<td style=" padding-bottom: 2px; "><strong th:text="#{email.serialno}"> Serial No </strong></td>
					<td style=" padding-bottom: 2px; "><strong th:text="#{email.plantno}"> Plant No </strong></td>
					<td style=" padding-bottom: 2px; "><strong th:text="#{email.yourpo}"> Your PO </strong></td>									
				</tr>			
																
				<th:block th:each="item : ${ifritems}">
					<tr valign="middle">
						<td height="16" style=" border-top: 1px solid #999; "><strong th:text="${item.ji.itemNo}">abcde</strong></td>  
						<td style=" border-top: 1px solid #999; "><div th:text="${item.modelName}">abcde</div></td>
						<td style=" border-top: 1px solid #999; "><div th:text="${item.ji.inst.serialno}">222145</div></td>
						<td style=" border-top: 1px solid #999; "><div th:text="${item.ji.inst.plantno}">14587</div></td>
						<td style=" border-top: 1px solid #999; ">
							<span th:if="${item.ji.jobItemPOs}">
								<th:block th:each="jipo : ${item.ji.jobItemPOs}">
									<div th:if="${jipo.bpo != null}">
										<div th:text="${jipo.bpo.poNumber}">14587</div><br />
									</div>
									<div th:if="${jipo.po != null}">
										<div th:text="${jipo.po.poNumber}">14587</div><br />
									</div>
								</th:block>
							</span>
						</td>						
					</tr>
					
					<tr valign="middle" align="left">
						<td colspan="5">
							<div style=" line-height: 18px; padding-bottom: 6px; ">								
								 <th:block th:if="${item.cfrDTO.confirmCalType} == true">
									<div
										th:text="#{email.con_rev_feedback.confirmcaltype}"> Please confirm calibration type required - Accredited or Standard
									</div>
								 </th:block>
								<th:block th:if="${item.cfrDTO.confirmTurnaround} == true">
									<div
										th:text="#{email.con_rev_feedback.confirmturnaround}"> Please confirm turnaround period required:
									</div>
								</th:block>
								<th:block th:if="${item.cfrDTO.confirmCalPoints} == true">
									<div
										th:text="#{email.con_rev_feedback.confirmcalpoint}"> Please confirm calibration points required:
									</div>
								</th:block>
								<th:block th:if="${item.cfrDTO.confirmReturn} == true">
									<div
										th:text="#{email.con_rev_feedback.confirmreturn}"> Please confirm calibration is required for this item:
									</div>
								</th:block>
								<th:block th:if="${item.cfrDTO.confirmAdjustment} == true">
									<div
										th:text="#{email.con_rev_feedback.confirmadjustment}"> Please confirm acceptance of adjustment and recalibration.
									</div>
								</th:block>
								<th:block th:if='${item.cfrDTO.feedbackComment != null && item.cfrDTO.feedbackComment != ""}'>
									<div style=" min-height: 16px; ">
										<strong th:text="#{email.comment}"> Comment: </strong>
										<span th:utext="${item.cfrDTO.feedbackComment}">abcdsss</span>
									</div>
								</th:block>								
							</div>
						</td>
					</tr>						
									
				 </th:block>
			
			</table>
			<p th:text="#{email.kindregards}">Kind Regards,</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>

		<footer  th:include="email/fragments/footer ::footerFromCustomerService( ${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
		</div>
	
	</body>

</html>