<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
		<meta http-equiv="Content-Type" content="text/html" />
		<title th:text="#{email.contactreminder.title(${businessDetails.docCompany})}"> {0} Client Website: Login Details </title>
</head>
	
	<body class="document">
	<div th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})">
		<p>business details in here</p>
	</div>

	<!-- page div -->
		<div style=" height: 25cm; position: relative; ">
		
			<h3 th:text="#{email.contactreminder.title(${businessDetails.docCompany})}"> {0} Client Website: Login Details</h3>
			<p>
				<p th:if="${contact != null}">
					<p th:if="${contact.firstName.length() > 1}">
						<a th:text="${contact.firstName}">abdel</a>
					</p>
					<p th:unless="${contact.name != null}">
						<a th:text="${contact.name}">youness</a>
					</p>
				</p>
			<p th:text="#{email.contactreminder.info1(${businessDetails.company})}">
					 As a customer of {0}, we would like to invite you to make use of our client website, enabling you to check the status of your calibrations, download your certificates, request quotes and collections and view the complete history of any of your instruments.
			</p>
			<p th:text="#{email.contactreminder.detail1}">
					The details you will need to log into our client website are as follows:
			</p>
			<p th:text="#{email.contactreminder.infousername}" >
					Your case sensitive username is:
			</p>
			<strong th:text="${contact.user.username}">youness.AH</strong>

			<p th:text="#{email.contactreminder.infopassword}" >
					Your case sensitive password is:
			</p>
			<strong th:text="${newPassword}">NewPassword123</strong>
			<p th:text="#{email.contactreminder.detail2}">
					These details are specific to you and should be kept confidential.
			</p>
			
			<p th:inline="text">
			[[ #{email.contactreminder.infourl} ]]
				<a th:href="${deployedURL}" href="https://portal.atlas.trescal.com">
					<span th:text="${deployedURL}">https://portal.atlas.trescal.com</span>
				</a>
			</p>
	
			<p th:text="#{email.contactreminder.info2}">
				If you are logging into our website for the first time then you will be offered the chance to change your password as soon as you log in. Otherwise click on the 'My Profile' link and select 'Change Password' if you wish to change this password.
			</p>			
			<p th:text="#{email.contactreminder.info3}">
				We hope that these online facilities will be of great benefit to you and your company. If you have any suggestions for improvement or experience any problems with this service, please do not hesitate to contact us.
			</p>
			<p th:text="#{email.kindregards}">
				Kind Regards,
			</p>
			<p>&nbsp;</p>

			
		
		</div>
		<footer  th:include="email/fragments/footer ::footerFromCustomerService( ${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
	
	</body>

</html>