<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
    	<meta charset="UTF-8">

		<title th:text="#{email.delaycert.title}">Delayed certificate signing notification</title>

	</head>

	<body style=" font-family: arial, helvetica, sans-serif; font-size: 86%; ">
		
		<div style=" width: 600px; height: 700px; padding: 10px; ">
		
			<div th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})">
		    	<p>Business Details Fragment</p>
			</div>
			
			<div style=" margin-top: 20px; ">

                <p th:text="#{email.delaycert.date(${#temporals.format(date)})}">
                    Date: {0}
                </p>

                <p th:text="#{email.delaycert.info1(${cert.certno})}">
                    This is a notification that the certificate signing process has been delayed for certificate number
                    {0}.
                </p>

                <p th:text="#{email.delaycert.info2}">
                    Please ensure it gets signed at the earliest opportunity.
                </p>
				
				<p>
					<span th:text="#{email.delaycert.jobitemcertpath(${cert.certno})}">
						Link to the job item certificate page where you can view certificate number {0}:
					</span>
					<br/>
					<a href="/jicertificates.htm?id=1234" th:href="@{${jiCertPath}}" th:text="${jiCertPath}">/jicertificates.htm?id=1234</a>
				</p>
				
			</div>
			
		</div>
			<footer  th:include="email/fragments/footer ::footerWithContactAndDetails(${engineer} ,${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
	</body>
	
</html>