<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
    	<meta charset="UTF-8">
		<title th:text="#{email.feedback.title2(${date})}">System Feedback - {0}</title>
	</head>
	<body style="font-family: arial, helvetica, sans-serif; font-size: 86%;">
		<div>
    		<span th:text="#{email.feedback.info2(${date},${contact.name})}">
    			On {0} {1} left the following feedback:
    		</span>
    		<br/>
    		<br/>
				
			<div>
				<strong th:text="#{email.title}" >Title:</strong>
				<span th:text="${title}">aaaaa</span>
			</div>

    		<br/>	
     		<div> 
     			<strong th:text="#{email.url}">URL:</strong>
     			<span th:text="${requesturl}">abcde</span> 
     		</div> 
    		<br />
     		<div>
    			<strong th:text="#{email.useragent}">Build:</strong>
    			<span th:text="${useragent}">cdrft</span>	
    		</div>
    		<br/>
    		<div>
    			<strong th:text="#{email.build}">Build:</strong>
				<span th:text="${build}">cdrft</span>
    		</div>
    		<br/>	
     		<div> 
     			<strong th:text="#{email.description}"></strong> 
     			<span th:text="${description}">cdrft</span>
     		</div>
		</div>

		<footer  th:include="email/fragments/footer ::footerWithContactAndDetails(${contact} ,${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
	</body>
</html>