<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />

    <title
      th:text="#{email.hire_enquiry_confirm.title(${businessDetails.company})}"
    >
      {0} Hire Enquiry Confirmation
    </title>
  </head>

  <body class="document">
    <!-- page div -->
    <div style="font-family: arial, helvetica, sans-serif; font-size: 12px">
      <div
        th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})"
      >
        <p>business details in here</p>
      </div>

      <h4
        th:text="#{email.hire_enquiry_confirm.summary(${businessDetails.company},${hire.hireno})}"
      >
        {0} Hire Enquiry Confirmation {1}
      </h4>

      <p>
        <strong th:text="${hire.contact.sub.comp.coname}"></strong>
          Client Company Name
        </strong>
      </p>
      <div th:each="addressLine : ${addressText}" th:text="${addressLine}">
        Formatted Client Address
      </div>
      <br />

      <div th:if="${hire.clientref != null}">
        <span th:text="#{email.yourref}">Your Ref :</span>
        <strong th:text="${hire.clientref}"></strong>
      </div>
      <br />

      <span th:text="#{email.ourref}">Our Ref:</span>
      <strong th:text="${hire.hireno}"></strong>
      <br />

      <p></p>
      <p th:if="${hire.contact != null}"></p>
      <p
        th:if="${hire.contact.firstName.length() > 1}"
        th:text="#{email.dearcontact(${hire.contact.firstName})}"
      >
        Dear {0},
      </p>
      <p
        th:unless="${hire.contact.firstName.length() > 1}"
        th:text="#{email.dearcontact(${hire.contact.name})}"
      >
        Dear {0},
      </p>
      <p
        th:unless="${hire.contact != null}"
        th:text="#{email.dearunkowncontact}"
      >
        no message ????:
      </p>

      <p th:text="#{email.hire_enquiry_confirm.info(${hire.hireDate})}">
        Thank you for your hire enquiry on {0}.
      </p>

      <p
        th:if="${hire.enquiryEstDuration > 1}"
        th:text="#{email.hire_enquiry_confirm.detail1(${hire.hireDate},${hire.enquiryEstDuration})}"
      >
        The items you requested to hire from {0} for an estimated duration of
        {1} days are listed below:
      </p>
      <p
        th:unless="${hire.enquiryEstDuration > 1}"
        th:text="#{email.hire_enquiry_confirm.detail2(${hire.hireDate},${hire.enquiryEstDuration})}"
      >
        The items you requested to hire from {0} for an estimated duration of
        {1} day is listed below:
      </p>

      <table
        style="
          width: 80%;
          padding-top: 6px;
          font-family: arial, helvetica, sans-serif;
          font-size: 12px;
        "
        cellpadding="4"
        cellspacing="0"
        summary="This table displays hire items"
      >
        <col width="8%" align="center" />
        <col width="18%" />
        <col width="58%" />
        <col width="8%" align="right" />
        <col width="8%" align="right" />

        <tr valign="middle">
          <td style="padding-bottom: 2px">
            <strong th:text="#{email.item}">Item</strong>
          </td>
          <td style="padding-bottom: 2px">
            <strong th:text="#{email.plantno}">Plant No</strong>
          </td>
          <td style="padding-bottom: 2px">
            <strong th:text="#{email.desc}">Desc</strong>
          </td>
          <td style="padding-bottom: 2px" colspan="2" align="right">
            <strong th:text="#{email.costperday}">Cost Per Day</strong>
          </td>
        </tr>

        <th:block th:each="item : ${hire.items}">
          <tr valign="middle">
            <td height="16" align="center">
              <div th:text="${item.itemno}">ID 12345</div>
            </td>
            <td>
              <div th:if="${item.hireInst != null}">
                <div th:text="${item.hireInst.inst.plantno}">PN 12345</div>
              </div>
              <div th:unless="${item.hireInst != null}">
                <div th:text="${item.hireCrossItem.plantno}">CI PN 12345</div>
              </div>
            </td>
            <td>
              <div th:if="${item.hireInst != null}">
                <div th:text="${item.hireInst.inst.model.definitiveModel}">
                  Model
                </div>
              </div>
              <div th:unless="${item.hireInst != null}">
                <div th:text="${item.hireCrossItem.description}">
                  Description
                </div>
              </div>
            </td>
            <td align="right" th:text="${hire.currency.currencySymbol}">
              Currency
            </td>
            <td align="right" th:text="${item.hireCost}">12345</td>
          </tr>
        </th:block>

        <tr height="28">
          <td colspan="3" align="right" th:text="#{email.totalcostperday}">
            Total Cost Per Day:
          </td>
          <td align="right" th:text="${hire.currency.currencySymbol}">
            Currency
          </td>
          <td align="right" th:text="${hire.totalCost}">123456</td>
        </tr>
      </table>
      <p style="font-weight: bold" th:text="#{email.hire_enquiry_confirm.note}">
        Please Note: Prices quoted are valid for 30 days from the date of issue.
      </p>
      <p th:text="#{email.kindregards}">Kind Regards,</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <footer th:include="email/fragments/footer ::footerWithContactAndDetails(${antechCon}, ${businessDetails})" th:remove="tag"></footer>
    </div>
  </body>
</html>

