<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
		
		<meta http-equiv="Content-Type" content="text/html" />
	
		<title th:text="#{email.contactreminder.title(${businessDetails.docCompany})}"> {0} Client Website: Login Details </title>
</head>
	
	<body class="document">
	
		<!-- page div -->
		<div style=" height: 25cm; position: relative; ">
		
			<h3 th:text="#{email.contactreminder.title(${businessDetails.docCompany})}"> {0} Client Website: Login Details</h3>
			<p>
				<p th:if="${contact != null}">
					<p th:if="${contact.firstName.length() > 1}">
						<a th:text="${contact.firstName}">abdel</a>
					</p>
					<p th:unless="${contact.name != null}">
						<a th:text="${contact.name}">youness</a>
					</p>
				</p>
	
			<p th:text="#{email.resetpasswordtoken.token}">
			In order to confirm password reset request click that link or copy it and paste to your browser.</p>
			<a th:href="${resetPasswordUrl}" th:text="${resetPasswordUrl}">reset password url</a>
			<p th:text="#{email.contactreminder.info2}">
				If you are logging into our website for the first time then you will be offered the chance to change your password as soon as you log in. Otherwise click on the 'My Profile' link and select 'Change Password' if you wish to change this password.
			</p>			
			<p th:text="#{email.contactreminder.info3}">
				We hope that these online facilities will be of great benefit to you and your company. If you have any suggestions for improvement or experience any problems with this service, please do not hesitate to contact us.
			</p>
			<p th:text="#{email.kindregards}">
				Kind Regards,
			</p>
			<p>&nbsp;</p>

			
		
		<footer  th:include="email/fragments/footer ::footerFromCustomerService( ${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
		</div>
	
	</body>

</html>