<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
	<title
		th:text="#{email.scheduleconfirmation.title(${businessDetails.company})}">
			{0}: Schedule Confirmation</title>
</head>

<body class="document">

	<!-- page div -->
	<div
		style="font-family: arial, helvetica, sans-serif; font-size: 12px;">

		<div
			th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})">
			<p>Business Details Fragment</p>
		</div>

		<h4
			th:text="#{email.scheduleconfirmation.title(${businessDetails.company})}">
			{0}: Schedule Confirmation</h4>

		<div th:if="${schedule.contact != null}">
			<div th:text="#{email.dearcontact(${schedule.contact.firstName})}">
				Dear {0},</div>
		</div>
		<p
                th:text="#{email.scheduleconfirmation.info1(${schedule.type.type},${businessDetails.company},${#calendars.format(schedule.getScheduleDate(),'yyy-MM-dd')})}">
            Your scheduled {0} with {1} has been confirmed for {2}.
        </p>
		<p
			th:text="#{email.scheduleconfirmation.info2(${schedule.type.type})}">
				The details of the {0} are as follows:</p>
		<table
			style="width: 100%; padding-top: 6px; font-family: arial, helvetica, sans-serif; font-size: 12px;"
			cellpadding="4" cellspacing="0">

			<col width="50%" />
			<col width="50%" />

			<tr valign="top">
				<td height="28"><span th:text="#{email.name.label}">
						Name:</span></td>
				<td th:text="${schedule.contact.name}">abcdre</td>
			</tr>
			<tr valign="top">
				<td height="28"><span th:text="#{email.tel.label}"> Tel:</span></td>
				<td><th:block
						th:if="${schedule.contact.telephone.trim().length() > 0}">
						<span th:text="${schedule.contact.telephone}">021356877</span>&nbsp; 
						</th:block></td>
			</tr>

			<tr valign="top">
				<td height="28"><span th:text="#{email.mobile.label}">
						Mobile:</span></td>
				<td><th:block
						th:if="${schedule.contact.mobile.trim().length() > 0}">
						<span th:text="${schedule.contact.mobile}">021356877</span>
						&nbsp; 
					</th:block></td>
			</tr>
			<tr valign="top">
				<td height="28"><span th:text="#{email.mail.label}">
						Mail:</span></td>
				<td><th:block
						th:if="${schedule.contact.email.trim().length() > 0}">
						<span th:text="${schedule.contact.email}">trescal@trescal.com</span>
						 &nbsp; 
					</th:block></td>
			</tr>
			<tr valign="top">
				<td height="28"><span th:text="#{email.address.label}">Address:</span>
				</td>
				<td>
					<div th:each="addressLine : ${addressText}" th:text="${addressLine}">
   				 		Formatted Client Address
					</div>
				</td>
			</tr>

		</table>
		<th:block th:if="${schedule.deliveries.size() > 0}">

			<th:block th:each="d : ${schedule.deliveries}">

				<p>
					<strong
						th:text="#{email.scheduleconfirmation.deliveries(${d.deliveryno},${d.items.size()})}">
						Delivery No: {0} ({1} Items included on this delivery)</strong>
				</p>

				<table
					style="width: 100%; margin-top: 10px; font-family: arial, helvetica, sans-serif; font-size: 12px; border: 1px solid #999;"
					cellpadding="4" cellspacing="0">

					<col width="6%" />
					<col width="46%" />
					<col width="24%" />
					<col width="24%" />

					<tr>
						<td scope="col"><strong th:text="#{email.item}">
								Item </strong></td>
						<td scope="col"><strong th:text="#{email.mfr}"> Mfr - Model - Desc </strong></td>
						<td scope="col"><strong th:text="#{email.serialno}">
								Serial No </strong></td>
						<td scope="col"><strong th:text="#{email.plantno}">
								Plant No </strong></td>
					</tr>

					<th:block th:each="i : ${d.items}">
						<tr>
							<td height="20"><span th:text="${i.jobitem.itemNo}">abcde</span></td>

							<td>
								<span
									th:if="${i.jobitem.inst.model.modelMfrType.mfrRequiredForModel != null}">
									<span th:text="${i.jobitem.inst.model.mfr.name}">14587</span>
								</span>
								&nbsp;-&nbsp;
								<span th:text="${i.jobitem.inst.model.model}">aserz</span>&nbsp;-&nbsp;
								<span th:text="${i.jobitem.inst.model.description.description}">abcde</span>&nbsp;-&nbsp;
							</td>
							<td th:text="${i.jobitem.inst.serialno}">abcde</td>
							<td th:text="${i.jobitem.inst.plantno}">abcde</td>
						</tr>
					</th:block>
				</table>

			</th:block>

		</th:block>

		<p th:text="#{email.scheduleconfirmation.info3}">Please contact us
			as soon as possible if any of these details are incorrect.</p>

		<p th:text="#{email.kindregards}">Kind Regards,</p>

	</div>
		<footer  th:include="email/fragments/footer ::footerFromCustomerService( ${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>

</body>

</html>