<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

		<title th:text="#{email.schedulequoterequest.title}">
				Scheduled quotation request executed</title>
		
	</head>

	<body style=" font-family: arial, helvetica, sans-serif; font-size: 86%; ">
		
		<div style=" width: 600px; padding: 10px; ">
		
			<div style=" margin-top: 160px; ">
				
				<div th:text="#{email.schedulequoterequest.errorinfo}">Scheduled quotation request failed</div>
				<br/>
			
				<div style=" float: left; width: 30%; "><strong th:text="#{email.id}">Id: </strong></div>
				<div style=" float: left; width: 60%; "><span th:text="${sqr.id}">abcde</span></div>
				<div style=" clear: both; "></div>

				<div style=" float: left; width: 30%; "><strong th:text="#{email.requestedby}">Requested by: </strong></div>
				<div style=" float: left; width: 60%; "><span th:text="${sqr.requestBy.name}">abcde</span></div>
				<div style=" clear: both; "></div>
				
				<div style=" float: left; width: 30%; "><strong th:text="#{email.requestedon}">Requested on: </strong></div>
				<div style=" float: left; width: 60%; "><span th:text="${sqr.requestOn}">2019/02/15</span></div>
				<div style=" clear: both; "></div>
				
				<div style=" float: left; width: 30%; "><strong th:text="#{email.requestfor}">Request for: </strong></div>
				<div style=" float: left; width: 60%; "><span th:text="${sqr.quoteContact.name}">abcde</span>(<span th:text="${sqr.quoteContact.sub.comp.coname}">abcde</span>)</div>
				<div style=" clear: both; "></div>
				<br/>
			
				<div><strong th:text="#{email.schedulequoterequest.errordetail}">
					The following error was registered:</strong></div>
				
				<pre th:text="${exception}">abcde</pre>
				<div th:text="${stacktrace}">abcde</div>		
			
			</div>	
		</div>
			
	</body>
	
</html>