<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

	 	<title th:text="#{email.schedulequoterequest.title}">
			Scheduled quotation request executed </title>
		
	</head>

	<body style=" font-family: arial, helvetica, sans-serif; font-size: 86%; ">
		
		<div style=" width: 600px; padding: 10px; ">
		
			<div style=" margin-top: 160px; ">
				
				<div
					th:text="#{email.schedulequoterequest.successinfo(${sqr.requestOn},${sqr.quoteContact.name},${sqr.quoteContact.sub.comp.coname})}">
							This is a notification to inform you that a scheduled quotation that you requested on {0} for {1} ({2}) was successfully created.
				</div>
				<br/>
				<span
					th:text="#{email.schedulequoterequest.successdetail}">
						Scheduled quotation request executed 
				</span>
				<a 
					th:href="${baseUrl + '/viewquotation.htm?id=' + sqr.quotation.id}"
					th:text="${sqr.quotation.qno}">
						STEM-QC-17000418
				</a>
			</div>
			
		</div>
			
	</body>
	
</html>