<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

		<title th:text="#{email.unsignedcert.title(${cert.certno})}">
			Certificate ({0}) Remains Unsigned - Please Sign A.S.A.P</title>
	</head>

	<body style=" font-family: arial, helvetica, sans-serif; font-size: 86%; ">
		
		<div style=" width: 600px; height: 700px; padding: 10px; ">
		
			<div th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})">
		    	<p>Business Details Fragment</p>
			</div>
			
			<div style=" margin-top: 20px; ">

                <span th:text="#{email.date}"> Date: </span>
                <span th:text="${#temporals.format(date)}">abcde</span>

                <br/>
                <br/>
                <div th:if="${fileExists}">
                    <strong th:text="#{email.unsignedcert.existfile(${cert.certno})}">
                        Certificate ({0}) remains unsigned.
                    </strong>
                </div>
                <div th:if="${fileExists != null}">
                    <strong th:text="#{email.unsignedcert.noexistfile(${cert.certno})}">
					Certificate ({0}) has no document.
				</strong>
			</div>
			<br/>
				
				<th:block th:if="${jobcontact != null }">
					<table cellpadding="0" cellspacing="0" border="0" style=" font-family: arial, helvetica, sans-serif; font-size: 86%; ">
						<tr>
							<td style=" width: 100px; "><span th:text="#{email.company.label}"> Company: </span></td>
							<td th:text="${jobcontact.sub.comp.coname}">abcde</td>
						</tr>
						<tr>
							<td style=" width: 100px; "><span th:text="#{email.subdivision.label}"> Subdivision: </span></td>
							<td th:text="${jobcontact.sub.subname}">abcd</td>
						</tr>
						<tr>
							<td style=" width: 100px; "><span th:text="#{email.contact.label}"> Contact: </span></td>
							<td th:text="${jobcontact.name}">abc</td>
						</tr>
					</table>
				</th:block>	

				<div th:if="${fileExists}">
					<p th:text="#{email.unsignedcert.filesigne}">
						Please ensure it gets signed at the earliest opportunity.
					</p>
				</div>
				<div th:if="${fileExists != null}">
					<p th:text="#{email.unsignedcert.filecreate}">
						Please ensure it gets created at the earliest opportunity.
					</p>
				</div>
				
				<p
					th:text="#{email.unsignedcert.jobitemlink(${cert.certno})}"> Link to the job item certificate page where you can view certificate number <br />
				</p>
				<p>	
					<a th:href="${jiCertPath}"><span th:text="${jiCertPath}">14587</span></a>
			</div>
			
		</div>
			
		<footer  th:include="email/fragments/footer ::footerFromCustomerService( ${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
	</body>
	
</html>