/*****************************************************************************************************************************************************
'									CWMS (Calibration Workflow Management System)
'										
'									Copyright 2006, Antech Calibration Services
'											www.antech.org.uk
'							
'											All rights reserved
'				
'										Document author: 	Stuart Harrold
'
'	FILENAME		:	ie6.css
'	DESCRIPTION		: 	cascading stylesheet file for website. IE6 specific.
'	DEPENDENCIES	: 	-
'
'	TO-DO			: 	-
'	KNOWN ISSUES	: 	-
'	HISTORY			: 	18/05/2010 - SH - Created file.
'
****************************************************************************************************************************************************/


.mainBox
{
	padding-bottom: 200px;
}

h3
{
	font-size: 124%;
}

fieldset ol li span
{
	border: 0;
}

fieldset ol li
{
	border-bottom: 1px dashed #999; 
	border-top: 0;
}

.webSearchPlugin div.websearch-container, .modelSearchJQPlugin div.websearch-container
{
	height: 140px;
	background-color: #FFF;
	overflow: auto;
}

.mainBoxBodyContent
{
	border: 1px solid #999;
	border-top: 0;
	border-bottom: 0;
}

.mainBoxBodyContentFooter
{
	border: 1px solid #999;
}

div.calIndicatorBox
{
	font-size: 2pt;
}

.float-left-margin
{
	margin-left: 3px;
}

.login .headLinkBox, .login .mainBoxHead, .login .mainBoxTabs,
.login .mainBoxTabsContainer, .login .mainBoxBody
{
	width: 700px;
}

.login .mainBoxBodyContentFooter
{
	width: 698px;
}
