<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>
		 <div th:fragment="business_details (businessDetails)">
			<table width="100%" border="0" cellpadding="0" cellspacing="0" style=" font-size: 86%; font-family: arial, helvetica, sans-serif; ">
				<tbody>				
					<tr>
		   				<td style=" text-align: left; ">
		   					<span style="padding-bottom: 0px" th:text="${businessDetails.company}">Company Name</span><br/>
		   					<span style="padding-bottom: 0px" th:each="a : ${businessDetails.address}"	th:utext="${a}+  '&lt;br /&gt;' ">Address Lines</span>
		   				</td>
						<td style=" text-align: right; vertical-align: text-bottom; ">
							<span th:text="${businessDetails.tel}">11 11 22 22</span><br/>
							<span th:if="${businessDetails.fax != null}" th:text="${businessDetails.fax}">33 33 44 44</span><br/>
							<a href="http://www.sampleurl.com" th:href="${'http://' + businessDetails.homepage}" th:text="${businessDetails.homepage}">http://www.sampleurl.com</a><br />
							<a href="aaaaaa@gmail.com" th:href="'mailto:'+${businessDetails.salesEmail}" th:text="${businessDetails.salesEmail}">aaaaaa@gmail.com</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>