<!DOCTYPE html>
    <footer th:fragment="footerWithContactAndDetails(contact,businessDetails)">
        <footer th:include="::footerWithAllParameters(${contact.name},${contact.position},${businessDetails.company},${contact.telephone},${contact.mobile},${contact.email},${#strings.listJoin(businessDetails.address,', ')})" th:remove="tag"></footer>
    </footer>
    <footer th:fragment="footerWithAllParameters(contactName, position, companyName,telephone,mobile,email,address)">
<table
        class="MsoNormalTable"
        border="0"
        cellspacing="0"
        cellpadding="0"
        width="0"
        style="width: 352.5pt; background: white; border-collapse: collapse"
      >
        <tr>
          <td
            width="113"
            valign="top"
            style="
              width: 75pt;
              border: none;
              border-right: solid #ff360c 1pt;
              padding: 0cm 9pt 0cm 0cm;
            "
          >
            <p class="MsoNormal" style="line-height: 105%">
              <span
                style="
                  font-size: 4pt;
                  line-height: 105%;
                  font-family: 'Arial', sans-serif;
                  color: #616161;
                "
              >
              </span>
            </p>
            <p class="MsoNormal" style="line-height: 105%">
              <a href="https://www.trescal.com/en/">
                <span
                  style="
                    font-size: 11pt;
                    line-height: 105%;
                    font-family: 'Calibri', sans-serif;
                    color: black;
                    text-decoration: none;
                  "
                >
                  <img
                    border="0"
                    width="101"
                    height="101"
                    id="Bild_x0020_1"
                    src="img/logo_blue.gif"
                    alt="Company logo"
                  />
                </span>
              </a>
            </p> 
          </td>
          <td valign="top" style="padding: 0cm 0cm 0cm 9pt">
            <table
              class="MsoNormalTable"
              border="0"
              cellspacing="0"
              cellpadding="0"
              width="0"
              style="width: 368.5pt; border-collapse: collapse"
            >
              <tr>
                <td
                        width="491"
                        style="width: 368.5pt; padding: 0cm 0cm 6pt 0cm"
                >
                  <p class="MsoNormal" style="line-height: 105%">
                    <b>
                      <span
                              style="
                          font-size: 11.5pt;
                          line-height: 105%;
                          font-family: 'Arial', sans-serif;
                          color: #095ba5;
                        "
                              th:text="${contactName}"
                      >
                        Contact Name
                      </span>
                    </b>
                  </p>
                </td>
              </tr>
              <tr th:if="${position != null and position !=''}">
                <td
                  width="491"
                  style="width: 368.5pt; padding: 0cm 0cm 6pt 0cm"
                >
                  <p class="MsoNormal" style="line-height: 105%">
                    <b>
                      <span
                        style="
                          font-size: 11.5pt;
                          line-height: 105%;
                          font-family: 'Arial', sans-serif;
                          color: #095ba5;
                        "
                        th:text="${position}"
                      >
                        Position
                      </span>
                    </b>
                  </p>
                </td>
              </tr>
              <tr>
                <td
                  width="491"
                  style="width: 368.5pt; padding: 0cm 0cm 6pt 0cm"
                >
                  <p class="MsoNormal" style="line-height: 105%">
                    <span
                      style="
                        font-size: 9pt;
                        line-height: 105%;
                        font-family: 'Arial', sans-serif;
                        color: #000001;
                      "
                      th:text="${companyName}"
                    >
                      Company Name
                    </span>
                  </p>
                </td>
              </tr>
              <tr>
                <td
                  width="491"
                  style="width: 368.5pt; padding: 0cm 0cm 0cm 0cm"
                >
                  <p class="MsoNormal" style="line-height: 105%">
                    <span th:if="${telephone != null and telephone != ''}" th:remove="tag">
                    <b >
                      <span
                        style="
                          font-size: 9pt;
                          line-height: 105%;
                          font-family: 'Arial', sans-serif;
                          color: #095ba5;
                        "
                      >
                        Tel :&nbsp;
                      </span>
                    </b>
                    <span
                      style="
                        font-size: 9pt;
                        line-height: 105%;
                        font-family: 'Arial', sans-serif;
                        color: black;
                      "
                      th:text="${telephone}"
                    >
                      >000 (0) 000 000 000
                    </span></span>
                    <span th:if="${mobile != null and mobile != ''}" th:remove="tag">
                    <b>
                      <span
                        style="
                          font-size: 9pt;
                          line-height: 105%;
                          font-family: 'Arial', sans-serif;
                          color: #095ba5;
                        "
                      >
                        Mobile :&nbsp;
                      </span>
                    </b>
                    <span
                      style="
                        font-size: 9pt;
                        line-height: 105%;
                        font-family: 'Arial', sans-serif;
                        color: black;
                      "
                      th:text="${mobile}"
                    >
                      000 (0) 000 000 000
                    </span>
                    </span>
                  </p>
                </td>
              </tr>
              <tr th:if="${email != null and email != ''}">
                <td
                  width="491"
                  style="width: 368.5pt; padding: 0cm 0cm 0cm 0cm"
                >
                  <p class="MsoNormal" style="line-height: 105%">
                    <b>
                      <span
                        style="
                          font-size: 9pt;
                          line-height: 105%;
                          font-family: 'Arial', sans-serif;
                          color: #095ba5;
                        "
                      >
                        E-Mail :&nbsp;
                      </span>
                    </b>
                    <span
                      style="
                        font-size: 9pt;
                        line-height: 105%;
                        font-family: 'Arial', sans-serif;
                        color: black;
                      "
                    >
                      <a
                        href="mailto:"
                        th:attrappend="href=${email}"
                        th:text="${email}"
                      >
                        abcdef@gmail.com
                      </a>
                    </span>
                  </p>
                </td>
              </tr>
              <tr th:if="${address != null and address != ''}">
                <td
                  width="491"
                  style="width: 368.5pt; padding: 0cm 0cm 0cm 0cm"
                >
                  <p class="MsoNormal" style="line-height: 105%">
                    <b>
                      <span
                        style="
                          font-size: 9pt;
                          line-height: 105%;
                          font-family: 'Arial', sans-serif;
                          color: #095ba5;
                        "
                      >
                        Address :&nbsp;
                      </span>
                    </b>
                    <span
                      style="
                        font-size: 9pt;
                        line-height: 105%;
                        font-family: 'Arial', sans-serif;
                        color: black;
                      "
                      th:text="${address}"
                    ></span>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </footer>

    <footer th:fragment="footerFromCustomerService(businessDetails)">
        <footer th:include="::footerWithAllParameters(#{email.customerservices},'',${businessDetails?.company},'','',${businessDetails?.salesEmail},${#strings.listJoin(businessDetails?.address,', ')})" th:remove="tag"></footer>
    </footer>
