<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

    </head>
    <body>
    <!--/*@thymesVar id="instrument" type="org.trescal.cwms.core.instrument.entity.instrument.Instrument"*/-->
    <!--/*@thymesVar id="translationService" type="org.trescal.cwms.core.system.entity.translation.TranslationService"*/-->
        <div th:fragment="instrument_details (instrument, translationService)">
            <table>
                <tr>
                    <td><b><span th:text="#{barcode}">Instrument Barcode:</span></b></td>

                    <td th:text="${instrument.plantid}">A barcode</td>
                </tr>
                <tr>
                    <td><b><span th:text="#{viewinstrument.name}">Instrument Name</span></b></td>
                    <td th:text="${translationService.getCorrectTranslation(instrument.getModel().getNameTranslations(),#locale)}">An instrument model name</td>
                </tr>
                <tr>
                    <td><b><span th:text="#{plantno}">Plant No</span></b></td>
                    <td th:text="${instrument.plantno}">A plant No</td>
                </tr>
                <tr>
                    <td><b><span th:text="#{serialno}">Serial No</span></b></td>
                    <td th:text="${instrument.serialno}">A Serial No</td>
                </tr>
                <tr><td colspan="2">&nbsp;</td></tr>
            </table>
        </div>
    </body>
</html>