/*****************************************************************************************************************************************************
'	FILENAME		:	test-theme.css
'	DESCRIPTION		: 	Cascading Style Sheet file.
'	DEPENDENCIES	: 	-
'
'	TO-DO			: 	-
'	KNOWN ISSUES	: 	-
'	HISTORY			: 	20/10/2006 - SH - Created file.
'
****************************************************************************************************************************************************/

:root {
    --cwms-main-dark-background:#E47B00;
	--cwms-table-main-background: #f7e9dd; 
	--cwms-table-secondary-backgound: #eed4bd;
	--cwms-table-strong-backgound: #e6be99;
}

/*
*********************************************************************************************************************************
*
*	Login page styles
*
*********************************************************************************************************************************
*/


.loginhead
{
    background-image: url(../../img/trescal/trescal_theme/test-login.png);
    background-repeat: no-repeat;
}

.loginsubhead
{
    background: #E47B00;
    color: #fff;
}

/*
**********************************************************************************************************************************
*
*	banner styles
*
**********************************************************************************************************************************
*/

.banner-column1
{
    background-image: url(../../img/trescal/trescal_theme/test-logoleft.png);
    background-repeat: no-repeat;
}

/*
**********************************************************************************************************************************
*
*	navigation styles
*
**********************************************************************************************************************************
*/



/*
**********************************************************************************************************************************
*
*	main content styles
*
**********************************************************************************************************************************
*/


/*
**********************************************************************************************************************************
*
*	sub navigation styles
*
**********************************************************************************************************************************
*/



/* Themed title bar color for jquery dialog boxes */
.dialog-no-close .ui-widget-header {
    background-color: #d38933;
}