/*****************************************************************************************************************************************************
'									CWMS (Calibration Workflow Management System)
'										
'									Copyright 2006, Antech Calibration Services
'											www.antech.org.uk
'							
'											All rights reserved
'				
'										Document author: 	Stuart Harrold
'
'	FILENAME		:	theme_web.css
'	DESCRIPTION		: 	cascading stylesheet file for website.
'	DEPENDENCIES	: 	-
'
'	TO-DO			: 	-
'	KNOWN ISSUES	: 	-
'	HISTORY			: 	19/03/2009 - SH - Created file.
'
****************************************************************************************************************************************************/

/*
**********************************************************************************************************************************
*
*	global classes
*
**********************************************************************************************************************************
*/

.attention, .error		{ color: #CC0000; }
.nobord					{ border: 0; }
.boxy					{ background-color: #EFF1F5; }
.border-top				{ border-top: 1px solid #999; }

/*
**********************************************************************************************************************************
*
*	backgrounds
*
**********************************************************************************************************************************
*/

.BER
{
	border: 0;
	background: #EFF1F5 url(../../img/ber.png) no-repeat top center;
}

/*
**********************************************************************************************************************************
*
*	global element styles
*
**********************************************************************************************************************************
*/

body
{
	background-color: #FEFEFE;
}

fieldset 
{
	border: 0;
	background: #EFF1F5; 
}

fieldset ol li
{
	border-bottom: 1px dotted #666; 
	border-top: 0;
}

fieldset ol li ul li
{
	border: 0;
}

fieldset ol li span
{
	border: 1px solid transparent;
}

fieldset li span.usagesbad
{
	background-color: crimson;
	padding: 2px;
	color: snow
}

fieldset li span.usagesdodgy
{
	background-color: darkorange;
	padding: 2px;
	color: snow
}

fieldset li span.usagesgood
{
	background-color: springgreen;
	padding: 2px;
}

fieldset fieldset legend
{
	color: #000;
	border: 0;
	background: 0;
}

fieldset fieldset 
{
	border: none;
}


span.accepteddate
{
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
span.certaccepted
{
	background-color: green;
}

span.certrejected
{
	background-color: red;
}

span.certpending
{
	background-color: #808080;
}

/*
**********************************************************************************************************************************
*
*	link styles
*
**********************************************************************************************************************************
*/

a.mainlink:link, a.mainlink:visited, a.mainlink-float:link, a.mainlink-float:visited
{
	color: #153A6C;
}

a.mainlink-strike:link, a.mainlink-strike:visited, a.mainlink-strike:active, a.mainlink-strike:hover
{
	color: #777777;
}

a.scrapInstrument, a.mainlink.scrapInstrument, a.unscrapInstrument, a.mainlink.unscrapInstrument
{
	background: url(../../img/icons/trash.png) left top no-repeat;
	padding-top: 8px;
	padding-bottom: 4px;
	padding-left: 30px;
	height: 34px;
	font-size: 112%;
}

a.unscrapInstrument, a.mainlink.unscrapInstrument
{
	background: url(../../img/icons/emptytrash.png) left top no-repeat;
}

a.copydown:link, a.copydown:active, a.copydown:visited, a.copydown:hover
{
	background: url(../../img/icons/arrow_down.png) no-repeat top left;
	padding: 4px;
	height: 16px;
	width: 16px;
	text-decoration: none;
}

a.itemcomment:link, a.itemcomment:active, a.itemcomment:visited, a.itemcomment:hover
{
	background: url(../../img/icons/note_edit.png) no-repeat center left;
	padding: 6px;
	height: 16px;
	width: 16px;
	text-decoration: none;
}

button.transparent
{
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}

td.instrumentAction
{
    padding: 5px;
    font-size: 12px
}


/*
**********************************************************************************************************************************
*
*	template heading styles
*
**********************************************************************************************************************************
*/

.headLink
{
	background-color: #095ba5;
	color: #FFF;
}
	
.headLinkList a, .loggedInUser a
{
	color: #FFF;
}

.mainBox
{
	background-image: url(../../img/web/bg_body.png);
	background-position: top left;
	background-repeat: repeat-x;
}

.logotext
{
	color: #FFFFFF;
}

.laserlogo
{
}

.mainBoxHead
{
	padding:10px;
	padding-bottom: 20px;
}

.mainBoxHeadLinks
{
	color: #FFF;
}

.mainBoxHeadLinks a, .mainBoxHeadLinks span
{
	color: #FFF;
}

.mainBoxTabsContainer ul
{
    list-style: none;
}

.mainBoxTabsContainer li
{
    background: url(../../img/web/left.png) no-repeat left bottom;

}

.mainBoxTabsContainer a
{
    background: url(../../img/web/right.png) no-repeat right bottom;
	color: #095ba5;
}
	
.mainBoxTabsContainer #current
{
    background-image: url(../../img/web/left_selected.png);
}

.mainBoxTabsContainer #current a
{
    background-image:url(../../img/web/right_selected.png);
}

/*
**********************************************************************************************************************************
*
*	template body styles
*
**********************************************************************************************************************************
*/

.mainBoxBodyContent
{
	border: 1px solid #999;
	border-top: 0;
	background-color: #EFF1F5;
}

.mainBoxBodyContentFooter
{
	border: 1px solid #999;
	border-top: 0;
	background-color: #FAFAFA;
}

/*
**********************************************************************************************************************************
*
*	sub navigation styles
*
**********************************************************************************************************************************
*/

#subnav
{
	border-top: 1px solid #777;
}

#subnav dl
{
	list-style-type: none;
}

#subnav dt a
{
	color: #666;
	background-color: #fff;
	border: 1px solid #777;
}

#subnav dt a:hover, #subnav .selected
{
	color: #000;
	border: 1px solid #666;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
}

/*
**********************************************************************************************************************************
*
*	web search plugin - collection/delivery styles
*
**********************************************************************************************************************************
*/

.INHOUSE, .default
{
	background-color: #FFF;
}

.THIRD, .OEM
{
	background-color: #FFD5BF;
}

.UNSUPPORTED
{
	background-color: #FFC4C4;
}

.webSearchPlugin
{
	background-color: #E8EAF0;
	border: 1px solid #999;
}

.webSearchPlugin div.websearch-container
{
	border: 1px solid #999;
}

.webSearchPlugin div.websearch-results
{
	overflow: scroll;
	overflow-x: hidden;
	border: 1px solid #FFF;
}

div.websearch-list ol li
{
	list-style-type: none;
	border-bottom: 1px dotted #999; 
	border-top: 0;
}

/*
**********************************************************************************************************************************
*
*	thickbox message styles
*
**********************************************************************************************************************************
*/

.successBox1
{
	border: 2px solid #E7FFCE;
}

.successBox2
{
	border: 2px solid #70DF00;
}

.successBox3
{
	border: 2px solid #5CB900;
	background-color: #F8FFF0;
}

.warningBox1
{
	border: 2px solid #FFDDDD;
}

.warningBox2
{
	border: 2px solid #FF8C8C;
}

.warningBox3
{
	border: 2px solid #FF0000;
	background-color: #FFF4F4;
}

/*
*********************************************************************************************************************************
*
*	instrument calibration indicator styles
*
*********************************************************************************************************************************
*/


div.inCalibration
{	
	border: 1px solid #000;
	border-top: 0;	
}

div.inCalibrationLevel
{	
	background-color: #33CC00;
}

div.finalMonthOfCalibration
{	
	border: 1px solid #000;
	border-top: 0;	
}

div.finalMonthOfCalibrationLevel
{	
	background-color: #FF831F;
}

div.outOfCalibration
{	
	border: 1px solid #000;
	border-top: 0;
	background-color: #FF0000;	
}

/*
**********************************************************************************************************************************
*
*	recall timeline styles
*
**********************************************************************************************************************************
*/

.timeline_head_subdiv, .timeline_head_addr, .timeline_head_contact
{
	text-align: center;
	font-weight: bold;
}

.timeline_select_subdiv, .timeline_select_addr, .timeline_select_contact
{
	text-align:	center;
}

.recall_timeline, .recall_timeline_selected
{
	border-right: 2px solid #000;
}

.recall_timeline
{
	text-align: center;
    background: url(../../img/web/recall_timeline.png) no-repeat bottom center;
}

.recall_timeline_selected
{
	text-align: center;
    background: url(../../img/web/recall_timeline_selected.png) no-repeat bottom center;
}

.timeline_future
{
	font-size: 0px;
	border-bottom: 3px solid #33CC00;
}

.timeline_current
{
	font-size: 0px;
	border-bottom: 3px solid transparent;
}

.timeline_history
{
	font-size: 0px;
	border-bottom: 3px solid #cc0000;
}

/*
**********************************************************************************************************************************
*
*	table styles
*
**********************************************************************************************************************************
*/

.odd
{
	background-color: #FFF;
}

.even
{
	background-color: #E6E6E6;
}

table.default tbody tr.headrow
{
	background: #E3E3CA;
}

table.default
{
	background-color: #CDCDCD;
	border: 1px solid #999;
	border-collapse: collapse;
}

table.default thead tr th, table.default thead tr td, table.default tfoot tr td, table.default tbody tr th
{
	background-color: #D6DAE4;
	border: 1px solid #999;
}

table.default tbody tr, table.default tbody tr td.even
{
	background-color: #FFF;
}

table.default tbody td
{
	color: #3D3D3D;
	border: 1px solid #999;
}

table.default tbody tr.odd, table.default tbody tr td.odd
{
	background-color: #F0F0F6;
}

tr.selectable:hover
{
    background-color: paleturquoise;
}

table.default .child-table
{
	border-collapse: collapse;
	border: 0;
}

table.default .child-table thead th, table.default .child-table thead td
{
	background: transparent;
	border-collapse: collapse;
	border: 0;
}

table.default .child-table tbody td
{
	border: 0;
}

table.jobResults .child-table thead th
{
	border-bottom: 1px solid #666666;

}

table.jobResults
{
	margin: 15px 0px 0px;
	border: 2px solid #0c0c0c;
}

table.jobResults tr.inprogress
{
	background-color: rgba(30, 76, 249, 0.48);
}

table.jobResults tr.withcustomer
{
	background-color: rgba(219, 222, 225, 0.61);
}

table.jobResults tr.withcustomer td {
	color: #9BBEDD;
}

table.jobResults tr.inprogress td {
	color: #edf2f2;
}

table.jobResults tr.toprow td {
	font-size: 12pt;
	font-weight: bold;
}

table.quoteBasket, table.collectBasket
{
	border: 1px solid #999;
}

table.webResults
{
	border-collapse: collapse;
}

table.quoteBasket thead th, table.quoteBasket tfoot td,
table.collectBasket thead th, table.collectBasket tfoot td,
table.webResults thead th
{
	border-collapse: collapse;
	background-color: #D6DAE4;
	border: 1px solid #FFF;
}

table.quoteBasket tbody td, table.collectBasket tbody td, table.webResults tbody td
{
	border-collapse: collapse;
	border: 1px solid #FFF;
}

table.collectBasket tbody td.child_container
{
	border-collapse: collapse;
	border: 0;
	padding: 0;
}

table.collectBasket tbody table.child_table tbody th
{
	border: 1px solid #FFF;
}

table.quoteBasket tbody tr, table.quoteBasket tbody tr.odd,
table.collectBasket tbody tr, table.collectBasket tbody tr.odd,
table.webResults tbody tr, table.webResults tbody tr.odd
{
	background-color: #E0ECFF;
}

table.quoteBasket tbody tr.even, table.collectBasket tbody tr.even, table.webResults tbody tr.even
{
	background-color: #EEEEEE;
}



/*
*********************************************************************************************************************************
*
*	password strength meter styles
*
*********************************************************************************************************************************
*/

.strength0
{
   	background: transparent;
}

.strength1
{
   	background-color: #ff0000;
}

.strength2
{
  	background-color: #ff5f5f;
}

.strength3
{
  	background-color: #56e500;
}

.strength4
{
  	background-color: #4dcd00;
}

.strength5
{
  	background-color: #399800;
}

/*
*********************************************************************************************************************************
*
*	file browser styles
*
*********************************************************************************************************************************
*/

.filebrowserbox
{
	background-color: #FFF;
}

ul.fileTree li
{
	border: 0;
	list-style-type: none;
	padding: 3px; 
	padding-left: 20px;
}

ul.fileTree li a
{
	border-bottom: 0;
}

ul.fileTree li > a.underline:link, ul.fileTree li > a.underline:visited
{
	color: #333;
}

ul.fileTree li > a.underline:hover
{
	text-decoration: underline;
}

/* Core Styles */
.fileTree LI.directory { background: url(../../img/fbimages/directory.png) left top no-repeat; }
.fileTree LI.expanded { background: url(../../img/fbimages/folder_open.png) left top no-repeat; }
.fileTree LI.file { background: url(../../img/fbimages/file.png) left top no-repeat; }
.fileTree LI.wait { background: url(../../img/fbimages/spinner.gif) left top no-repeat; }
/* File Extensions*/
.fileTree LI.ext_3gp, .fileTree LI.ext_avi, .fileTree LI.ext_mov,
.fileTree LI.ext_mp4, .fileTree LI.ext_mpg, .fileTree LI.ext_mpeg,
.fileTree LI.ext_wmv { background: url(../../img/fbimages/film.png) left top no-repeat; }

.fileTree LI.ext_afp, .fileTree LI.ext_afpa, .fileTree LI.ext_asp,
.fileTree LI.ext_aspx, .fileTree LI.ext_cgi, .fileTree LI.ext_cfm,
.fileTree LI.ext_c, .fileTree LI.ext_cpp, .fileTree LI.ext_h,
.fileTree LI.ext_lasso, .fileTree LI.ext_vb, 
.fileTree LI.ext_xml {	background: url(../../img/fbimages/code.png) left top no-repeat; }

.fileTree LI.ext_bat, .fileTree LI.ext_com, 
.fileTree LI.ext_exe { background: url(../../img/fbimages/application.png) left top no-repeat; }

.fileTree LI.ext_bmp, .fileTree LI.ext_jpg, .fileTree LI.ext_gif,
.fileTree LI.ext_pcx, .fileTree LI.ext_png, .fileTree LI.ext_tif,
.fileTree LI.ext_tiff { background: url(../../img/fbimages/picture.png) left top no-repeat; }

.fileTree LI.ext_rb, .fileTree LI.ext_rbx, .fileTree LI.ext_rhtml,
.fileTree LI.ext_ruby { background: url(../../img/fbimages/ruby.png) left top no-repeat; }

.fileTree LI.ext_m4p, .fileTree LI.ext_mp3, .fileTree LI.ext_ogg,
.fileTree LI.ext_wav { background: url(../../img/fbimages/music.png) left top no-repeat; }

.fileTree LI.ext_htm, 
.fileTree LI.ext_html { background: url(../../img/fbimages/html.png) left top no-repeat; }

.fileTree LI.ext_pl, 
.fileTree LI.ext_py { background: url(../../img/fbimages/script.png) left top no-repeat; }

.fileTree LI.ext_txt, 
.fileTree LI.ext_log { background: url(../../img/fbimages/txt.png) left top no-repeat; }

.fileTree LI.ext_fla, 
.fileTree LI.ext_swf { background: url(../../img/fbimages/flash.png) left top no-repeat; }

.fileTree LI.ext_css { background: url(../../img/fbimages/css.png) left top no-repeat; }
.fileTree LI.ext_doc { background: url(../../img/fbimages/doc.png) left top no-repeat; }
.fileTree LI.ext_jar { background: url(../../img/fbimages/java.png) left top no-repeat; }
.fileTree LI.ext_jpeg { background: url(../../img/fbimages/picture.png) left top no-repeat; }
.fileTree LI.ext_js { background: url(../../img/fbimages/script.png) left top no-repeat; }
.fileTree LI.ext_pdf { background: url(../../img/fbimages/pdf.png) left top no-repeat; }
.fileTree LI.ext_php { background: url(../../img/fbimages/php.png) left top no-repeat; }
.fileTree LI.ext_ppt { background: url(../../img/fbimages/ppt.png) left top no-repeat; }
.fileTree LI.ext_psd { background: url(../../img/fbimages/psd.png) left top no-repeat; }
.fileTree LI.ext_rpm { background: url(../../img/fbimages/linux.png) left top no-repeat; }
.fileTree LI.ext_rtf { background: url(../../img/fbimages/doc.png) left top no-repeat; }
.fileTree LI.ext_msg { background: url(../../img/fbimages/email.png) left top no-repeat; }
.fileTree LI.ext_sql { background: url(../../img/fbimages/db.png) left top no-repeat; }
.fileTree LI.ext_xls { background: url(../../img/fbimages/xls.png) left top no-repeat; }
.fileTree LI.ext_zip { background: url(../../img/fbimages/zip.png) left top no-repeat; }

/*
*********************************************************************************************************************************
*
*	file uploader styles
*
*********************************************************************************************************************************
*/

.fileuploadform > div > div > div
{
    border: 1px solid #999;
}
    
.fileuploadform > div > div > div div
{ 
	background: #9DC0F4;
}
