/*****************************************************************************************************************************************************
'									CWMS (Calibration Workflow Management System)
'										
'									Copyright 2006, Antech Calibration Services
'											www.antech.org.uk
'							
'											All rights reserved
'				
'										Document author: 	Stuart Harrold
'
'	FILENAME		:	theme.css
'	DESCRIPTION		: 	Cascading Style Sheet file.
'	DEPENDENCIES	: 	-
'
'	TO-DO			: 	-
'	KNOWN ISSUES	: 	-
'	HISTORY			: 	20/10/2006 - SH - Created file.
'
****************************************************************************************************************************************************/


/*
*********************************************************************************************************************************
*
*	site wide styles
*
*********************************************************************************************************************************
*/



:root {
	--cwms-main-font-family:arial,helvetica,sans-serif;
    --cwms-main-gray-background:#DEDEDE;
    --cwms-table-gray-background:#CDCDCD;
    --cwms-infobox-gray-background:#F2F2F2;
	--cwms-link-gray:#777;
    --cwms-main-light-background:#DFEAF4;
    --cwms-main-dark-background:#095BA5;
    --cwms-main-link-color:#0063be;
    --cwms-main-dark-font-color:#3d3d3d;
	--cwms-main-light-font-color:#fff;
	--cwms-table-main-background: #DDEBF7;
	--cwms-table-secondary-backgound: #BDD7EE;
	--cwms-table-strong-backgound: #9bc2e6;
	--cwms-red: #A80000;
	--cwms-main-table-font-size:94%;
	--cwms-line-height: 1.8;
	--cwms-main-link-text-decoration-hovered: underline;
    --cwms-main-link-color-hovered:var(--cwms-red,#A80000);
	--cwms-warning1-border:#Fdd;
	--cwms-warning2-border:#FF8C8C;
	--cwms-warning3-border:#F00;
	--cwms-warning3-background:#FFF4F4;
	--cwms-highlight-color:#FFCECE;
	--cwms-error-message-color: #c00;
	--cwms-table-odd-background: #F0F0F6;
}


body
{
	background-color: #FFFFFF;
	background-color: #FFFFFF;
}

body.iframed
{
	background: #DFEAF4;
}

a
{
	text-decoration: none;
}

img
{
	border: 0;
}

fieldset 
{
	border: 0;
	border-top: 1px solid #666;
	background: #DEDEDE;
}

fieldset li, div#list li, fieldset table td
{
	border-bottom: 1px dotted #666; 
	border-top: 0;
}

fieldset table
{
	font-family: arial,helvetica,sans-serif;
	font-size: 100%;
}

fieldset table
{
	padding: 10px;
}

fieldset table td
{
	padding: 2px;
}

body.iframed fieldset
{
	background: #DFEAF4;
	border: 0;
}

legend
{
	color: #000;
	border: 1px solid #888;
	background-color: #FFF;
}

legend a
{
	color: #004080;
}

fieldset fieldset legend
{
	color: #000;
	border: 0;
	background: 0;
}

fieldset li span, div#list ol
{
	border: 1px solid transparent;
}

fieldset li span.usagesbad
{
	background-color: crimson;
	padding: 2px;
	color: snow
}

fieldset li span.usagesdodgy
{
	background-color: darkorange;
	padding: 2px;
	color: snow
}

fieldset li span.usagesgood
{
	background-color: springgreen;
	padding: 2px;
}


div#multimod-list li
{
	border: 0;
}

fieldset fieldset 
{
	border: none;
}

/*
*********************************************************************************************************************************
*
*	Login page styles
*
*********************************************************************************************************************************
*/


.login
{
	background: #fff;
}

.loginhead 
{
	background-image: url(../../img/trescal/trescal_theme/atlas-login.png);
	background-repeat: no-repeat;
}
	
.loginsubhead
{
	background: #095ba5;
	color: #fff;
}
	
.loginbox
{
	background-color: #EBEDEC;
	border: 1px solid #A5C1ED;
	border-top: 0;
}

.loginbox fieldset
{
	background-color: #EBEDEC;
}

.loginbox .forgotten-password {
	font-size: x-small;
	color: #999;
}
	
.loginfooter
{
	color: #cc0000;
}

	
/*
**********************************************************************************************************************************
*
*	Template Styles
*
**********************************************************************************************************************************
*/

/*
**********************************************************************************************************************************
*
*	banner styles
*
**********************************************************************************************************************************
*/

.banner-column1
{
	background-image: url(../../img/trescal/trescal_theme/atlas-logoleft.png);
	background-repeat: no-repeat;
}
	
.banner-column2
{
	background-color: var(--cwms-main-dark-background,#095ba5);
	margin-bottom: 9px;
}
	
.banner-column3
{
	background-color: var(--cwms-main-dark-background,#095ba5);
	margin-bottom: 9px;
}

.banner-column3 > div
{
	color: #fff;
}

/*
**********************************************************************************************************************************
*
*	navigation styles
*
**********************************************************************************************************************************
*/
	
.navtitle
{
	background-color: var(--cwms-main-dark-background,#095ba5);
}
	
.navtitle p
{
	color: #fff;
	background: transparent;
}

.menu ul
{
	background-color: #FFFFFF;
}

.menu ul li
{
	background: #F2F2F2;
	border: 1px solid #CCC;
}

.menu ul a, .menu ul a:visited, .menu ul ul a, .menu ul ul a:visited
{	
	color: #333;
}

.menu ul li .even
{
	background-color: #E0ECFF;
}

.menu ul ul
{
	border-left: 1px solid #FFFFFF;
}

.menu ul a:hover, .menu ul ul a:hover 
{
	background-color: var(--cwms-main-dark-background,#095ba5);
	color: #FFF;
}

.menu .menuoptions
{
	background: url(../../img/icons/submenu.png) top left no-repeat;
}

.accesslink
{
	color: #000;
}

/*
*********************************************************************************************************************************
*
*	file browser styles
*
*********************************************************************************************************************************
*/

.filebrowserbox
{
	background-color: #FFF;
}

ul.fileTree li
{
	border: 0;
}

ul.fileTree li a
{
	border-bottom: 0;
}

ul.fileTree li > a.underline:link, ul.fileTree li > a.underline:visited
{
	color: #333;
}

ul.fileTree li > a.underline:hover
{
	text-decoration: underline;
}

/* Core Styles */
.fileTree LI.directory { background: url(../../img/fbimages/directory.png) left top no-repeat; }
.fileTree LI.expanded { background: url(../../img/fbimages/folder_open.png) left top no-repeat; }
.fileTree LI.file { background: url(../../img/fbimages/file.png) left top no-repeat; }
.fileTree LI.wait { background: url(../../img/fbimages/spinner.gif) left top no-repeat; }
/* File Extensions*/
.fileTree LI.ext_3gp, .fileTree LI.ext_avi, .fileTree LI.ext_mov,
.fileTree LI.ext_mp4, .fileTree LI.ext_mpg, .fileTree LI.ext_mpeg,
.fileTree LI.ext_wmv { background: url(../../img/fbimages/film.png) left top no-repeat; }

.fileTree LI.ext_afp, .fileTree LI.ext_afpa, .fileTree LI.ext_asp,
.fileTree LI.ext_aspx, .fileTree LI.ext_cgi, .fileTree LI.ext_cfm,
.fileTree LI.ext_c, .fileTree LI.ext_cpp, .fileTree LI.ext_h,
.fileTree LI.ext_lasso, .fileTree LI.ext_vb, 
.fileTree LI.ext_xml {	background: url(../../img/fbimages/code.png) left top no-repeat; }

.fileTree LI.ext_bat, .fileTree LI.ext_com, 
.fileTree LI.ext_exe { background: url(../../img/fbimages/application.png) left top no-repeat; }

.fileTree LI.ext_bmp, .fileTree LI.ext_jpg, .fileTree LI.ext_gif,
.fileTree LI.ext_pcx, .fileTree LI.ext_png, .fileTree LI.ext_tif,
.fileTree LI.ext_tiff { background: url(../../img/fbimages/picture.png) left top no-repeat; }

.fileTree LI.ext_rb, .fileTree LI.ext_rbx, .fileTree LI.ext_rhtml,
.fileTree LI.ext_ruby { background: url(../../img/fbimages/ruby.png) left top no-repeat; }

.fileTree LI.ext_m4p, .fileTree LI.ext_mp3, .fileTree LI.ext_ogg,
.fileTree LI.ext_wav { background: url(../../img/fbimages/music.png) left top no-repeat; }

.fileTree LI.ext_htm, 
.fileTree LI.ext_html { background: url(../../img/fbimages/html.png) left top no-repeat; }

.fileTree LI.ext_pl, 
.fileTree LI.ext_py { background: url(../../img/fbimages/script.png) left top no-repeat; }

.fileTree LI.ext_txt, 
.fileTree LI.ext_log { background: url(../../img/fbimages/txt.png) left top no-repeat; }

.fileTree LI.ext_fla, 
.fileTree LI.ext_swf { background: url(../../img/fbimages/flash.png) left top no-repeat; }

.fileTree LI.ext_css { background: url(../../img/fbimages/css.png) left top no-repeat; }
.fileTree LI.ext_doc { background: url(../../img/fbimages/doc.png) left top no-repeat; }
.fileTree LI.ext_jar { background: url(../../img/fbimages/java.png) left top no-repeat; }
.fileTree LI.ext_jpeg { background: url(../../img/fbimages/picture.png) left top no-repeat; }
.fileTree LI.ext_js { background: url(../../img/fbimages/script.png) left top no-repeat; }
.fileTree LI.ext_pdf { background: url(../../img/fbimages/pdf.png) left top no-repeat; }
.fileTree LI.ext_php { background: url(../../img/fbimages/php.png) left top no-repeat; }
.fileTree LI.ext_ppt { background: url(../../img/fbimages/ppt.png) left top no-repeat; }
.fileTree LI.ext_psd { background: url(../../img/fbimages/psd.png) left top no-repeat; }
.fileTree LI.ext_rpm { background: url(../../img/fbimages/linux.png) left top no-repeat; }
.fileTree LI.ext_rtf { background: url(../../img/fbimages/doc.png) left top no-repeat; }
.fileTree LI.ext_msg { background: url(../../img/fbimages/email.png) left top no-repeat; }
.fileTree LI.ext_sql { background: url(../../img/fbimages/db.png) left top no-repeat; }
.fileTree LI.ext_xls { background: url(../../img/fbimages/xls.png) left top no-repeat; }
.fileTree LI.ext_zip { background: url(../../img/fbimages/zip.png) left top no-repeat; }

/*
*********************************************************************************************************************************
*
*	error styles
*
*********************************************************************************************************************************
*/

.error
{
	color: #cc0000;
}

.highlight
{
	background-color: #FFCECE;
}

.highlight-green
{
	background-color: #E6F2D9;	
}

.highlight-gold
{
	background-color: Gold;
}

.contentbody #mainerror
{
	color: #cc0000;
	border: 1px dashed #cc0000;
	padding: 4px;
	text-align: center;
	margin-bottom: 10px;
}

.successBox1
{
	border: 2px solid #E7FFCE;
}

.successBox2
{
	border: 2px solid #70DF00;
}

.successBox3
{
	border: 2px solid #5CB900;
	background-color: #F8FFF0;
}

.messageBox1
{
	border: 2px solid lightblue;
}

.messageBox2
{
	border: 2px solid blue;
}

.messageBox3
{
	border: 2px solid darkblue;
	background-color: #F8FFF0;
}

.warningBox1
{
	border: 2px solid #FFDDDD;
}

.warningBox2
{
	border: 2px solid #FF8C8C;
}

.warningBox3
{
	border: 2px solid #FF0000;
	background-color: #FFF4F4;
}

.warningBox3 li
{
	background-image: url(../../img/icons/error.png);
	background-repeat: no-repeat;
}

/*
**********************************************************************************************************************************
*
*	highlight search results
*
**********************************************************************************************************************************
*/

.highlightSerial, .highlightPlant, .highlightMfr, .highlightModel,
.highlightDesc, .highlightClientref, .highlightProc, .highlightPurchaseorder 
{
	color: #FFF;
	background-color: #A80000;
	font-size: 106%;
}

/*
**********************************************************************************************************************************
*
*	highlight quotation items (calibration requirements, linked third party costs)
*
**********************************************************************************************************************************
*/

.instcalreq_highlight, .instcalreq_highlight_key
{
	background: url(../../img/icons/instcalreq_highlight.png) no-repeat top right;
}

.instcalreq_highlight_doc
{
	background: url(../../img/icons/instcalreq_highlight_doc.png) no-repeat top right;
}

.instcalreq_highlight_key
{
	background-position: center left;
}

.compmodelcalreq_highlight, .compmodelcalreq_highlight_key
{
	background: url(../../img/icons/compmodelcalreq_highlight.png) no-repeat top right;
}

.compmodelcalreq_highlight_doc
{
	background: url(../../img/icons/compmodelcalreq_highlight_doc.png) no-repeat top right;
}

.compmodelcalreq_highlight_key
{
	background-position: center left;
}

.tpcost_highlight
{
	background: url(../../img/icons/tpcost_highlight.png) no-repeat top left;
}

	
/*
**********************************************************************************************************************************
*
*	main content styles
*
**********************************************************************************************************************************
*/

.contenthead
{
	background-color: var(--cwms-main-dark-background,#095ba5);
}

.headtext
{
	color: #FFFFFF;
}

.headtextsmall
{
	color: #FFFFFF;
}
	
.contentframe
{
	border: 1px solid #A5C1ED;
	border-top: 0;
}

a.genReport, a.voidhire, a.previewCertificate, a.email, a.previewCertLoad, a.resetPreviewCert, a.publishCalreq, a.publishCalreq_inactive
{
	background: url(../../img/icons/page_excel.png) no-repeat top left;
	margin-right: 4px;
	padding: 2px 0 2px 20px;
}

a.email
{
	background: url(../../img/icons/email.png) no-repeat top left;
}

a.addRecallNote, a.deleteAnchor, a.editPoints, a.addPoints, a.deletePoints, a.addAnchor, a.removeBasketAnchor, .hiresuspended_true, .hiresuspended_false,
.editHireItem, a.quotationMarker, a.quotationMarked, a.reset
{
	height: 16px;
	padding: 8px;
	text-decoration: none;
}

.hiresuspended_true, .hiresuspended_false, .editHireItem
{
	cursor: pointer;
}

a.copyUpLink, a.copyDownLink
{
	height: 16px;
	padding: 8px 5px;
	text-decoration: none;
}

a.editPoints, a.addPoints, a.deletePoints
{
	margin-left: 5px;
	margin-right: 5px;
}

a.addAnchor
{
	background: url(../../img/icons/add.png) no-repeat center center;	
}

a.removeBasketAnchor
{
	background: url(../../img/icons/basket_remove.png) no-repeat center center;
}

a.copyUpLink
{
	background: url(../../img/icons/arrow_up.png) no-repeat center center;
}

a.copyDownLink
{
	background: url(../../img/icons/arrow_down.png) no-repeat center center;
}

a.addRecallNote
{
	background: url(../../img/icons/note_add.png) no-repeat center left;
}

a.deleteAnchor
{
	background: url(../../img/icons/delete.png) no-repeat center center;
}

a.editPoints
{
	background: url(../../img/icons/points_edit.png) no-repeat center center;
}

a.addPoints
{
	background: url(../../img/icons/points_add.png) no-repeat center center;
}

a.deletePoints
{
	background: url(../../img/icons/points_delete.png) no-repeat center center;
}

a.voidhire
{
	background: url(../../img/icons/redcross.png) no-repeat center left;
}

.hiresuspended_true
{
	background: url(../../img/icons/play.png) no-repeat center center;
}

.hiresuspended_false
{
	background: url(../../img/icons/pause.png) no-repeat center center;
}

.editHireItem
{
	background: url(../../img/icons/edit_details.png) no-repeat center center;
}

a.previewCertificate
{
	background: url(../../img/icons/certificate.png) no-repeat center left;
}

a.previewCertLoad
{
	background: url(../../img/icons/loading.gif) no-repeat center left;	
}

a.resetPreviewCert
{
	background: url(../../img/icons/refresh.png) no-repeat center left;
}

a.reset
{
	background: url(../../img/icons/reset.png) no-repeat center center;
}

a.quotationMarker
{
	background: url(../../img/icons/pointer_grey.png) no-repeat center left;
}

a.quotationMarked, a.quotationMarker:hover
{
	background: url(../../img/icons/pointer.png) no-repeat center left;
}

a.publishCalreq, a.publishCalreq_inactive:hover
{
	padding: 0 20px;
	font-weight: bold;
	font-size: 110%;
	color: #3A7F34;
	background: url(../../img/icons/greentick.png) no-repeat center left;	
}

a.publishCalreq_inactive
{
	padding: 0 20px;
	font-weight: bold;
	font-size: 110%;
	color: #999;
	background: none;
}

a.edithireaccessory
{
	height: 12px;
	padding: 6px;
	margin-left: 10px;
	text-decoration: none;
	background: url(../../img/icons/edit_small.png) no-repeat center left;
}

.tick, .cross
{
	display: inline;
	background: url(../../img/icons/greentick.png) no-repeat center center;
	padding: 8px;
	text-decoration: none;
	cursor: pointer;
}

.cross
{
	background: url(../../img/icons/redcross.png) no-repeat center center;
}

fieldset.BER
{
	border: 0;
	border-top: 1px solid #666;
	background: url(../../img/ber.png) #DEDEDE no-repeat top center;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

a.pdfdocument:link, a.pdfdocument:hover, a.pdfdocument:active, a.pdfdocument:visited
{
	text-decoration: none;
	width: 16px;
	height: 16px;
	padding: 8px;
	background: url(../../img/icons/certificate.png) no-repeat left center;	
}
	
	
/*
**********************************************************************************************************************************
*
*	footer styles
*
**********************************************************************************************************************************
*/
	
.footer
{
	border-top: 2px solid #A5C1ED;
	color: #CC0000;
}

/*******************************************************************************
*
*	Velocity page styles
*
********************************************************************************
*/

/*
**********************************************************************************************************************************
*
*	sub navigation styles
*
**********************************************************************************************************************************
*/

#subnav, #subnav2, #subnav3, #subnav4
{
	border-top: 1px solid #999;
}

#subnav dl, #subnav2 dl, #subnav3 dl, #subnav4 dl
{
	list-style-type: none;
}

#subnav dt a, #subnav2 dt a, #subnav3 dt a, #subnav4 dt a
{
	color: #000;
	background-color: #fff;
	border: 1px solid #999;
}

#subnav dt a.allgood, #subnav2 dt a.allgood, #subnav3 dt a.allgood, #subnav4 dt a.allgood
{
	color: #399800;
}

#subnav dt a.disabled, #subnav dt a.disabled:hover, #subnav2 dt a.disabled, #subnav3 dt a.disabled, #subnav4 dt a.disabled
{
	color: #999;
	background-color: #DEDEDE;
	border: 1px solid #999;
}

#subnav dt a:hover, #subnav .selected, #subnav2 dt a:hover, #subnav2 .selected, 
#subnav3 dt a:hover, #subnav3 .selected, #subnav4 dt a:hover, #subnav4 .selected
{
	color: #000;
	border: 1px solid #666;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
}

.tab-box
{
	background: #DEDEDE;
}

ul.subnavtab a
{
	background-color: var(--cwms-main-dark-background,#095ba5);
	color: #fff;
}

ul.subnavtab a:hover, a.subnavtab:hover
{
	background: #DEDEDE;
	color: #000;
}

ul.subnavtab li a.selected 
{
	background: #DEDEDE;
	color: #000;
}

/*
**********************************************************************************************************************************
*
*	link styles
*
**********************************************************************************************************************************
*/

a.mainlink[role="button"], a.mainlink:link, a.mainlink:visited, a.mainlink-pad:link, a.mainlink-pad:visited,
a.mainlink-float:link, a.mainlink-float[role="button"], a.mainlink-float:visited, a.mainlink-padr:link, a.mainlink-padr:visited 
{
	color: #0063be;
}

a.mainlink-strike[role="button"], a.mainlink-strike:link, a.mainlink-strike:visited, a.mainlink-strike[role="button"]:hover, a.mainlink-strike:hover
{
	color: #777777;
}

a.thinlink[role="button"], a.thinlink:link, a.thinlink:visited
{
	color: #A80000;
}

a.mainlink[role="button"]:hover, a.mainlink:hover, a.mainlink-pad:hover,a.mainlink-float[role="button"]:hover, a.mainlink-float:hover, a.mainlink-padr:hover
{
	color: #A80000;
}

a.thinlink[role="button"]:hover, a.thinlink:hover
{
	color: #000;
}

a.sublink[role="button"], a.sublink:link, a.sublink:visited  
{
	color: #1263A5;
}
	
a.sublink[role="button"]:hover, a.sublink:hover 
{
	color: #F19E2E;
}

a.exporttext, a.printJobItemLabel, a.changeJobItemInst
{
	background: url(../../img/icons/exporttext.png) left top no-repeat;
	margin-right: 4px;
	padding-left: 20px;
	height: 18px;
	margin-top: 4px;
	padding-bottom: 2px;
}

a.printJobItemLabel
{
	background: url(../../img/icons/label.png) left top no-repeat;
}

a.mainlink-float.changeJobItemInst
{
	padding-left: 26px;
	background: url(../../img/icons/instrument_change.png) left top no-repeat;
}

a.scrapInstrument, a.mainlink-float.scrapInstrument, a.unscrapInstrument, a.mainlink-float.unscrapInstrument
{
	background: url(../../img/icons/trash.png) left top no-repeat;
	margin-top: -4px;
	padding: 6px 0px 4px 30px;	
	height: 32px;
	font-size: 112%;
}

a.unscrapInstrument, a.mainlink-float.unscrapInstrument
{
	background: url(../../img/icons/emptytrash.png) left top no-repeat;
}

a.addPointsInstrument, a.addPointsJobItem
{
	background: url(../../img/icons/points_add.png) left top no-repeat;
	padding-top: 2px;
	padding-left: 24px;
	height: 24px;
	font-size: 110%;
}

a[role="button"] {
	cursor: pointer;
}
/*
**********************************************************************************************************************************
*
*	general styles
*
**********************************************************************************************************************************
*/

.nobord
{
	border: 0;
}

.dragger, .jqmodclose
{
	border: 1px solid #999;
	color: #999;
}

.clear-0
{
	border: 0;
}

.clear_border
{
	border-top: 1px dotted #999;
}

.allgood
{
	color: #399800;
}

.attention, .attention-pad
{
	color: #cc0000;
}

.inactive
{
	color: #777777;
}
	
.titleblock
{
	border: 1px solid #666666;
}

/* box which contains information */
.infobox, .listbox
{
	background: #F2F2F2;
}

.infotext
{	
	color: #000;
	background: #FEA99C;
	border-top: 1px dotted #999;
}

#formulaeOptions, #picklistOptions
{
	border: 1px solid;
	background-color: #E0ECFF;
}

#formulaeOptions fieldset, #picklistOptions fieldset
{
	background-color: #E0ECFF;
	border-top: none;
}

div#calBuildFloatDiv
{
	background: #E0ECFF;
	border: 2px solid #2266AA;
}

.jobitemRequirements span
{
	color: #cc0000;
}

.jobInstruction span.red, table.default4 tbody td span.red, fieldset li div.notes_note span.red
{
	color: #cc0000;
}

.jobInstruction span.amber, table.default4 tbody td span.amber, fieldset li div.notes_note span.amber
{
	color: #D95700;
}

.jobInstruction span.brown, table.default4 tbody td span.brown, fieldset li div.notes_note span.brown
{
	color: #763A3A;
}

/*
*********************************************************************************************************************************
*
*	result styles
*
*********************************************************************************************************************************
*/

.results
{
	background: #F2F2F2;
}

.results li
{
	border-top: 1px dotted #999;
}

.results fieldset li
{
	border-top: 0;
}

.result_text a:hover, .result_text a.selected, .modulebox_selected
{
	background: #DEDEDE;
}

.result_text a span
{
	color: #000;
}

/*
*********************************************************************************************************************************
*
*	image styles
*
*********************************************************************************************************************************
*/

.imageBox
{
	border-bottom: 1px dotted #999;
}

.imageTagHolder .comment, .imageTagHolder .tagged
{
	 border: 1px solid #999;
	 background: #DDDDDD;
}

.imageTagHolder .commentText
{
	border: 1px solid #999;
	border-top: 0;
}

.imageTagHolder .tags
{
	 border: 1px solid #999;
	 border-top: 0;
}

/*
*********************************************************************************************************************************
*
*	basket styles
*
*********************************************************************************************************************************
*/

.quotebasket
{
	background: #E6E6E6;
}

/*
********************************************************************
*
*	module display
*
********************************************************************
*/

.moduletext
{
	border-left: 2px solid #666;
}

.moduleoption
{
	border-left: 2px solid #666;
}

.modulerows td
{
	border: 0;
}

/*
*********************************************************************************************************************************
*
*	note styles
*
*********************************************************************************************************************************
*/


.noteoption
{
	border-left: 2px solid #666;
}

.notes_note, .notes_note_edit
{
	border-left: 2px solid #666;
}

.inlinenotes_note
{
	border-left: 2px solid #666;
}

/*
*********************************************************************************************************************************
*
*	tooltip styles
*
*********************************************************************************************************************************
*/

fieldset.tooltip 
{
	background-color: #D9ECFF;
}

fieldset.newtooltip 
{
	background-color: #D9ECFF;
	border-bottom: 1px solid #999;
}

fieldset.tooltip legend, fieldset.newtooltip legend
{
	border: 1px solid #888;
	background-color: #FFF;
}

fieldset.tooltip li span, fieldset.newtooltip li span
{
	border: 1px solid transparent;
}

.tooltipQHeading
{
	font-weight: bold;
	background-color: #D9ECFF;
}

/********************************************************************************************************************************
*
*	form styles
*
*********************************************************************************************************************************
*/

.searchItemOptions
{
	clear: both;
	background: #DEDEDE;
}

.accountbox
{
	background: #FFF;
	border: 1px solid #999;
}

/*
********************************************************************
*
*	specific form styles
*
********************************************************************
*/

#searchquoteitemform .result_text a, #searchtpquoteitemform .result_text a,
#searchpricelistitemform .result_text a
{
	color: #000;
}

#searchquoteitemform .result_text a span, #searchtpquoteitemform .result_text a span,
#searchpricelistitemform .result_text a span
{
	color: #000;
}

#searchquoteitemform .add_default span, #searchtpquoteitemform .add_default span,
#searchpricelistitemform .add_default span
{
	color: #333;
}

#searchquoteitemform .result_text a:hover, #searchtpquoteitemform .result_text a:hover,
#searchpricelistitemform .result_text a:hover
{
	background: #DEDEDE;
}

#searchquoteitemform .add_default a:hover, #searchtpquoteitemform .add_default a:hover,
#searchpricelistitemform .add_default a:hover
{
	background: #C8C4B9;
}

.contactactive
{
	background-color: #F0FBF4;
}

.contactdeactive
{
	background-color: #FFF4F0;
}

/*
**********************************************************************************************************************************
*
*	table styles
*
**********************************************************************************************************************************
*/

table.default, table.child_table
{
  	border: 1px solid #666;
  	border-collapse: collapse;
}

table.child_table
{
	background: #FFF;
}

table.default .child-table, table.default4 .child-table
{
	border-collapse: collapse;
	border: 0;
}

table.default .child-table thead th, table.default .child-table thead td,
table.default4 .child-table thead th, table.default4 .child-table thead td
{
	background: transparent;
	border-collapse: collapse;
	border: 0;
}

table.default4 .child-table thead th
{
	border-bottom: 1px solid #999;
}

table.default .child-table tbody td, table.default4 .child-table tbody td
{
	border: 0;
}

table#jobsearchresults .child-table thead th
{
	border-bottom: 1px solid #666666;
}

.default td, .default th, .child_table td, .child_table th
{
  	border-top: 1px solid #666;
  	border-collapse: collapse;
}

.default thead td
{
  	background: #DEDEDE;
  	border: 1px solid #666;
  	border-bottom: none;
}

.child_table thead td
{
	background: #E4E3DE;
	border: 1px solid #666;
	border-bottom: none;
}

.default thead th
{
  	background: #DEDEDE;
}

.child_table thead th
{
	background: #E4E3DE;
}

.default tfoot td
{
  	background: #DEDEDE;
}

.child_table tfoot td
{
	background: #E4E3DE;
}

.odd
{
	background-color: #FFF;
}

.even
{
	background-color: #E6E6E6;
}

table.default4 tr.repeatSched
{
	background-color: #F0F0E3;
}

table.default tbody tr.hoverrow, table.default2 tbody tr.hoverrow td, table.boxytable tbody tr.hoverrow td
{
	background-color: #8FB3ED;
	color: #FFF;
	cursor: pointer;
}

.hoverrow .child_table
{
	color: #000;
	font-weight: normal;
}

.hoverrow a.mainlink
{
	color: #FFF;
	text-decoration: underline;
}

.headrow
{
	background: #E3E3CA;
}

table.default4 tbody tr.headrow
{
	background: #E3E3CA;
}

/*  Styles for sortable tables  */

table.tablesorter, table.default2, table.boxytable, table.default3, table.default4
{
	background-color: #CDCDCD;
	border: 1px solid #999;
	border-collapse: collapse;
}

table.tablesorter thead tr th, table.tablesorter thead tr td, table.tablesorter tfoot tr td,
table.default2 thead tr th, table.default2 thead tr td, table.default2 tfoot tr td, table.default2 tbody tr th,
table.boxytable thead tr th, table.boxytable thead tr td, table.boxytable tfoot tr td, table.boxytable tbody tr th,
table.default4 thead tr th, table.default4 thead tr td, table.default4 tfoot tr td, table.default4 tbody tr th,
table.tablesorter tbody tr.odd td table.child_table thead td, table.default2 tbody tr.odd td table.child_table thead td,
table.tablesorter tbody tr.odd td table.child_table tfoot td, table.default2 tbody tr.odd td table.child_table tfoot td
{
	background-color: #DEDEDE;
	border: 1px solid #999;
}

.cwms-table tbody:nth-child(odd) tr{
	background-color: unset;
}

.cwms-table tbody:nth-child(odd){
	background-color: #F0F0F6;
	border: 1px solid #999;
}

table.tablesorter thead tr th{
	text-align: center;
}


table.highlight_table, table.highlight_table thead tr th, table.highlight_table thead tr td, table.highlight_table tbody tr td
{
	border: 1px solid #cc0000;
}

table.highlight_table thead tr th
{
	background: #FFD2D2;
}

table.cwms-tooltip.default2 thead tr th, table.cwms-tooltip.default2 thead tr td, table.cwms-tooltip.default2 tfoot tr td,
#JT_copy table.default2 thead tr th, #JT_copy table.default2 thead tr td, #JT_copy table.default2 tfoot tr td
{
	background-color: #D9ECFF;
	border: 1px solid #999;
}

table.default2 tbody tr.dragging td
{
	background-color: black;
	color: white;
}

table.default3 thead tr th, table.default3 thead tr td, table.default3 tfoot tr td, table.default3 tbody tr th
{
	background-color: #E6E6E6;
	border: 1px solid #999;
}

table.tablesorter thead tr .header
{
	background-image: url(../../img/jQuery/jquery-tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody tr, table.default2 tbody tr, table.boxytable tbody tr, table.default3 tbody tr, table.default4 tbody tr,
table.tablesorter tbody tr td.even, table.default2 tbody tr td.even, table.boxytable tbody tr td.even, table.default3 tbody tr td.even, table.default4 tbody tr td.even
{
	background-color: #FFF;
}

table.tablesorter tbody td, table.default2 tbody td, table.boxytable tbody td, table.default3 tbody td, table.default4 tbody td
{
	color: #3D3D3D;
	border: 1px solid #999;
}

table.default4 tbody td.deactivated
{
	color: #999;
}

table.tablesorter tbody tr.odd, table.default2 tbody tr.odd, table.boxytable tbody tr.odd, table.default4 tbody tr.odd,
table.tablesorter tbody tr td.odd, table.default2 tbody tr td.odd, table.boxytable tbody tr td.odd, table.default4 tbody tr td.odd
{
	background-color: #F0F0F6;
}

table.tablesorter thead tr .headerSortUp
{
	background-image: url(../../img/jQuery/jquery-tablesorter/asc.gif);
}

table.tablesorter thead tr .headerSortDown
{
	background-image: url(../../img/jQuery/jquery-tablesorter/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp
{
 	background-color: #8FB3ED;
}

table.tablesorter tbody tr.hoverrow td, table.default4 tbody tr.hoverrow td
{
	background-color: #8FB3ED;
	color: #FFF;
	cursor: pointer;
}

table.tablesorter a.mainlink
{
	font-size: 8pt;
}

table.tablesorter .hoverrow a.mainlink, table.default2 .hoverrow a.mainlink,
table.boxytable .hoverrow a.mainlink, table.default4 .hoverrow a.mainlink
{
	color: #FFF;
	text-decoration: underline;
	font-size: 8pt;
}

table tr.highlight td
{
	background-color: #FFCECE;
}

table tr.highlight-green td
{
	background-color: #E6F2D9;	
}

table tr.highlight-gold td
{
	background-color: Gold;
}

table.default2 tbody tr.transit
{
	background-color: #E1FBE1;
}
 
table.default2 tbody tr.activity
{
	background-color: #DAEDF3;
}
 
table.default2 tbody tr.deleted
{
	background-color: #FFE6EA;
}

/* awaiting despatch and awaiting third party despatch table styles */

#awaitingDespatchView table.default2 td.selected
{
	background-color: lightblue;
}

#awaitingDespatchView table.default2 td.opts:hover
{
	cursor: pointer;
	background-color: lightblue;
}

#awaitingDespatchView table.default2 th.opts:hover
{
	cursor: pointer;
	background-color: lightblue;
}

td.clientdeliverystyle
{
	background-color: #E1FBE1;
}

td.clientdespatchstyle
{
	background-color: #DAEDF3;
}

td.awaitingdespatchapprovalstyle
{
	background-color: #FFE6EA;
}

td.tpdeliverystyle
{
	background-color: #E1FBE1;
}

td.tpdespatchstyle
{
	background-color: #DAEDF3;
}

/*
**********************************************************************************************************************************
*
*	list styles
*
**********************************************************************************************************************************
*/

.small-list
{
	border: 1px solid #bbbbbb;
}
	
ul.small-left
{
	list-style-position: inside;
	list-style-type: none;
}
	
ul.small-right
{
	list-style-type: none;
}

/*
**********************************************************************************************************************************
*
*	ajax list display styles
*
**********************************************************************************************************************************
*/

#contactlist
{
	background-color: #E6E6E6;
	border: 1px solid #999;
}
 
a.contactlink, a.contactlink:hover
{
	border-bottom: 1px dotted #999;
	color: #000000;	
}
 
a.contactlink:hover
{   
	background: #DEDEDE;
	color: #990033;
}

.ajaxsubdiv
{
	border-left: 2px solid #666;
}

.ajaxcontact
{
	border-left: 2px dotted #666;
}

.selected-contact
{
	background: #DEDEDE;
	color: #990033;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px dotted #999;
}

/* company and contact search page ajax container divs */
.pluginResults, .generalResults
{
	background-color: #E0ECFF;
	border: 1px solid #666;
}

#multiContSearchPlugin .pluginResults
{
	background-color: #FFF;
}

#companyDiv, #contactDiv
{
	background-color: #FFF;
	border: 1px solid #666;
}

/* company search page anchor style */
#companyDiv a:link, #companyDiv a:visited , .pluginResults a:link, .pluginResults a:visited,
.generalResults div
{
	border-bottom: 1px dotted #999;
	padding-left: 4px;
	color: #666;
}

#companyDiv a:link.companyHist, #companyDiv a:visited.companyHist
{
	background-color: #FFCCBB;
}

/* company search page anchor style */
#companyDiv a:hover, #companyDiv a:hover.compBlocked, #companyDiv .selected, .pluginResults a:hover, .pluginResults a.selected,
#contactDiv a:hover, #contactDiv .selected
{
	background-color: #C3D9FF;
}

#companyDiv a:hover.companyHist, #companyDiv a.companyHist.selected
{
	background-color: #FFA688
}

#csacCompResults span, #csacSubResults span, #csacAddrResults span, #csacContResults span
{
	border: 1px solid transparent;
}

/* company search page ajax headings */
#companyDivHead .headcorole, #companyDivHead .headcomp, #companyDivHead .headlegal
{
	cursor: pointer;
}

/* company search page heading text */
#companyDivHead .headcorole, #companyDivHead .headcomp
{
	border-right: 1px solid #666;
}

/* company search page styles */
#companyDiv a .corolename, #companyDiv a .compname, #multiContSearchPlugin .pluginResults a
{
	cursor: pointer;
}

/* contact and company search pages ajax headings */
#contactDivHead, #companyDivHead, .pluginHeader, .generalHeader
{
	background-color: #E6E6E6;
	border: 1px solid #666;
	border-bottom: 0;
}

/* contact search page ajax headings */
#contactDivHead .headname, #contDivHeadPlugin .headname
{
	border-right: 1px solid #666;
}

/* contact search page result divs */
#contactDiv div, #contDivPlugin div
{
	border-bottom: 1px dotted #999;
	color: #000;
}

#contactDiv div#loading-search
{
	border-bottom: 0;
	padding-top: 20px;
}

#contactDiv a
{
	color: #000;
}

/* contact search page result anchors */
#contactDiv a.conname:hover, #contactDiv a.compname:hover
{
	cursor: pointer;
	background-color: #C3D9FF;
}

div.pluginHead, .generalHeader
{
	background-color: #8FB3ED;
	border: 1px solid #666;
	border-bottom: 0;
}

div.pluginFoot
{
	background-color: #8FB3ED;
	border: 1px solid #666;
	border-top: 0;
}

div#mfrPlugResults, div#descPlugResults, div#compPlugResults, div#contPlugResults, div#subdivPlugResults,
div#addrPlugResults, div#locPlugResults
{
	background-color: #E0ECFF;
}	

div#compPlugResults a.compBlocked
{
	background: #ccbbbb;
	color: #cc0000;
}

div#companyDiv a.compBlocked, .compResultsJQPlugin a.compBlocked
{
	background: #ccbbbb;
}

div#periodiclink .item{
	text-align: center;
}

div#periodiclink .jobtype{
	text-align: center;
}

div#periodiclink .returntype{
	text-align: center;
}

div#periodiclink .returndate{
	text-align: center;
}

div#periodiclink .pono{
	text-align: center;
}

div#periodiclink .calibration{
	text-align: center;
	    width: 10%
}

div#periodiclink .repair{
	text-align: center;
	    width: 10%
}

div#periodiclink .adjustment{
	text-align: center;
	width: 10%
}

div#periodiclink .sales{
	text-align: center;
	width: 10%
}

div#periodiclink .service{
	text-align: center;
	width: 25%
}


/*
*********************************************************************************************************************************
*
*	file uploader styles
*
*********************************************************************************************************************************
*/

.fileuploadform > div > div > div
{
    border: 1px solid #999;
}
    
.fileuploadform > div > div > div div
{ 
	background: #9DC0F4;
}

/*
*********************************************************************************************************************************
*
*	password strength meter styles
*
*********************************************************************************************************************************
*/

.strength0
{
   	background: transparent;
}

.strength1
{
   	background: #ff0000;
}

.strength2
{
  	background: #ff5f5f;
}

.strength3
{
  	background: #56e500;
}

.strength4
{
  	background: #4dcd00;
}

.strength5
{
  	background: #399800;
}

/*
**********************************************************************************************************************************
*
*	niftycorner styles
*
**********************************************************************************************************************************
*/

ul#termsandconditions, ul#termsandconditions li
{
	list-style: none;
}

ul#termsandconditions h3
{
	color: #000;
	background: #DEDEDE;
}

ul#termsandconditions div#termscontainer
{
	background: #E6E6E6;
	border: 2px solid #DEDEDE;
}

/*
*********************************************************************************************************************************
*
*	JQuery search plugin styles - multiple page occurences allowed
*	Procedure builder formulae text search styles
*
*********************************************************************************************************************************
*/

div.emailResults, div.mfrResultsJQPlugin, div.poResultsJQPlugin,
div.procResultsJQPlugin, div.workinstResultsJQPlugin, div.threadResultsJQPlugin,
div.compResultsJQPlugin, div.instDescResultsJQPlugin, div.compDescResultsJQPlugin,
div.certTempResultsJQPlugin
{
	border: 1px solid #666;
	background-color: #E0ECFF;
}

div.emailFoot, div.mfrFootJQPlugin, div.poFootJQPlugin,
div.procFootJQPlugin, div.workinstFootJQPlugin, div.threadFootJQPlugin,
div.compFootJQPlugin, div.instDescFootJQPlugin, div.compDescFootJQPlugin,
div.certTempFootJQPlugin
{
	background-color: #8FB3ED;
	border: 1px solid #666;
	border-top: 0;
}

#formulaeTextOptions
{
	background-color: #E0ECFF;
	border: 1px solid #666;
}

div.emailResults a:link, div.emailResults a:visited,
div.mfrResultsJQPlugin a:link, div.mfrResultsJQPlugin a:visited,
div.certTempResultsJQPlugin a:link, div.certTempResultsJQPlugin a:visited,
div.poResultsJQPlugin a:link, div.poResultsJQPlugin a:visited,
div.procResultsJQPlugin a:link, div.procResultsJQPlugin a:visited,
div.threadResultsJQPlugin a:link, div.threadResultsJQPlugin a:visited,
div.workinstResultsJQPlugin a:link, div.workinstResultsJQPlugin a:visited,
div.compResultsJQPlugin a:link, div.compResultsJQPlugin a:visited,
div.instDescResultsJQPlugin a:link, div.instDescResultsJQPlugin a:visited,
div.compDescResultsJQPlugin a:link, div.compDescResultsJQPlugin a:visited,
#formulaeTextOptions a:link, #formulaeTextOptions a:visited
{
	border-bottom: 1px dotted #999;
	padding-left: 4px;
	color: #444;
}

div.emailResults a:hover, div.emailResults a.selected,
div.mfrResultsJQPlugin a:hover, div.mfrResultsJQPlugin a.selected,
div.certTempResultsJQPlugin a:hover, div.certTempResultsJQPlugin a.selected,
div.poResultsJQPlugin a:hover, div.poResultsJQPlugin a.selected,
div.procResultsJQPlugin a:hover, div.procResultsJQPlugin a.selected,
div.threadResultsJQPlugin a:hover, div.threadResultsJQPlugin a.selected,
div.workinstResultsJQPlugin a:hover, div.workinstResultsJQPlugin a.selected,
div.compResultsJQPlugin a:hover, div.compResultsJQPlugin a.selected,
div.instDescResultsJQPlugin a:hover, div.instDescResultsJQPlugin a.selected,
div.compDescResultsJQPlugin a:hover, div.compDescResultsJQPlugin a.selected,
#formulaeTextOptions a:hover, #formulaeTextOptions a.selected
{
	background-color: #C3D9FF;
}

/*
*********************************************************************************************************************************
*
*	Search plugin styles
*
*********************************************************************************************************************************
*/

/* multi contact search plugin ajax headings */
#multiContSearchPlugin .multiContHead
{
	border-right: 1px solid #000;
}

/* multi contact search plugin ajax headings */
#multiContSearchPlugin .multiSubHead
{
	border-right: 1px solid #000;
}


/* styles for the symbol box popup */

.symbolBoxDiv > div
{
	border: 1px solid #999;
	background: #E0ECFF url(../../img/icons/bullet-cross.png) center no-repeat;
	cursor: pointer;
}

.symbolBoxDiv table.default2 tbody td
{
	background-color: #E0ECFF;
	cursor: pointer;
}

.symbolBoxDiv table.default2 tbody td:hover
{
	background-color: #C3D9FF;
	color: #fff;
	cursor: pointer;
}

/* css for select width in add activity for adveso interface */

.maxwidth-240
{
	max-width: 140px;
	min-width: 140px;
}

/* Themed title bar color for jquery dialog boxes */
.dialog-no-close .ui-widget-header {
    background-color: #095ba5;
}
