/*****************************************************************************************************************************************************
'	FILENAME		:	theme_web_test.css
'	DESCRIPTION		: 	cascading stylesheet file for website containing ONLY styles that differ from theme_web.css
'	DEPENDENCIES	: 	-
'
'	TO-DO			: 	-
'	KNOWN ISSUES	: 	-
'	HISTORY			: 	2017-04-19 - Scott Chamberlain - Created file.
'                       2017-05-27 - Galen Beck - Diff/reduced just styles differing from theme_web.css, for easier maintenance
****************************************************************************************************************************************************/

/*
**********************************************************************************************************************************
*
*	template heading styles
*
**********************************************************************************************************************************
*/

.headLink
{
	background-color: #e47b00;
	color: #FFF;
}

.mainBox
{
	background-image: url(../../img/web/bg_body_test.png);
	background-position: top left;
	background-repeat: repeat-x;
}

.laserlogo
{
	background-image: url(../../img/web/testsystem.png);
	background-repeat: no-repeat;
}