<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:remove="all">Template for portal certificate added by customer email.</title>
</head>
<body>
<p th:text="#{email.informalgreeting}+${csr.getName()}">Dear CSR</p>

<p th:text="#{certificate.add.email.preamble}">I have added the following certificate via the portal.</p>


<table>
    <tr>
        <td><b><span th:text="#{web.certificateno}">Certificate No:</span></b></td>
        <td th:text="${certificate.getCertno()}">A certificate Number</td>
    </tr>
    <tr>
        <td><b><span th:text="#{caldate}">Calibration Date</span></b></td>
        <td th:text="${#dates.format(certificate.getCalDate(), 'dd-MM-yyyy')}">A cal date</td>
    </tr>
    <tr>
        <td><b><span th:text="#{calinterval}">Calibration Interval</span></b></td>
        <td th:text="${certificate.duration + ' ' + certificate.getUnit().getName(certificate.getDuration())}">A cal interval</td>
    </tr>
    <tr>
        <td><b><span th:text="#{status}">Status</span></b></td>
        <td th:text="${certificate.getCalibrationVerificationStatus().getName()}">Apto/NoApto</td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
</table>

<div th:replace="email/fragments/instrument_details :: instrument_details (instrument=${instrument},translationService=${translationService})">
    <p>Instrument details in here</p>
</div>


<p th:text="#{email.signoff}">Regards</p>
<p th:text="${client.getName()}">A Customer</p>

</body>
</html>