<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:remove="all">Template for portal certificate acceptance email.</title>
    </head>
    <body>
        <p th:text="#{email.informalgreeting}+${csr.getName()}">Dear CSR</p>

        <th:block th:switch="${validation.getStatus()}">
            <p th:case="${T(org.trescal.cwms.core.jobs.certificate.entity.validation.CertificateValidationStatus).ACCEPTED}"
               th:text="#{certificate.validate.email.preamble.accepted}">I have accepted the following certificate but have some comments.</p>
            <p th:case="${T(org.trescal.cwms.core.jobs.certificate.entity.validation.CertificateValidationStatus).REJECTED}"
               th:text="#{certificate.validate.email.preamble.rejected}">I have rejected the following certificate but have some comments.</p>
        </th:block>

        <table>
            <tr><td><b><span th:text="#{web.certificateno}">Certificate No:</span></b></td><td th:text="${validation.getCert().getCertno()}">A certificate Number</td></tr>
            <tr><td colspan="2">&nbsp;</td></tr>
        </table>
            <!-- Loop through each instrument, usually only 1! -->
            <th:block th:each="instrument : ${instruments}">
                <div th:replace="email/fragments/instrument_details :: instrument_details (instrument=${instrument},translationService=${translationService})">
                    <p>Instrument details in here</p>
                </div>
            </th:block>
        <table>
            <tr><td colspan="2"><b><span th:text="#{comments}">Comments</span></b></td></tr>
            <tr><td colspan="2" th:text="${validation.getNote()}">Blah de blah de blah blah blah</td></tr>
        </table>

        <p th:text="#{email.signoff}">Regards</p>
        <p th:text="${client.getName()}">A Customer</p>

    </body>
</html>