<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

		<title th:text="#{email.quoterequest.title(${businessDetails.company})}"> {0} Online: Quotation Request </title>
		
	</head>

	<body style=" font-family: arial, helvetica, sans-serif; font-size: 86%; ">
		
		<div style=" width: 800px; padding: 10px; ">
		
			<div th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})">
	  			<p>business details in here</p>
	  		</div>
			
			<div style=" margin-top: 20px; ">
		
				<p th:text="${contact.firstName}"> abcd </p>

				<p th:text="#{email.quoterequest.info1}"> Thank you for your recent online quotation request. This e-mail is just to confirm that we have received your request and a member of our customer services team is reviewing and preparing a quotation for you. You will receive a formal quotation in response shortly. </p>
				
				<div th:if="${quotation ne null}">
   					 <p th:text="#{email.quoterequest.info2(${quotation.qno})}"> For any enquiries regarding this request please contact our customer services team quoting our quotation reference number {0} </p>
				</div>			
				
				<p th:text="#{email.quoterequest.summary}"> A summary of your requested quotation is shown below: </p>
				
				<table>															
					<thead>
						<tr>
							<th align="left" width="5%" scope="col" th:text="#{email.item}"> Item </th>
							<th align="left" width="27%" scope="col" th:text="#{email.mfr}"> Mfr</th>
							<th align="left" width="15%" scope="col" th:text="#{email.serialno}"> Serial No </th>
							<th align="left" width="15%" scope="col" th:text="#{email.plantno}"> Plant No </th>
							<th align="center" width="6%" scope="col" th:text="#{email.qty}"> Qty </th>
							<th align="left" width="12%" scope="col" th:text="#{email.quotetype}"> Quote Type </th>
						</tr> 
					</thead>
					<tbody>																
						<th:block th:each="item : ${quotation.quotationitems}" >
																								
							<tr height="30">
								<td th:text="${item.itemno}"> 1 </td>
								<th:block th:if="${item.inst != null}">
									<td>
										<span  th:if="${item.inst.mfr != null}" th:text="${item.inst.mfr.name}">
											mfr name - </span>
										<span  th:if="${item.inst.mfr == null}" th:text="${item.inst.model.mfr.name}">
											 mfr name </span> -
										<span th:text="${item.inst.model.model}"> model no </span> -
										<span th:text="${item.inst.model.description.description}">desc</span>
									</td>
									<td th:text="${item.inst.serialno}">serial no </td>
									<td th:text="${item.inst.plantno}">plant no </td> 
									<td align="center">1</td>
								</th:block>
								<th:block th:if="${item.model != null}">
									<td>
									 	<span th:text="${item.model.mfr.name}"> mfr name </span> -
										<span th:text="${item.model.model}"> mfr name </span>  -
										<span th:text="${item.model.description.description}"> mfr name </span>
									</td>
									<td th:text="#{email.na}"> NA </td>
									<td th:text="#{email.na}"> NA </td>
									<td align="center" th:text="${item.quantity}"> 5 </td>
								</th:block>									
								<td th:text="${serviceTypes.get(item.id)}">ST-IH</td>
							</tr>
						</th:block>
					</tbody>
					
				</table>
				
				<p>&nbsp;</p>
				
			</div>
			
		</div>
			<footer  th:include="email/fragments/footer ::footerWithContactAndDetails(${contact} ,${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
	</body>
	
</html>
