<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

		<title th:text="#{email.collectionrequest.title(${businessDetails.company})}"> {0} Online: Collection Request </title>

	</head>

	<body style=" font-family: arial, helvetica, sans-serif; font-size: 86%; ">
		
		<div style=" width: 800px; padding: 10px; ">
		
			<div th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})">
	  			<p>business details in here</p>
	  		</div>
			
			<div style=" margin-top: 20px; ">
		
				<p th:text="#{email.collectionrequest.infocontact1}"> The following collection request has been submitted via the website. </p>
				
				<p th:text="#{email.collectionrequest.infocontact2}"> A schedule has been created for this request and can be viewed here: </p>
				
				<p><a th:href="${schedulePath}" th:text="${schedulePath}">http://www.someurl.com</a></p> 
				
				<table width="100%" border="0" cellpadding="0" cellspacing="0" style=" margin-top: 20px; font-size: 86%; font-family: arial, helvetica, sans-serif; ">	
				
					<col width="50%" />
					<col width="50%" />				
					
					<tr height="28" valign="top">
						<td th:text="#{email.collectionrequest.date}">Request Date:</td>
						<td th:text="${schedule.createdOn}"> no </td>
					</tr>
					<tr height="28" valign="top">
						<td th:text="#{email.name.label}"> Name: </td>
						<td th:text="${schedule.contact.name}"> no </td>
					</tr>
					<tr height="28" valign="top">
						<td th:text="#{email.subdivision.label}"> Subdivision: </td>
						<td th:text="${schedule.address.sub.subname}"> no </td>
					</tr>
					<tr height="28" valign="top">
						<td th:text="#{email.company.label}"> Company: </td>
						<td th:text="${schedule.address.sub.comp.coname}"> no </td>
					</tr>
					<tr height="28" valign="top">
						<td th:text="#{email.collectionrequest.daterequested}"> Collection Date Requested: </td>
						<td th:text="${schedule.scheduleDate}"> no </td>
					</tr>
					<tr height="28" valign="top">
						<td th:text="#{email.address.label}"> Address: </td>
						<td>
							<div th:each="addressLine : ${addressText}" th:text="${addressLine}">
									Formatted Client Address
							</div>
						</td>
					</tr>
					
				</table>
								
				<table width="100%" border="0" cellpadding="2" cellspacing="0" summary="This table displays all items on the requested collection" style=" margin-top: 20px; font-size: 86%; font-family: arial, helvetica, sans-serif; ">																
					
					<col width="4%" />
					<col width="20%" />
					<col width="14%" />
					<col width="14%" />
					<col width="4%" />
					<col width="12%" />
					<col width="8%" />
					<col width="10%" />
					<col width="7%" />
					<col width="7%" />					
					
					<tr>
						<td scope="col"><strong th:text="#{email.item}">Item </strong></td>
						<td scope="col"><strong th:text="#{email.mfr}">Mfr - Model - Desc </strong></td>
						<td scope="col"><strong th:text="#{email.serialno}">Serial No</strong></td>
						<td scope="col"><strong th:text="#{email.plantno}">Plant No </strong></td>
						<td scope="col"><strong th:text="#{email.qty}">Qty </strong></td>
						<td scope="col"><strong th:text="#{email.itempo}">Item PO</strong></td>
						<td scope="col"><strong th:text="#{email.caltype}">Cal Type </strong></td>
						<td scope="col"><strong th:text="#{email.turn}">Turn </strong></td>
						<td scope="col"><strong th:text="#{email.faulty}">Faulty </strong></td>
						<td scope="col"><strong th:text="#{email.support}">Support </strong></td>															
					</tr> 
																			
					<th:block th:each="e : ${schedule.scheduleequipment}" >
																							
						<tr>
							<td>$velocityCount</td>
							<th:block th:if="${e.equipInst != null}">
								<td>
									<span th:if="${e.equipInst.mfr != null}" th:text="${e.equipInst.mfr.name}">
										mfr.name - </span>
									<span th:if="${e.equipInst.mfr == null}" th:text="${e.equipInst.model.mfr.name}">
										mfr.name - </span>
									<span th:text="${e.equipInst.model.model}"> model no </span> -
									<span th:text="${e.equipInst.model.description.description}"> Desc </span>
								</td>
								<td th:text="${e.equipInst.serialno}"> serialno </td>
								<td th:text="${e.equipInst.plantno}"> plantno </td>
								<td>1</td>
							</th:block>
							<th:block th:if="${e.equipModel != null}">
									<td th:text="${e.equipModel.mfr.name}"> mfr name </td> -
									<td th:text="${e.equipModel.model}"> mfr name </td> -
									<td th:text="${e.equipModel.description.description}"> Desc </td> 
								<td>-</td>
								<td>-</td>
								<td th:text="${e.qty}"> Qty </td> 
							</th:block>
																	
							<td th:text="${e.equipInst.serialno}"> serialno </td>
							<td th:text="${e.ponumber}"> ponumber </td>
							<td th:text="${serviceTypes.get(item.id)}">ST-IH</td>
							<td th:text="${e.turn.turn}"> turn </td>
							<td>
								<div th:if="${e.faulty != null}" >
									<div th:text="#{email.yes}"> Yes </div>
								</div>
								<div th:if="${e.faulty == null}" >
									<div th:text="#{email.no}"> No </div>
								</div>
							</td>
							<td>
								<div th:if="${e.supported} == true">
									<div th:text="#{email.yes}"> Yes </div>
								</div>
								<div th:unless="${e.supported} == false">
									<div th:text="#{email.no}"> No </div>
								</div>
							</td>																			
						</tr>
						<th:block th:if="${e.faulty != null}" >
							<tr>
								<td colspan="9">
									<span style=" font-weight: bold; " th:text="#{email.collectionrequest.faultdescription}"> Fault Description: </span>
									<div th:if="${e.faultDesc.length() > 0}" >
										<div th:text="${e.faultDesc}">aaa </div>
									</div>
									<div th:if="${e.faultDesc.length() < 0}" >
										<div th:text="#{email.collectionrequest.nofaultdescription}"> No fault description supplied </div>
									</div>
								</td>
							</tr>
						</th:block>
						
						<th:block th:if="${e.commentDesc != null}">
							<tr>
								<td colspan="9">
									<span style=" font-weight: bold; " th:text="#{email.collectionrequest.itemcomment}"> Item Comment: </span>
									<div th:if="${e.commentDesc.length() > 0}" >
										<div th:text="${e.commentDesc}">aaa </div>
									</div>
									<div th:if="${e.commentDesc.length() < 0}" >
										<div th:text="#{email.collectionrequest.noitemcomment}"> No item comment supplied </div>
									</div>
								</td>
							</tr>
						</th:block>																			

					</th:block>
						
				</table>			
				
				<div th:if="${schedule.notes.size() > 0}" >
					<table width="100%" border="0" cellpadding="0" cellspacing="0" summary="#msg("email.collectionrequest.schedulednotestable")" style=" margin-top: 20px; font-size: 86%; font-family: arial, helvetica, sans-serif; ">
						
						<col width="26%" />
						<col width="47%" />
						<col width="15%" />
						<col width="12%" />						
						
						<tr>
							<td scope="col"> <strong th:text="#{email.notelabel}"> Note Label </strong></td>
							<td scope="col"> <strong th:text="#{email.note}"> Note </strong></td>
							<td scope="col"> <strong th:text="#{email.setby}"> Set By </strong></td>
							<td scope="col"> <strong th:text="#{email.seton}"> Set On </strong></td>																
						</tr> 
																			
						<th:block th:each="note : ${schedule.notes}">
							<tr>
                                <td th:text="${note.label}">aaa</td>
                                <td th:text="${note.note}">aaa</td>
                                <td th:text="${note.setBy.name}">aaa</td>
                                <td th:text="${#dates.format(note.setOn)}">aaa</td>
                            </tr>
						</th:block>						
						
					</table>
				</div>
				
			</div>
			
		</div>
			<footer  th:include="email/fragments/footer ::footerFromCustomerService(${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
	</body>
	
</html>