<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

		<title th:text="#{email.instrumentvalidation.title(${businessDetails.company})}"> {0} Online: Instrument Validation Issue </title>

	</head>

	<body style=" font-family: arial, helvetica, sans-serif; font-size: 86%; ">
		<div style=" width:600px; height:700px; padding:10px; ">
		
			<div th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})">
	  			<p>business details in here</p>
	  		</div>
			
			<div style=" margin-top: 20px; ">

				<p><strong th:text="#{email.instrumentvalidation.info1(${instrument.plantid.toString()},${contact.name},${contact.personid.toString()},${contact.sub.comp.coname},${contact.sub.comp.coid.toString()})}">
						Validation issue raised with instrument ({0}) by {1} ({2}) at {3} ({4})</strong></p>
			
				<p th:text="#{email.instrumentvalidation.info2}">  A link that will take you straight to the validation tab of the instrument is provided below.	</p>
				
				<p>
					<a th:href="${instrumentPath}" href="http://www.sample-href.com" title="Link to instrument" th:text="#{email.instrumentvalidation.link(${instrument.plantid.toString()})}"> Instrument {0} has a new issue pending </a>
				</p>
				
			</div>
			
		</div>
			
<footer  th:include="email/fragments/footer ::footerWithContactAndDetails(${contact} ,${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
	</body>
	
</html>