<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:remove="all">Template for instrument updated by a customer via the portal.</title>
</head>
<body>
<p th:text="#{email.informalgreeting}+${csr.getName()}">Dear CSR</p>

<p th:text="#{instrument.update.email.preamble}">I have updated the following instrument via the portal.</p>

<table>
    <tr>
        <td><b><span th:text="#{barcode}">Instrument Barcode:</span></b></td>
        <td th:text="${instrument.plantid}">A barcode</td>
    </tr>
    <tr>
        <td><b><span th:text="#{viewinstrument.name}">Instrument Name</span></b></td>
        <td th:text="${translationService.getCorrectTranslation(instrument.getModel().getNameTranslations(),#locale)}">An instrument model name</td>
    </tr>
    <tr>
        <td><b><span th:text="#{plantno}">Plant No</span></b></td>
        <td th:text="${instrument.plantno}">A plant No</td>
    </tr>
    <tr>
        <td><b><span th:text="#{serialno}">Serial No</span></b></td>
        <td th:text="${instrument.serialno}">A Serial No</td>
    </tr>
    <tr>
        <td><b><span th:text="#{web.nextcaldate}">Next Cal Date:</span></b></td>
        <td th:text="${#dates.format(instrument.getNextCalDueDate(), 'dd-MMM-yyyy')}"></td>
        <td style="color: red" th:if="${not instrument.getNextCalDueDate().equals(updateDTO.getNextCalDueDate())}"
            th:text="'(' + ${#dates.format(updateDTO.getNextCalDueDate(), 'dd-MMM-yyyy') + ')'}"></td>
    </tr>
    <tr>
        <td><b><span th:text="#{web.calfrequency}"></span></b></td>
        <td th:text="${instrument.getCalFrequency() + ' ' + instrument.getCalFrequencyUnit()}"></td>
        <td style="color: red" th:if="${not instrument.getCalFrequency().equals(updateDTO.getCalFrequency()) || not instrument.getCalFrequencyUnit().equals(updateDTO.getCalFrequencyUnit())}"
            th:text="'(' + ${updateDTO.getCalFrequency() + ' ' + updateDTO.getCalFrequencyUnit() + ')'}"></td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
</table>

<p th:text="#{email.signoff}">Regards</p>
<p th:text="${client.getName()}">A Customer</p>

</body>
</html>