<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:remove="all">Template for portal limited number of uses for instrument email.</title>
</head>
<body>
<p th:text="#{email.formalgreeting}+${client.getName()}">Dear Client</p>

<p th:text="#{instrument.limiteduses.email.preamble}">The following instrument has a limited number of permitted uses remaining.</p>


<div th:replace="email/fragments/instrument_details :: instrument_details (instrument=${instrument},translationService=${translationService})">
    <p>Instrument details in here</p>
</div>

<table>
    <tr>
        <td><b><span th:text="#{editinstr.permitednumberofuses}">Permited number of uses</span></b></td>
        <td th:text="${instrument.getPermittedNumberOfUses()}">a number</td>
    </tr>
    <tr>
        <td><b><span th:text="#{editinstr.calssincelastcal}">Number of uses since last cal</span></b></td>
        <td th:text="${instrument.getUsesSinceLastCalibration()}">Another number</td>
    </tr>
</table>


<p th:text="#{email.signoff}">Regards</p>
<p th:text="${csr.getName()}">A Customer</p>

</body>
</html>