<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

		<title th:text="#{email.quoterequest.title(${businessDetails.company})}"> {0} Online: Quotation Request </title>

	</head>

	<body style=" font-family: arial, helvetica, sans-serif; font-size: 86%; ">
		
		<div style=" width: 800px; padding: 10px; ">
		
			<div th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})">
	  			<p>business details in here</p>
	  		</div>
			
			<div style=" margin-top: 20px; ">
		

				<p th:text="#{email.quoterequest.infocontact1}"> The following quotation request has been submitted via the website. </p>
				
				<div th:if="${quotation != null}">
					<p th:text="#{email.quoterequest.infocontact2}">  A quotation has been registered on cwms and part completed. </p>
					<p th:text="#{email.quoterequest.infocontact3(${quotation.qno})}"> Please review quotation {0} and respond to the client as soon as possible. </p>
					<p><a th:href="${quoteURL}" th:text="${quotation.qno}"></a></p>
				</div>
				
				<table width="100%" border="0" cellpadding="0" cellspacing="0" style=" margin-top: 20px; font-size: 86%; font-family: arial, helvetica, sans-serif; ">	
				
					<col width="50%" />
					<col width="50%" />				
					
					<tr valign="top">
						<td height="28" th:text="#{email.name.label}"> Name: </td>
						<td th:text="${contact.name}">abcd</td>
					</tr>
					<tr valign="top">
						<td height="28" th:text="#{email.subdivision.label}"> Subdivision: </td>
						<td th:text="${contact.sub.subname}">abcd</td>
					</tr>
					<tr valign="top">
						<td height="28" th:text="#{email.company.label}"> Company: </td>
						<td th:text="${contact.sub.comp.coname}">abcd</td>
					</tr>
					<tr valign="top">
						<td height="28" th:text="#{email.telephone}"> Telephone: </td>
						<td th:text="${contact.telephone}">212648987565</td>
					</tr>
					<tr valign="top">
						<td height="28" th:text="#{email.fax}"> Fax: </td>
						<td th:text="${contact.fax}">azer</td>
					</tr>					
					<tr valign="top">
						<td height="28" th:text="#{email.preference}"> Communication Preference: </td>
						<td th:text="${contact.preference}">aaaaa</td>
					</tr>
					
				</table>			
				
				<p th:text="#{email.quoterequest.summary}"> A summary of your requested quotation is shown below: </p>
				
				<table border="0" cellpadding="2" cellspacing="0" summary="This table displays all items on the requested quotation" style=" margin-top: 20px; font-size: 86%; font-family: arial, helvetica, sans-serif; ">	
					
					<thead>
						<tr>
							<th align="left" width="5%" scope="col" th:text="#{email.item}"> N/A </th>
							<th align="left" width="27%" scope="col" th:text="#{email.mfr}">Mfr - Model - Desc</th>
							<th align="left" width="15%" scope="col" th:text="#{email.serialno}"> N/A </th>
							<th align="left" width="15%" scope="col" th:text="#{email.plantno}"> N/A </th>
							<th align="center" width="6%" scope="col" th:text="#{email.qty}"> N/A </th>
							<th align="left" width="12%" scope="col" th:text="#{email.quotetype}"> N/A </th>
							<th align="center" width="10%" scope="col" th:text="#{email.caltype}"> N/A </th>
							<th align="center" width="10%" scope="col" th:text="#{email.comment}"> N/A </th>			
						</tr> 
					</thead>
					<tbody>																
						<th:block th:each="item : ${quotation.quotationitems}" >
																								
							<tr height="30" >
								<td th:text="${item.itemno}"> 1 </td>
								<th:block th:if="${item.inst != null}">
									<td th:if="${item.inst.mfr != null}" th:text="${item.inst.mfr.name}">
										mfr name -
									</td> 
									<td th:if="${item.inst.mfr == null}" th:text="${item.inst.model.mfr.name}">
										mfr name -
									</td>
									<td th:text="${item.inst.model.model}"> Model - </td>
									<td th:text="${item.inst.model.description.description}">Desc</td>
<									<td th:text="${item.inst.serialno}">serial no </td>
									<td th:text="${item.inst.plantno}">plant no </td> 
									<td align="center">1</td>
								</th:block>
								<th:block th:if="${item.model != null}">
								 	<td th:text="${item.model.mfr.name}"> mfr name - </td>
									<td th:text="${item.model.model}"> mfr name - </td>
									<td th:text="${item.model.description.description}"> mfr name </td>
									<td th:text="#{email.na}"> NA </td>
									<td th:text="#{email.na}"> NA </td>
									<td th:text="${item.quantity}"> 5 </td>
								</th:block>							
								<td align="center" th:text="${serviceTypes.get(item.id)}">ST-IH</td>
						</th:block>
					</tbody>
					
				</table>			
				
				<div th:if="${quotation.notes.size() > 0}" >
					<table border="0" cellpadding="2" cellspacing="0" style=" margin-top:20px; font-size:86%; font-family: arial, helvetica, sans-serif; " summary="This table displays any notes added to the quotation" >
						<thead>
							<tr>
								<th align="left" width="26%" scope="col" th:text="#{email.notelabel}"> Note Label </th>
								<th align="left" width="47%" scope="col" th:text="#{email.note}"> Note </th>
								<th align="left" width="15%" scope="col" th:text="#{email.setby}"> Set By </th>
								<th align="left" width="12%" scope="col" th:text="#{email.seton}"> Set On </th>
							</tr> 
						</thead>
						<tbody>																
							<th:block th:each="note : ${quotation.notes}">
								<tr>
                                    <td th:text="${note.label}">aaa</td>
                                    <td th:text="${note.note}">aaa</td>
                                    <td th:text="${note.setBy.name}">aaa</td>
                                    <td th:text="${#dates.format(note.setOn)}">aaa</td>
                                </tr>
							</th:block>
						</tbody>
						
					</table>
				</div>
				
			</div>
			
		</div>
			<footer  th:include="email/fragments/footer ::footerWithContactAndDetails(${contact} ,${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
	</body>
	
</html>
