<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
		<meta http-equiv="Content-Type" content="text/html" />

		<title th:text="#{email.clientreminder.title(${businessDetails.company})}"> {0} Auto-Reminder </title>
	</head>
	
	<body class="document">
	
		<!-- page div -->
		<div style=" position: relative; ">

			<div th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})">
	  			<p>business details in here</p>
	  		</div>
	
			<h4 th:text="#{email.clientreminder.title(${businessDetails.company})}"> {0} Auto-Reminder </h4>
	
			<p th:text="${con.sub.comp.coname}">abcde</p>
			<p th:if="${con ne null}"></p>
				<p th:if="${con.firstName.length() > 1}" th:text="#{email.dearcontact(${con.firstName})}"> {0} Dear {0}, </p>
				<p th:unless="${con.firstName.length() > 1}" th:text="#{email.dearcontact(${con.name})}"> {0} Dear {0}, </p>
			<p th:unless="${con ne null}" th:text="#{email.dearunknowncontact}"></p>
			
				<div th:if="${chaseNumber > 1 && chaseNumber < totalChases}">
   					 <div th:text="#{email.clientreminder.firstwarning(${niceNumber})}"> This is your <b>{0}</b> reminder! </div>
				</div>
				<div th:if="${chaseNumber >= totalChases}">
    				 <div th:text="#{email.clientreminder.lastwarning(${niceNumber})}"> THIS IS YOUR <b>{0} AND FINAL</b> reminder! </div>
				</div>
			<p>
				<span th:text="#{email.clientreminder.summary(${businessDetails.tel})}"> You should recently have been contacted by a member of our customer services team regarding the units listed below. This e-mail has been automatically generated and sent to you as our records show that we have not yet received a response from you. In order to help us turn the units around as quickly as possible please contact a member of our customer services department by calling {0} or e-mailing us at the following address:</span>
				<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">aaaaaa@gmail.com</a>
			</p>
			
			<table class="default" style="padding-top: 6px;" cellpadding="2" cellspacing="-1" summary="This table displays all delivery items">
				
				<col width="4%" align="center" />
				<col width="6%" />				
				<col width="26%" />
				<col width="12%" />
				<col width="10%" />
				<col width="10%" />
				<col width="10%" />
				<col width="22%" />
				
				<tr class="heading">
					<th colspan="8" align="left" style="border-bottom: 0px;" th:text="#{email.itemscount(${jobItems.size()})}"> Items ({0})</th>
				</tr>
				<tr valign="middle">
					<th th:text="#{email.item}"> Item </th>
					<th th:text="#{email.jobno}"> Job No </th>					
					<th th:text="#{email.desc}"> Description </th>
					<th th:text="#{email.ponumber}"> PO Number </th>
					<th th:text="#{email.yourref}"> Your Ref : </th>
					<th th:text="#{email.serialno}"> Serial No </th>
					<th th:text="#{email.plantno}"> Plant No </th>
					<th th:text="#{email.status}"> Status </th>
				</tr>		
				<th:block th:each="ji : ${jobItems}">
					<tr>
						<td th:text="${ji.itemNo}">item no </td>
						<td th:text="${ji.job.jobno}">sample job no </td>							
		 				<td th:text="${modelNames.get(ji.getJobItemId())}"> sample model name</td>
						<td>
							<th:block th:each="jipo : ${ji.jobItemPOs}">
								<div th:if="${jipo.po != null}">
									<div th:text="${jipo.po.poNumber}">14587</div>
								</div>
								<div th:unless="${jipo.po != null}">
									<div th:text="${jipo.bpo.poNumber}">14587</div>
								</div>
							</th:block>
						</td>
						<td th:text="${ji.job.clientRef}"> sample client ref </td>
						<td th:text="${ji.inst.serialno}"> sample serial no </td>
						<td th:text="${ji.inst.plantno}"> sample plant no </td>
						<td th:text="${ji.state.description}"> sample status </td>
					</tr>
				</th:block>
			</table>
		
			 <p th:text="#{email.clientreminder.info(${businessDetails.company},${deployedURL})}"> As an {0} client this information, as well as much more functionality, is available to you online free of charge. You can log on to your private area on our web site and use it to track your units as they are worked on at {0}, manage your entire instrumentation inventory, download calibration certificates on the same day as calibration, view projected recall data and request equipment collections and quotations. To learn more visit our website at {1} or to request a username and password contact a member of our sales team. </p>
					
			<p
				th:text="#{email.kindregards}">
					Kind Regards,
			</p>
		<footer  th:include="email/fragments/footer ::footerFromCustomerService(${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
			<p
				th:text="#{email.clientreminder.note(${datetool},${businessDetails.company})}"> Please Note: This e-mail was auto generated on {0}. If you experience any problems with the data or formatting of this e-mail please contact {1}.
			</p> 
		
		</div>
	</body>
	
</html>