<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
		
		<meta http-equiv="Content-Type" content="text/html" />
		<title th:text="#{email.clientsummary.title}"> Auto-Service Client Summary </title>
		
</head>
	
	<body class="document">
	
		<!-- page div -->
		<div style=" position: relative; ">
	
			<h4 th:text="#{email.clientsummary.title}"> Auto-Service Client Summary</h4>
	
				<div th:if="${chased.size() > 0}">
					
				<div th:text="#{email.clientsummary.chased}"> The following items were successfully chased: </div>
			
					<ul>
						<th:block th:each="con : ${chased.keySet()}">
							<li>

								<a href="${conURL}" th:text="${con.name}">aaaaa</a> - <a href="${compURL}" th:text="${con.sub.comp.coname}">aaaaa</a>
								<ul>
									<th:block th:each="chaseNum : ${chased.get(con).keySet()}">
										<li>
											Chase number <td th:text="${chaseNum}">00124 </td>
											<ul>
												<th:block th:each="ji : ${chased.get(con).get(chaseNum)}">
													<li>
														<a href="${jobURL}" th:text="${ji.job.jobno}"> jobno </a> - 
														<a href="${jiURL}" th:text="#{email.item(${ji.itemNo})}">01</a>
														<a href="$" th:text="${ji.itemNo}"></a>
													</li>
												</th:block>
											</ul>
										</li>
									</th:block>
								</ul>
							</li>
						</th:block>
					</ul>
				</div>
				
				<div th:if="${failChaseLimit.size() > 0}">
					<div th:text="#{email.clientsummary.failchaselimit(${totalChases})}"> The following items would have been chased but they have already been chased the maximum ({0}) amount of times: </div>
					
					<ul>
						<th:block th:each="con : ${failChaseLimit.keySet()}">
							<li>
								<a href="${conURL}" th:text="${con.name}">aaaaa</a> - <a href="${compURL}" th:text="${con.sub.comp.coname}">aaaaa</a>
								<ul>
									<th:block th:each="ji : ${failChaseLimit.get(con)}">
										<li>
											<a href="${jobURL}" th:text="${ji.job.jobno}"> jobno </a> - 
											<a href="${jiURL}" th:text="#{email.item(${ji.itemNo})}">01</a>
											<a href="$" th:text="${ji.itemNo}"></a>
										</li>
									</th:block>
								</ul>
							</li>
						</th:block>
					</ul>
				</div>
				
				<div th:if="${failDisabledChase.size() > 0}">
					<div th:text="#{email.clientsummary.faildisabledchase}"> The following items would have been chased but they have manually been set to not be chased: </div>
					
					<ul>
						<th:block th:each="con : ${failDisabledChase.keySet()}">
							<li>
								<a href="${conURL}" th:text="${con.name}">aaaaa</a> - <a href="${compURL}" th:text="${con.sub.comp.coname}">aaaaa</a>
								<ul>
									<th:block th:each="ji : ${failDisabledChase.get(con)}">
										<li>
											<a href="${jobURL}" th:text="${ji.job.jobno}"> jobno </a> - 
											<a href="${jiURL}" th:text="#{email.item(${ji.itemNo})}">01</a>
											<a href="$" th:text="${ji.itemNo}"></a>
										</li>
									</th:block>
								</ul>
							</li>
						</th:block>
					</ul>
				</div>
				
				<div th:if="${failNoChasing.size() > 0}">
					<div th:text="#{email.clientsummary.failnochasing}"> The following items would have been chased but the contact/subdiv/company is set to not chase: </div>
					
					<ul>
						<th:block th:each="con : ${failNoChasing.keySet()}">
							<li>
								<a href="${conURL}" th:text="${con.name}">aaaaa</a> - <a href="${compURL}" th:text="${con.sub.comp.coname}">aaaaa</a>
								<ul>
									<th:block th:each="ji : ${failNoChasing.get(con)}">
										<li>
											<a href="${jobURL}" th:text="${ji.job.jobno}"> jobno </a> - 
											<a href="${jiURL}" th:text="#{email.item(${ji.itemNo})}">01</a>
											<a href="$" th:text="${ji.itemNo}"></a>
										</li>
									</th:block>
								</ul>
							</li>
						</th:block>
					</ul>
				</div>
				
				<div th:if="${failNoEmail.size() > 0}">
					<div th:text="#{email.clientsummary.failnoemail}"> The following items would have been chased but the contact doesn't have an e-mail address: </div>
					
					<ul>
						<th:block th:each="con : ${failNoEmail.keySet()}">
							<li>
								<a href="${conURL}" th:text="${con.name}">aaaaa</a> - <a href="${compURL}" th:text="${con.sub.comp.coname}">aaaaa</a>
								<ul>
									<th:block th:each="ji : ${failNoEmail.get(con)}">
										<li>
											<a href="${jobURL}" th:text="${ji.job.jobno}"> jobno </a> - 
											<a href="${jiURL}" th:text="#{email.item(${ji.itemNo})}">01</a>
											<a href="$" th:text="${ji.itemNo}"></a>
										</li>
									</th:block>
								</ul>
							</li>
						</th:block>
					</ul>
				</div>
			</div>
			
		</div>
		<footer  th:include="email/fragments/footer ::footerFromCustomerService( ${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
	</body>
	
</html>