<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
		
		<meta http-equiv="Content-Type" content="text/html" />
		<title th:text="#{email.suppliereminder.title(${businessDetails.company})}"> {0} Auto-Reminder </title>

	</head>
	
	<body class="document">
	
		<!-- page div -->
		<div style=" position: relative; ">
		
			<div th:replace="email/fragments/business_details :: business_details (businessDetails=${businessDetails})">
	  			<p>business details in here</p>
	  		</div>
	
			<h4 th:text="#{email.suppliereminder.title(${businessDetails.company})}"> {0} Auto-Reminder </h4>
	
			<p th:text="${con.sub.comp.coname}">abcde</p>
			<p th:if="${con ne null}"></p>
				<p th:if="${con.firstName.length() > 1}" th:text="#{email.dearcontact(${con.firstName})}"> {0} Dear {0}, </p>
				<p th:unless="${con.firstName.length() > 1}" th:text="#{email.dearcontact(${con.name})}"> {0} Dear {0}, </p>
			<p th:unless="${con ne null}" th:text="#{email.dearunknowncontact}"></p>
			
				<div th:if="${chaseNumber > 1 && chaseNumber < totalChases}">
   					 <div th:text="#{email.clientreminder.firstwarning(${niceNumber})}"> This is your <b>{0}</b> reminder! </div>
				</div>
				<div th:if="${chaseNumber >= totalChases}">
    				 <div th:text="#{email.clientreminder.lastwarning(${niceNumber})}"> THIS IS YOUR <b>{0} AND FINAL</b> reminder! </div>
				</div>
			<p>
				<span th:text="#{email.supplierreminder.summary(${businessDetails.tel})}"> This e-mail has been automatically generated and sent to you as our records show that we have not yet received a response from you concerning the units below, or that the units below were not received back on the promised due date. Please contact a member of our customer services department with a progress update on all units listed and a predicted return date, by calling {0} or e-mailing :</span>
				<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">aaaaaa@gmail.com</a><br/>
			</p>
			<p
				th:text="#{email.supplierreminder.info}"> If you have already contacted us regarding these units then please disregard this notification. 
			</p>
		
			<table class="default" style=" padding-top: 6px; " cellpadding="2" cellspacing="-1" summary="This table displays all delivery items">
				
				<col width="4%" align="center" />
				<col width="6%" />				
				<col width="26%" />
				<col width="10%" />
				<col width="10%" />
				<col width="10%" />
				<col width="10%" />
				<col width="24%" />
				
				<tr class="heading">
					<th colspan="8" align="left" style="border-bottom: 0px;" th:text="#{email.itemscount(${jobItems.size()})}"> Items ({0})</th>
				</tr>
				<tr valign="middle">
					<th th:text="#{email.item}">  Item </th>					
					<th th:text="#{email.jobno}"> Job No </th>
					<th th:text="#{email.desc}"> Description </th>
					<th th:text="#{email.duedate}"> Due Date </th>
					<th th:text="#{email.deliverydate}"> Delivery Date </th>
					<th th:text="#{email.poissued}"> PO Issued </th>
					<th th:text="#{email.serialno}">  Serial No </th>
					<th th:text="#{email.ourcurrentstatus}"> Our Current Status </th>
				</tr>		
				<th:block th:each="ji : ${jobItems}">
					<tr>
						<td th:text="${ji.itemNo}">item no </td>
						<td th:text="${ji.job.jobno}">sample job no </td>							
						<td th:text="${modelNames.get(ji.getJobItemId())}"> sample model name</td>
						<td th:text="${antechCalculationTool.getPromisedReturnDate(ji, true)}" ></td>
						<td th:text="${antechCalculationTool.getOurDeliveryDate(ji, true)}" ></td>
						<td>
							<span th:text="${antechCalculationTool.getDaysAwayAtSupplier(ji, true)}"></span> days ago
						</td>
						<td th:text="${ji.inst.serialno}"> sample serial no </td>
						<td th:text="${ji.state.description}"> status </td>
					</tr>
				</th:block>
			</table>
			
			<p th:text="#{email.kindregards}">
					Kind Regards,
			</p>
			<footer  th:include="email/fragments/footer ::footerFromCustomerService(${businessDetails})" th:remove="tag"> 
			<span th:text="#{email.customerservices}" >
				Customer Services  
			</span>
			<br/>
			<a href="mailto:aaaaaa@gmail.com" th:href="@{mailto:{businessDetails.salesEmail}}" th:text="${businessDetails.salesEmail}">sample_salesemail@trescal.com</a>
			<br/>

			<strong th:text="${businessDetails.company}">Trescal company name</strong>
		</footer>
			<p
				th:text="#{email.supplierreminder.note(${datetool},${businessDetails.company})}"> Please Note: This e-mail was auto generated on {0}. If you experience any problems with the data or formatting of this e-mail please contact {1}.
			</p> 
		
		</div>
	
	</body>
	
</html>