/*****************************************************************************************************************************************************
'									CWMS (Calibration Workflow Management System)
'										
'									Copyright 2006, Antech Calibration Services
'											www.antech.org.uk
'							
'											All rights reserved
'				
'										Document author: 	Stuart Harrold
'
'	FILENAME			:	text.css
'	DESCRIPTION			: 	Cascading Style Sheets file.
'	DEPENDENCIES		: 	-
'
'	TO-DO				: 	-
'	KNOWN ISSUES		: 	-
'	HISTORY				: 	20/10/2006 - SH - Created file.
'
****************************************************************************************************************************************************/

/*
*********************************************************************************************************************************
*
*	site wide styles
*
*********************************************************************************************************************************
*/

body
{
	font-family: calibri, arial, helvetica, sans-serif;
	font-size: 76%;
}

input, select, textarea, button
{
	font-family: calibri, arial, helvetica, sans-serif;
	font-size: 100%;
}

h1
{
	font-size: 200%;
}
	
h2
{
	font-size: 170%;
}
	
h3
{
	font-size: 150%;
}
	
h4
{
	font-size: 130%;
}

h5
{
	font-size: 100%;
}

fieldset 
{
	text-align: left;
}

legend
{
	font-weight: bold;
	font-stretch: wider;
	font-size: 0.9em;
}

legend a
{
	text-decoration: none;
	font-style: normal;
}

label
{
  	line-height: 1.8;
}

fieldset li, div#multimod-list li, div#list li
{
	list-style-type: none;
}

fieldset li span, div#list li
{
	line-height: 1.8;
}

#emailBoxy fieldset li span
{
	line-height: normal;
}

fieldset li div.notes_note span, fieldset li div.inlinenotes_note span
{
	line-height: 1.2;
}

fieldset li span.largeJobNo
{
	font-size: 130%;
	line-height: 1.2;
}

fieldset fieldset legend
{
	font-weight: normal;
	font-size: 100%;
}

caption
{
	font-size: 1.4em;
}

/*
**********************************************************************************************************************************
*
*	login page styles
*
**********************************************************************************************************************************
*/


.login
{
	text-align: left;
}
	
.loginfooter
{
	text-align: center;
}

	
/*
**********************************************************************************************************************************
*
*	template styles
*
**********************************************************************************************************************************
*/

.scantext
{
	font-weight: bold;
}
	
/*
**********************************************************************************************************************************
*
*	navigation styles
*
**********************************************************************************************************************************
*/
	
.navtitle p
{
	font-size: 0.9em;
	letter-spacing: 0.1em;
	font-weight: bold;
	text-align: center;
}

.menu
{
	font-size: 96%;
}

.menu ul
{
	list-style-type: none;
}

.menu ul li
{
	list-style-type: none;
}

.menu a, .menu a:visited
{	
	line-height: 24px;
	text-decoration: none;
}

.menu .menuoptions
{
	font-weight: bold;
}
	
.accesslink
{
	text-decoration: underline;
}

/*
**********************************************************************************************************************************
*
*	main content styles
*
**********************************************************************************************************************************
*/

.headtext
{
	font-size: 1.6em;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
	text-align: left;
	font-style: italic;
}

.headtextsmall
{
}

/*
**********************************************************************************************************************************
*
*	footer styles
*
**********************************************************************************************************************************
*/
	
.footer
{
	text-align: center;
}
	
/*
**********************************************************************************************************************************
*
*	link styles
*
**********************************************************************************************************************************
*/	

a.mainlink[role="button"], a.mainlink:link , a.mainlink:visited, a.mainlink-pad:link, a.mainlink-pad:visited,
a.mainlink-float[role="button"], a.mainlink-float:link, a.mainlink-float:visited, a.mainlink-padr:link, a.mainlink-padr:visited
{
	font-weight: bold;
	text-decoration: none;
	line-height: normal;
}

a.mainlink-strike:link, a.mainlink-strike:visited
{
	font-weight: bold;
	text-decoration: line-through;
	line-height: normal;
}

a.thinlink:link, a.thinlink:visited
{
	text-decoration: none;
	line-height: normal;
}

a.mainlink:hover, a.mainlink-pad:hover, a.mainlink-padr:hover, 
a.mainlink-float:hover, a.mainlink-strike:hover
{
	text-decoration: underline;
}

a.thinlink:hover
{
	text-decoration: underline;
}

a.sublink:link , a.sublink:visited 
{
	text-decoration: none;
	line-height: normal;
}
	
a.sublink:hover 
{
	text-decoration: underline;
}

a.imagelink, #collapseLink, #expandLink
{
	text-decoration: none;
}
	

/*********************************************************************************************************************************
*
*	velocity page styles
*
**********************************************************************************************************************************
*/

@font-face {
    font-family: 'passwordregular';
    src: url('fonts/password.eot');
    src: url('fonts/password.eot?#iefix') format('embedded-opentype'),
         url('fonts/password.woff') format('woff'),
         url('fonts/password.ttf') format('truetype'),
         url('fonts/password.svg#passwordregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#j_password::-ms-clear 
{
      display: none;	 
}
#j_password
{
    font-family: passwordregular;
    font-size:12.2px;
	-webkit-touch-callout: none;
	-webkit-user-select: text;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#j_username::-ms-clear 
{
	  display: none;
}

/*
**********************************************************************************************************************************
*
*	sub navigation styles
*
**********************************************************************************************************************************
*/

#subnav dl, #subnav2 dl, #subnav3 dl, #subnav4 dl
{
	text-align: center;
}

#subnav dt, #subnav2 dt, #subnav3 dt, #subnav4 dt
{
	text-align: center;
	font-size: 90%;
}

#JT_copy #subnav dt
{
	font-size: 86%;
}

#subnav dt a, #subnav2 dt a, #subnav3 dt a, #subnav4 dt a
{
	text-decoration: none;
}

ul#subnavtab, ul#subnavtab li
{
	list-style-type: none;
}

ul#subnavtab li
{
	text-align: center;
}

ul#subnavtab a
{
	text-decoration: none;
}

.createquotetabs ul.subnavtab
{
	font-size: 96%;
}

/*
**********************************************************************************************************************************
*
*	general styles
*
**********************************************************************************************************************************
*/

.strike
{
	text-decoration: line-through;
}

.larger-text
{
	font-size: 120%;
}

.smaller-text
{
	font-size: 94%;
}

.bold-cen
{
	font-weight: bold;
	text-align: center;
}
	
.center, .center-0, .center-pad, .center-padbot
{
	text-align: center;
}

.linethrough, .inactive
{
	text-decoration: line-through;
}

.right::-ms-clear 
{
    display: none;
} 

.right 
{
	text-align: right;
}

.left
{
	text-align: left;
}

.right20
{
	text-align: right;
}

/* box which contains form items or instrument information */
.infobox h5
{
	text-align: center;
}

.imagenounderline
{
	text-decoration: none;
}

.attention
{
	text-decoration: none;
}

.nowrap
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.onHireKey
{
	text-align: center;
	line-height: 1.3;
}

/*
*********************************************************************************************************************************
*
*	result styles
*
*********************************************************************************************************************************
*/

.results ul
{
	list-style-type: none;
}

.result_text
{
	border: 0;
}

.result_text a 
{
	text-decoration: none;
}

.results h5
{
	text-align: center;
}

.result_text a span
{
	line-height: 125%;
}

.results-annotation {
	font-size:11px;
	font-style: italic;
}

/*
*********************************************************************************************************************************
*
*	basket styles
*
*********************************************************************************************************************************
*/

/*
********************************************************************
*
*	add quote item basket
*
********************************************************************
*/

.quotebasket label
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.quotebasket h5
{
	text-align: center;
}

/*********************************************************************************************************************************
*
*	form styles
*
**********************************************************************************************************************************
*/

.titleval
{
	font-weight: bold;
	text-align: right;
}
		
.value
{
	text-align: left;
}

.symbolbox
{
	line-height: 1.6;
}

/*
********************************************************************
*
*	specific form styles
*
********************************************************************
*/

#searchquote
{
	text-align: center;
}

#searchquoteitemform .result_text a, #searchtpquoteitemform .result_text a, #searchpricelistitemform .result_text a
{
	text-decoration: none;
}

#searchquoteitemform .result_text a span, #searchtpquoteitemform .result_text a span, #searchpricelistitemform .result_text a span
{
	line-height: 125%;
}

#searchquoteitemform .add_default a, #searchtpquoteitemform .add_default a, #searchpricelistitemform .add_default a
{ 
	text-decoration: none;
}

#searchquoteitemform .add_default span, #searchtpquoteitemform .add_default span, #searchpricelistitemform .add_default span
{
	line-height: 125%;
}

/*
**********************************************************************************************************************************
*
*	error styles
*
**********************************************************************************************************************************
*/

.contentbody #mainerror
{
	text-align: center;
}

/*
*********************************************************************************************************************************
*
*	note styles
*
*********************************************************************************************************************************
*/

.notes_editor, .notes_edit, .notes_editor_edit, .inlinenotes_edit
{
	text-align: right;
}

/*
**********************************************************************************************************************************
*
*	table styles
*
**********************************************************************************************************************************
*/

table.default
{
  	font-size: 8pt;
}

.default thead td
{
  	font-size: 100%;
  	text-align: left;
}

.child_table thead td
{
  	font-size: 100%;
  	text-align: left;
}

.default thead th, .child_table thead th
{
  	text-align: left;
}

.default thead th.c
{
	text-align: center;
}

.default thead th.r
{
	text-align: right;
}

.default tfoot td, .child_table tfoot td
{
  	text-align: right;
}

.noresults
{
	text-align: center;
}

/*  Styles for sortable tables  */

table.tablesorter, table.default2, table.boxytable, table.default3, table.default4
{
	font-size: 94%;
	text-align: left;
}

table.default4 tbody td.cost, table.default4 tbody td.totalcost, table.default4 thead th.cost
{
	text-align: right;
}

table.default4 tbody td.cost30
{
	text-align: right;
}

table.default4 tbody td.totalcost
{
	font-size: 12pt;	
}

table .cost2pcTotal
{
	font-size: 12pt;
}

table.quotationitems_subtotal .cost2pcTotal
{
	font-size: 10pt;	
}

#JT_copy table.default2, #JT_copy table.default2 thead th, #JT_copy table.default2 thead td
 table.cwms-tooltip.default2, table.cwms-tooltip.default2 thead th, table.cwms-tooltip.default2 thead td
{
	font-size: 86%;
}

table.tablesorter thead tr th, table.tablesorter thead tr td, table.tablesorter tfoot tr td,
table.default2 thead tr th, table.default2 thead tr td, table.default2 tfoot tr td, table.default2 tbody tr th,
table.cwms-tooltip.default2 thead tr th, table.cwms-tooltip.default2 thead tr td, table.cwms-tooltip.default2 tfoot tr td, table.cwms-tooltip.default2 tbody tr th,
table.boxytable thead tr th, table.boxytable thead tr td, table.boxytable tfoot tr td, table.boxytable tbody tr th,
table.default3 thead tr th, table.default3 thead tr td, table.default3 tfoot tr td, table.default3 tbody tr th,
table.default4 thead tr th, table.default4 thead tr td, table.default4 tfoot tr td, table.default4 tbody tr th
{
	font-size: 8pt;
	text-align: left;
}

table.default2 tbody tr th.center
{
	text-align: center;
}

table.default2 tbody tr th.right
{
	text-align: right;
}


/*
**********************************************************************************************************************************
*
*	list styles
*
**********************************************************************************************************************************
*/
	
ul.small-left
{
	text-align: right;
	font-size: 110%;
}
	
ul.small-right
{
	text-align: center;
	font-size: 110%;
}

/*
**********************************************************************************************************************************
*
*	ajax list display styles
*
**********************************************************************************************************************************
*/

#contactlist a, #contactlist a:hover
{
	text-decoration: none;
}

a.contactlink
{
	font-size: 0.9em;
}

a.contactlink:hover
{  
	font-size: 0.9em;
	font-weight: bold;
}

.ajaxcompany
{
	font-size: 1.0em;
	font-weight: bold;
}

.ajaxsubdiv
{
	font-size: 0.9em;
	font-weight: bold;
}
div#tabs, div#tabs a
{
	font-family: arial, helvetica, sans-serif;
	font-size: 1.0em;
}
/* company and contact search page ajax container divs */
/* additionally company and contact plugin styles */
#companyDiv, #contactDiv, .pluginResults, .generalResults
{
	text-align: left;
}

/* company search page anchor style */
#companyDiv a:link, #companyDiv a:visited , .pluginResults a:link, .pluginResults a:visited,
.generalResults a:link, .generalResults a:visited
{
	text-decoration: none;
}

/* company search page ajax headings */
#companyDivHead .headcorole, #companyDivHead .headcomp, #companyDivHead .headlegal
{
	white-space: nowrap;
}

/* company search page styles */
#companyDiv a .corolename, #companyDiv a .compname, #companyDiv a .legalidentifier
{
	white-space: nowrap;
}

/* contact and company search pages ajax headings */
#contactDivHead, #companyDivHead, .pluginHeader, .generalHeader
{
	text-align: center;
}

/* contact search page result anchors */
#contactDiv a.conname, #contactDiv a.connameSel,
#contactDiv a.compname, #contactDiv a.compnameSel
{
	white-space: nowrap;
	text-decoration: none;
}

/* contact search page result anchors */
#contactDiv a.compname, #contactDiv a.compnameSel
{
	font-size: 86%;
}

/*
**********************************************************************************************************************************
*
*	niftycorner styles
*
**********************************************************************************************************************************
*/

ul#termsandconditions h3
{
	text-align: center;
}

#termscontainer p span
{
	font-size: 94%;
	font-weight: bold;
}

/* styles for the symbol box popup */

.symbolBoxDiv > div
{	
	text-align: center;	
}

.symbolBoxDiv table.default2 tbody td
{	
	text-align: center;	
	font-size: larger;
	font-weight: bold;	
}

/* styles for workflow editor */

.workfloweditor span.activity
{
	color: green;
}

.workfloweditor span.status
{
	color: blue;
}

.workfloweditor span.lookup
{
	color: red;
}
.combo-size {
	width: 195px;
}
* {
	--lumo-font-size-s : 11px;
	--lumo-text-field-size : 25px !important;
}