/*****************************************************************************************************************************************************
'									CWMS (Calibration Workflow Management System)
'										
'									Copyright 2006, Antech Calibration Services
'											www.antech.org.uk
'							
'											All rights reserved
'				
'										Document author: 	Stuart Harrold
'
'	FILENAME			:	text_web.css
'	DESCRIPTION			: 	cascading stylesheet file for website.
'	DEPENDENCIES		: 	-
'
'	TO-DO				: 	-
'	KNOWN ISSUES		: 	-
'	HISTORY				: 	19/03/2009 - SH - Created file.
'
****************************************************************************************************************************************************/

/*
**********************************************************************************************************************************
*
*	global classes
*
**********************************************************************************************************************************
*/

.text-left     			{ text-align:left; }
.text-right    			{ text-align:right; }
.text-center   			{ text-align:center; }
.text-justify  			{ text-align:justify; }

.bold         			{ font-weight:bold; }
.italic        			{ font-style:italic; }
.underline     			{ border-bottom: 1px solid; }

.text-large				{ font-size: 116%; }
.strike 				{ text-decoration: line-through; color: #777777; padding-bottom: 2px; }

/*
**********************************************************************************************************************************
*
*	global element styles
*
**********************************************************************************************************************************
*/

body
{
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
}

input, select, textarea, button
{
	font-family: arial, helvetica, sans-serif;
	font-size: 100%;
}

fieldset 
{
	text-align: left;
}

label
{
  	line-height: 1.8;
}

fieldset ol li
{
	list-style-type: none;
}

fieldset ol li ul li
{
	list-style-type: disc;
}

fieldset ol li span
{
	line-height: 1.9;
}

fieldset fieldset legend
{
	font-weight: normal;
	font-size: 100%;
}

caption
{
	font-size: 1.4em;
}

/*
**********************************************************************************************************************************
*
*	link styles
*
**********************************************************************************************************************************
*/

a.mainlink:link, a.mainlink:visited, a.mainlink-float:link, a.mainlink-float:visited
{
	font-weight: bold;
	text-decoration: none;
}

a.mainlink-strike:link, a.mainlink-strike:visited, a.mainlink-strike:active
{
	font-weight: bold;
	text-decoration: line-through;
	line-height: normal;
}
		
a.mainlink:hover, a.mainlink-float:hover, a.mainlink-strike:hover
{
	text-decoration: underline;
}

/*
**********************************************************************************************************************************
*
*	template heading styles
*
**********************************************************************************************************************************
*/

.headLink
{
	font-weight: bold;
	font-size: 106%;
}

.loggedInUser
{
	text-align: left;
}

.headLinkList
{
	text-align: right;
}
	
.headLinkList a, .loggedInUser a
{
	font-weight: bold;
	text-decoration: none;
}

.loggedInUser a
{
	font-size: 94%;
}

.headLinkList a:hover, .loggedInUser a:hover, .mainBoxHeadLinks a:hover
{
	text-decoration: underline;
}

.mainBox
{
	text-align: center;
}

.mainBoxHead
{
	text-align: left;
}

.logotext
{
	line-height: 26px;
	font-size: 20px;
}

.mainBoxHeadLinks
{
	font-weight: bold;
	line-height: 1.9;
}

.mainBoxHeadLinks a, .mainBoxHeadLinks span
{
	font-weight: bold;
	text-decoration: none;
}

.mainBoxTabs
{
	text-align: left;
}

.mainBoxTabsContainer a
{
	text-decoration: none;
}

/*
**********************************************************************************************************************************
*
*	template body styles
*
**********************************************************************************************************************************
*/

.mainBoxBody
{
	text-align: left;
}

.mainBoxBodyContentFooter
{
	text-align: center;
}

/*
**********************************************************************************************************************************
*
*	sub navigation styles
*
**********************************************************************************************************************************
*/

#subnav dl
{
	text-align: center;
}

#subnav dt
{
	text-align: center;
	font-size: 100%;
}

#subnav dt a
{
	text-decoration: none;
}

/*
**********************************************************************************************************************************
*
*	web search plugin - collection/delivery styles
*
**********************************************************************************************************************************
*/

.webSearchPlugin
{
	text-align: left;
}

table.quoteBasket, table.webResults
{
	text-align :inherit; font-size :inherit;
}

table.quoteBasket .QBqty, table.quoteBasket .QBdel, table.collectBasket .CBqty, table.collectBasket .CBctype,
table.collectBasket .CBcturn, table.collectBasket .CBfaulty, table.collectBasket .CBdel,
table.webResults .Mqty, table.webResults .Madd, table.webResults .Iadd
{
	text-align: center;
}

/*
**********************************************************************************************************************************
*
*	table styles
*
**********************************************************************************************************************************
*/

table.default
{
	font-size: 8pt;
	text-align: left;
}


table.default thead tr th, table.default thead tr td, table.default tfoot tr td, table.default tbody tr th
{
	font-size: 8pt;
}

table.default thead th
{
	text-align: left;
}

table.boxy-wrapper
{
	text-align :inherit; font-size :inherit;
}
