<div id="CompanySearchFixture">
	<ol>
		<li id="compCoroles">					
			<input type="checkbox" class="checkbox" id="Client" name="Client" value="Client" onclick=" addCorole(this.value, 'array'); " checked="checked" /> <a href="#" title="Client" class="thinlink" onclick=" addCorole(this.title, 'single'); return false; ">Client</a>
			<input type="checkbox" class="checkbox" id="Supplier" name="Supplier" value="Supplier" onclick=" addCorole(this.value, 'array'); " /> <a href="#" title="Supplier" class="thinlink" onclick=" addCorole(this.title, 'single'); return false; ">Supplier</a>
			<input type="checkbox" class="checkbox" id="Prospect" name="Prospect" value="Prospect" onclick=" addCorole(this.value, 'array'); " /> <a href="#" title="Prospect" class="thinlink" onclick=" addCorole(this.title, 'single'); return false; ">Prospect</a>
			<input type="checkbox" class="checkbox" id="Utility" name="Utility" value="Utility" onclick=" addCorole(this.value, 'array'); " /> <a href="#" title="Utility" class="thinlink" onclick=" addCorole(this.title, 'single'); return false; ">Utility</a>
			<input type="checkbox" class="checkbox" id="Business" name="Business" value="Business" onclick=" addCorole(this.value, 'array'); " /> <a href="#" title="Business" class="thinlink" onclick=" addCorole(this.title, 'single'); return false; ">Business</a>
			<input type="checkbox" class="checkbox" id="All" name="All" value="All" onclick=" addCorole(this.value, 'array'); clearForm(); " /> Search All&nbsp;&nbsp;
			<a href="#" class="mainlink" onclick=" runCompanyAjax('%'); return false; ">List All</a>
		</li>						
		<li>
			<div class="center">
				Search de-activated companies?
				<input type="checkbox" class="checkbox" name="active" id="active" onclick=" clearForm(); " />
			</div>
		</li>													
		<li>
			<div>
				<div>
					<!-- company search field calls dwr function to retrieve all matches -->
					<input name="coname" type="text" id="coname" onkeyup="runCompanyAjax(this.value); return false; " autocomplete="off" />
					<!-- this div and spans create the headings for the company list -->
					<div id="companyDivHead">
						<span class="headcomp">Company</span>
						<span class="headcorole">Role</span>
					</div>
					<!--  this div displays ajax results for the company search -->
					<div id="companyDiv">
					</div>
				</div>
				<!-- this span displays the loading image and text when a search has been activated  -->
				<span id="loading" class="hid">
					<img src="img/icons/loading-anim.gif" class="img_marg_bot" height="18" width="80" alt="" />
				</span>

			</div>
		</li>
		<li>
			<input type="button" id="newcompany" value="Add New Company" onclick="window.location.href='/cwms/addcompany.htm'" />
		</li>
	</ol>										
</div>	