<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <style></style>
    </head>
    <body>
		<p
			th:text="#{email.dearclient}"> Dear Client,
		</p>	
		<p th:with="dateFrom=${#temporals.format(recallDetail.recall.dateFrom,'yyyy-MM-dd')} , 
					dateTo=${#temporals.format(recallDetail.recall.dateTo,'yyyy-MM-dd')}"
			 th:text="#{email.recall.summary(${dateFrom}, ${dateTo})}">
			 This is a recall reminder for your equipment which is due for calibration between {0} and {1}.
		</p>	
            <table border="0" cellpadding="10" cellspacing="0" width="600" id="emailContainer">
                <tr>
                    <td align="left" valign="top">
						<div th:text="#{email.ourref}"> Our Ref:</div>
                    </td>
                    <td align="left" valign="top" th:text="${recallDetail.recall.recallNo}">
						Sample recall number
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
						<div th:text="#{email.company.label}"> Company: </div>
                    </td>
                    <td align="left" valign="top" th:text="${recallDetail.contact.sub.comp.coname}">
						Sample company name
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
						<div th:text="#{email.subdivision.label}">  Subdivision: </div>
                    </td>
                    <td align="left" valign="top" th:text="${recallDetail.contact.sub.subname}">
						 Sample subdivision name
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
						<div th:text="#{email.address.label}"> Address: </div>
                    </td>
                    <td align="left" valign="top">
						<span th:text="${recallDetail.address.addr1}">Address Line 1</span> - <span th:text="${recallDetail.address.town}">Town</span>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
						<div th:text="#{email.contact.label}"> Contact: </div>
                    </td>
                    <td align="left" valign="top" th:text="${recallDetail.contact.name}">
						 Sample contact name
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
						<div th:text="#{email.recall.reporttype}"> Recall Type </div>
                    </td>
                    <td align="left" valign="top" th:text="${recallDetail.recallType}">
						 Sample recall type
                    </td>
                </tr>
            </table>
            <br/>
            <table border="0" cellpadding="0" cellspacing="0" width="800" id="textContainer">
            	<tr><td th:utext="${customText}">Custom Text</td></tr>
            </table>
			<br/>
			<p th:text="#{email.kindregards}">Kind Regards,</p>
			<strong th:text="${businessCompanyName}">Trescal business company name</strong><br />
    </body>
</html>