.tooltip {
  position: absolute;
  border: 2px solid #A80000;
  border-top: none;
  background-color: #D9ECFF;
  color: black;
  width: 400px;
  display: inline-block;
}

.tooltip .tooltip-header {
    background-color: #A80000;
    display: flex;
    height: 23px;
}

.tooltip .tooltip-header .arrow-left {
          width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 12px solid #A80000;
      border-bottom: 10px solid transparent;
      transform: translateX(-120%);
}

.tooltip .tooltip-header .tooltip-title {
    color: #eee;
    text-transform: uppercase;
    flex-grow: 2;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    padding-top: 4px;
}






.tab-nav-main .tab-element:hover:after {
    content: "";
    border: 5px solid transparent;
    border-bottom-color: #a5d7f1;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -5px;
  }

   .tab-nav-main {
        display:flex;
        height:32px;
        background: linear-gradient(to bottom, #86a2ca 0%,#a5d7f1 3%,#61bfed 6%,#61bfed 13%,#5cbdec 16%,#5cbdec 26%,#55bae9 29%,#55bae9 42%,#4bb5e6 45%,#4bb5e6 61%,#44b3e5 65%,#44b3e5 87%,#3bafe3 90%,#3bafe3 94%,#a5d7f1 97%,#86a2ca 100%); 
    }
    

.tab-nav-main .tab-element {
        color: #fff;
    background: linear-gradient(to bottom, #86a2ca 0%,#a5d7f1 3%,#004d6e 6%,#006699 10%,#006699 19%,#00628d 23%,#00628d 45%,#005b84 48%,#005b84 71%,#00567b 74%,#00567b 90%,#004562 94%,#a5d7f1 97%,#86a2ca 100%);
    display: block;
    float: left;
    text-decoration: none;
    padding: 8px 18px 0;
    text-transform: uppercase;
    font-weight: bold;
    height: 22px;
    position: relative;
}