<%@ tag language="java" display-name="jobnoProjectionLinkWeb" pageEncoding="UTF-8" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>

<%@ attribute name="jobid" required="true" type="java.lang.Object" %>
<%@ attribute name="jobno" required="true" type="java.lang.Object" %>


<a href="viewjob.htm?jobid=${jobid}" class="mainlink">${jobno}</a>
