<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html" />

	<title
		th:text="#{email.genericbackgroundtaskcompletion.title(${jobExecution.jobInstance.jobName},${bgTask.id})}">
		Background task {0} with id {1} has been completed
	</title>
</head>

<body class="document">

	<!-- page div -->
	<div style="height: 25cm; position: relative;">
		
		<span th:text="#{email.genericbackgroundtaskcompletion.hi}">Hi</span>&nbsp;<span th:text="${bgTask.submittedBy.name}"></span>,<br/><br/>
		<span th:text="#{email.genericbackgroundtaskcompletion.title(${jobExecution.jobInstance.jobName},${bgTask.id})}">Background task {0} with id {1} has been completed</span> 
		. <span th:text="#{email.genericbackgroundtaskcompletion.seedetails}">For more details you can see :</span>
		<a th:href="${detailsURL}" th:text="${bgTask.id}">Link</a> <br/>
		<br/>
		
		<strong style="text-decoration: underline;" th:text="#{email.genericbackgroundtaskcompletion.request.information}"> Request Information: </strong>
		<br/>
		<strong th:text="#{batch.existstatus}" >Exit Status</strong>: <span th:text="${jobExecution.exitStatus.exitCode}"></span>
		<br/>
		<strong th:text="#{batch.existmessage}">Exit Message</strong>: <span th:text="${jobExecution.exitStatus.exitDescription}"></span>
		<br/>
		<strong th:text="#{batch.submittedby}">Submitted by</strong>: <span th:text="${bgTask.submittedBy.name}"></span>
		<br/>
		<strong th:text="#{batch.submittedon}">Submitted on</strong>: <span th:text="${#dates.format(bgTask.submitedOn, 'dd-MM-yyyy HH:mm:ss')}"></span>
		<br/>
		<strong th:text="#{batch.startedon}" >Started on</strong>: <span th:text="${#dates.format(jobExecution.startTime, 'dd-MM-yyyy HH:mm:ss')}"></span>
		<br/>
		<strong th:text="#{batch.completedon}" >Completed on</strong>: <span th:text="${#dates.format(jobExecution.endTime, 'dd-MM-yyyy HH:mm:ss')}"></span>
		<br/>
		<strong th:text="#{batch.client}" >Client</strong>: <span th:text="${bgTask.clientSubdiv.subname}"></span>
		<br/>
		<br/>
		
		<span th:text="#{email.genericbackgroundtaskcompletion.thanks}">Thanks.</span>

	</div>

</body>

</html>