/*****************************************************************************************************************************************************
'									CWMS (Calibration Workflow Management System)
'										
'									Copyright 2006, Antech Calibration Services
'											www.antech.org.uk
'							
'											All rights reserved
'				
'										Document author: 	Stuart Harrold
'
'	FILENAME			:	print.css
'	DESCRIPTION			: 	Cascading Style Sheets file which defines all styles for print media.
'	DEPENDENCIES		: 	-
'
'	TO-DO				: 	-
'	KNOWN ISSUES		: 	-
'	HISTORY				: 	21/08/2007 - SH - Created file.
'
****************************************************************************************************************************************************/


/*
*********************************************************************************************************************************
*
*	site wide styles
*
*********************************************************************************************************************************
*/

body
{
	margin: 0;
	font-family: arial, helvetica, sans-serif;
	font-size: 90%;
}

a
{
	color: black;
	text-decoration: none;
}

/* hide all header banners */
.banner-column1, .banner-column2, .banner-column3
{
	display: none;
}

/* hide all display columns */
.display-column1, .display-column2, .display-column3
{
	display: none;
}

/* hide the navigation menu and submenu's */
.navigation-holder, #subnav, #subnavtab
{
	display: none;
}

/* hide heading text */
.contenthead
{
	display: none;
}

/* extend maincontent div's to display over whole page */
.maincontent, .headtext, .contentframe, .contentbody
{
	font-size: 10px;
	width: 100%;
	border: 0;
	margin: 0;
}

/* styles for schedule printing */
#agreedsched-tab, #schedAgreedPrintables, #schedProvPrintables
{
	font-size: 90%;
	display: block;
}

#provisionalsched-tab
{
	display: none;	
}

#scheduleresults .schedassign
{
	width: 12%;
}

#scheduleresults .schednotes
{
	width: 28%;
}

/* styles for schedule printing */
.hideonprint
{
	display: none;
}

.footer
{
	display: none;
}

